{{component (if this.confirmIdentifier "input/md-input-confirm" "input/md-input")
  valuePath="identifier"
  model=this
  confirmTip="Note! Editing the identifier may break links. Be aware."
  placeholder="Enter the identifier for the resource"
  label="Identifier"
  required=true
  showValidations=true
  profilePath=(concat this.profilePath ".identifier")
  data-spy=(if this.data-spy "Identifier")
  class="md-embedded"
}}

<Input::MdCodelist @label="Namespace" @data-spy={{if this.data-spy "Namespace"}} @class="md-embedded" @placeholder="Select or type a namespace for the identifier." @create={{true}} @required={{false}} @tooltip={{true}} @icon={{false}} @disabled={{this.disabled}} @allowClear={{true}} @mdCodeName="namespace" @valuePath="code" @value={{this.model.namespace}} @profilePath={{concat this.profilePath ".namespace"}} />

{{#liquid-unless this.isCollapsed}}
  <Input::MdInput @value={{this.model.version}} @placeholder="Enter the version for the identifier." @label="Version" @profilePath={{concat this.profilePath ".version"}} />

  <Input::MdTextarea @value={{this.model.description}} @profilePath={{concat this.profilePath ".description"}} @label="Description" @placeholder="Enter a description of the identifier." />

  {{#unless this.short}}
    <Layout::MdCard @title="Authority" @shadow={{true}} @collapsible={{true}} @data-spy={{if this.data-spy "Authority"}} @content={{this.model.authority}}>
      <Object::MdCitation @model={{this.model.authority}} @profilePath={{concat this.profilePath ".authority"}} @embedded={{true}} @data-spy={{this.data-spy}} @simpleIdentifier={{true}} />
    </Layout::MdCard>
  {{/unless}}
{{/liquid-unless}}

{{#if this.collapsible}}
  <p class="text-right">
    <a type="button" role="button" class="plain-link" {{action (toggle "collapse" this)}}>
      <FaIcon @icon={{if this.isCollapsed "caret-down" "caret-up"}} /> {{if this.isCollapsed "More" "Less"}}
    </a>
  </p>
{{/if}}
{{yield}}