{{#if column.truncate}}
  {{word-limit
    (get record column.propertyName)
    limit=column.wordLimit
    wordLength=column.wordLength
  }}
{{else if column.break}}
  <div class='word-break-all inline-block'>
    {{get record column.propertyName}}
  </div>
{{else}}
  {{get record column.propertyName}}
{{/if}}