{{#if this.column.truncate}}
  {{word-limit
    (get this.record this.column.propertyName)
    limit=this.column.wordLimit
    wordLength=this.column.wordLength
  }}
{{else if this.column.break}}
  <div class="word-break-all inline-block">
    {{get this.record this.column.propertyName}}
  </div>
{{else}}
  {{get this.record this.column.propertyName}}
{{/if}}
