{{input/md-input
  label="Name"
  data-spy="Name"
  model=this
  valuePath="name"
  placeholder="The name(title) of the raster."
  profilePath=(concat profilePath ".coverageName")
  showValidations=true
}}
{{input/md-input
  label="Description"
  data-spy="Description"
  model=this
  valuePath="description"
  placeholder="A description of the raster"
  profilePath=(concat profilePath ".coverageDescription")
  showValidations=true
}}
{{#if processLvlCode}}
  {{#layout/md-card
    collapsible=true
    title="Processing Level Code"
    required=(v-get this "isInvalid")
    collapsed=true
    shadow=false
    profilePath=(concat profilePath ".processingLevelCode")
  }}
    {{!-- <label  class={{concat "text-info" (if (v-get this "isInvalid") "
    required")}}>Processing Level Code</label> --}}
    {{object/md-identifier
      model=model.processingLevelCode
      profilePath=(concat profilePath ".processingLevelCode")
    data-spy=false
    }}
  {{/layout/md-card}}
{{/if}}


{{#layout/md-card
  shadow=false
  collapsible=true
  title="Attribute Group"
  required=(v-get this "isInvalid")
  collapsed=true
  profilePath=(concat profilePath ".attributeGroup")}}
  {{object/md-attrgroup}}
{{/layout/md-card}}
{{yield}}