<div class="row">
  <div class="col-sm-9">
    {{sb-tree
      labelComponent="sb-tree-label"
      model=model
      selected=selected
      select=(action "selectRecord")
    }}
  </div>
  <div class="col-sm-3">
    <div class="md-control-sidebar">
      {{#unless hasToken}}
        {{input/md-input
          value=this.rawToken
          placeholder="Enter ScienceBase token"
        }}
        <button
          style="margin-top: 5px;"
          type="button"
          class="btn btn-lg btn-primary"
          disabled={{if rawToken false true}}
          {{action "addToken"}}
        >
          Add token
        </button>
      {{else}}
        {{#if tokenService.token}}
        <div class="card">
          <div class="card-block">
            Token added for
            {{tokenService.userName}}
            Expires
            {{moment-format tokenService.expiry 'LLL'}}
          </div>
        </div>
        <hr />
        {{/if}}
        <button
          type="button"
          class="btn btn-lg btn-primary"
          disabled={{if canPublish false true}}
          {{action "publish"}}
        >
          Publish
        </button>
      {{/unless}}
    </div>
  </div>
</div>