<div class="row">
  <div class="col-sm-9">
    {{sb-tree labelComponent="sb-tree-label" model=model selected=selected select=(action "selectRecord")}}
  </div>
  <div class="col-sm-3">
  <div class="md-control-sidebar">
  {{#if isLoadingCreds}}
    <div class="text-info">
      Logging in...
      {{fa-icon "spinner" spin=true size=3}}
    </div>
  {{else}}
    {{#unless credInfo}}
      <div class="=form">
        <h4 class="text-info">Login to ScienceBase</h4>
        {{input/md-input type="text" value=username label="Username"}}
        {{input/md-input type="password" label="Password" change=(action "hash" value="target.value")}}
        <button type="button"
          class="btn btn-lg btn-success"
          disabled={{canLogin}}
          {{action "login"}}>Login</button>
      </div>
      {{else}}
        <button type="button"
          class="btn btn-lg btn-primary"
          disabled={{if canPublish false true}}
          {{action "publish"}}>Publish</button>
        <hr>
        <div class="card">
          <div class="card-block">
            Logged in as: {{credInfo.username}}
          </div>
        </div>
    {{/unless}}
  {{/if}}
  </div>
  </div>
</div>
