<span class="tree-label-text tree-cell {{if model.notSelectable "text-muted"}}">
  <span class="tree-cell {{if model.isRoot "tree-root-label"}}">
    {{fa-icon model.icon}} {{model.label}}
  {{!-- </span> --}}

  {{!-- <span class="tree-cell"> SB Id: --}}
    {{#if model.sbId}}
        : <a href="{{model.config.rootItemURL}}{{model.sbId}}" target="_blank" class="md-fa-link" onclick={{action "clicked" preventDefault=false}}>
          {{model.sbId}}<sup>{{fa-icon "external-link"}}</sup>
        </a>
    {{else}}
      : <em>No Id</em>
    {{/if}}
  </span>
  {{#unless model.isRoot}}
  <span class="tree-cell"> Parent Id:
    {{#if model.sbParentId}}
        <a href="{{model.config.rootItemURL}}{{model.sbParentId}}" target="_blank" class="md-fa-link" onclick={{action "clicked" preventDefault=false}}>
          {{model.sbParentId}}<sup>{{fa-icon "external-link"}}</sup>
        </a>
    {{else}}
      <em>None</em>
    {{/if}}
  </span>

  {{#if model.isLoading}}
    <span class="tree-cell text-info text-nowrap"> <strong>{{fa-icon "spinner" spin=true}} Publishing... </strong></span>
  {{else}}
    {{#if model.xhrError}}
      <span class="tree-cell text-danger">{{fa-icon "exclamation-circle"}} Publishing Error
          {{tooltip-on-element text=model.xhrError side="right"}}
      </span>
    {{else}}
      <span class="tree-cell"> {{if model.sbDate (moment-format model.sbDate "LLL") "--"}}</span>
    {{/if}}
  {{/if}}
  {{/unless}}

</span>
