<span class="tree-label-text tree-cell {{if model.notSelectable "text-muted"}}">
  <span class="tree-cell">
    {{fa-icon model.icon}} {{model.label}}
  {{!-- </span> --}}

  {{!-- <span class="tree-cell"> SB Id: --}}
    {{#if model.sbId}}
        <a href="{{model.config.rootItemURL}}{{model.sbId}}" target="_blank" class="md-fa-link" onclick={{action "clicked" preventDefault=false}}>
          ({{model.sbId}}<sup>{{fa-icon "external-link"}}</sup>)
        </a>
    {{else}}
      <em>(No Id)</em>
    {{/if}}
  </span>
  {{#unless model.isRoot}}
  <span class="tree-cell"> Parent Id:
    {{#if model.sbParentId}}
        <a href="{{model.config.rootItemURL}}{{model.sbParentId}}" target="_blank" class="md-fa-link" onclick={{action "clicked" preventDefault=false}}>
          {{model.sbParentId}}<sup>{{fa-icon "external-link"}}</sup>
        </a>
    {{else}}
      <em>None</em>
    {{/if}}
  </span>
  {{/unless}}

  {{#if model.isLoading}}
    <span class="tree-cell
  text-info"> <strong>{{fa-icon "spinner" spin=true}} Publishing... </strong></span>
  {{/if}}
</span>
