<div class="form-group border">
    <div class="form-group">
        {{#if label}}
            <label>{{label}}</label>
        {{/if}}
        {{#if buttonTop}}
            <button {{action "addItem"}} class="btn btn-success btn-xs pull-right">
                <span class="fa fa-plus"></span> {{buttonText}}
            </button>
        {{/if}}
        <table class="table table-striped table-hover">
            {{#if header}}
                <thead>
                <th>#</th>
                <th class="col-sm-9">{{header}}</th>
                <th></th>
                </thead>
            {{/if}}
            <tbody>
                {{#each items as |inputItem index|}}
                <tr>
                    <td>{{index}}</td>
                    <td>
                        {{input/md-input
                        type=type
                        value=inputItem.val
                        maxlength=maxlength
                        placeholder=placeholder}}
                    </td>
                    <td>
                        <button {{action "deleteItem" index}} class="btn btn-warning btn-xs pull-right">Delete!</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            {{#unless buttonTop}}
            <tfoot>
                <tr>
                    <td colspan=3>
                        <button {{action "addItem"}} class="btn btn-success btn-xs">
                            <span class="fa fa-plus"></span> {{buttonText}}
                        </button>

                    </td>
                </tr>
            </tfoot>
            {{/unless}}
        </table>
    </div>
    {{yield}}
</div>
