{{#with model.json.metadata.metadataInfo as |metadata|}}
<div class="row">
    <form class="col-sm-11 col-md-offset-1">
  {{object/md-party
    title="Metadata Contact"
    data-spy="Metadata Contact"
    collapsible=true collapsed=false
    required=true
    value=metadata.metadataContact
    profilePath="record.metadata.metadataContact"
  }}

  {{#layout/md-card
    title="Default Metadata Locale"
    shadow=true
    data-spy="Default Locale"
    profilePath="record.metadata.defaultLocale"
  }}
    {{object/md-locale model=model modelPath="json.metadata.metadataInfo.defaultMetadataLocale"}}
  {{/layout/md-card}}

{{#with model.json.metadata.metadataInfo.metadataIdentifier as |identifier|}}
  {{#layout/md-card title="Metadata Identifier" collapsible=true collapsed=false
    profilePath="record.metadata.metadataIdentifier" required=false
    btnText="Edit" btnClass="success" btnAction=(route-action "editIdentifier") btnIcon="pencil"
  }}
  <div class="row">
    <dl class="dl-horizontal">
      {{control/md-definition title="Identifier" text=identifier.identifier}}
      {{!-- {{#control/md-definition title="Identifier"}}
      {{input/md-input value=identifier.identifier}}
      {{/control/md-definition}} --}}
      {{control/md-definition title="Namespace" text=identifier.namespace}}
    </dl>
  </div>
  {{/layout/md-card}}
{{/with}}
  {{outlet}}
</form>
</div>
{{/with}}
{{to-elsewhere named="md-scroll-spy-record-edit"
  send=(component "control/md-scroll-spy" scrollInit=scrollTo setScrollTo=(route-action "setScrollTo"))}}
