{{#with model.json.metadata.metadataInfo as |metadata|}}
<div class="row">
  <form class="col-xxl-11 col-xxxl-10 col-xxl-offset-1">
    <h4 class="section-header">
      Editing Metadata Information
      <Control::MdStatus @model={{model}} />
    </h4>
    <Layout::MdCard @title="Basic Information" @collapsible={{true}} @collapsed={{false}} @profilePath="record.metadata.basicInformation" @data-spy="Basic Information">

      <Input::MdCodelist @value={{metadata.metadataStatus}} @label="Metadata Status" @create={{true}} @tooltip={{true}} @icon={{false}} @mdCodeName="progress" @placeholder="Select the current status" @profilePath="record.metadata.basicInformation.metadataStatus" @data-spy={{false}} @class="md-embedded" />

      <Layout::MdCard @profilePath="record.metadata.basicInformation.metadataDates" @data-spy={{false}} @shadow={{false}} @class="md-embedded">
        <Object::MdDateArray @value={{metadata.metadataDate}} @plain={{true}} @data-spy={{false}} @profilePath="record.metadata.basicInformation.metadataDates" />
      </Layout::MdCard>
    </Layout::MdCard>

    <Object::MdPartyArray @title="Metadata Contact" @data-spy="Metadata Contacts" @collapsible={{true}} @collapsed={{false}} @required={{true}} @value={{metadata.metadataContact}} @profilePath="record.metadata.metadataContacts" />

    {{#with model.json.metadata.metadataInfo.metadataIdentifier as |identifier|}}
      <Layout::MdCard @title="Metadata Identifier" @collapsible={{true}} @collapsed={{false}} @profilePath="record.metadata.metadataIdentifier" @required={{false}} @btnText="Edit" @btnClass="success" @btnAction={{route-action "editIdentifier"}} @btnIcon="pencil">
      <div class="row">
        <dl class="dl-horizontal">
          <Control::MdDefinition @title="Identifier" @text={{identifier.identifier}} />
          {{!-- {{#control/md-definition title="Identifier"}}
          {{input/md-input value=identifier.identifier}}
          {{/control/md-definition}} --}}
          <Control::MdDefinition @title="Namespace" @text={{identifier.namespace}} />
        </dl>
      </div>
      </Layout::MdCard>
    {{/with}}

    <Object::MdCitation::Preview @profilePath="record.metadata.parentMetadata" @citation={{metadata.parentMetadata}} @title="Parent Metadata" @muted={{true}} @editCitation={{route-action "editParent"}} />

    <Object::MdRepositoryArray @value={{model.json.metadataRepository}} @data-spy="Metadata Repository" @profilePath="record.metadata.repositories" />

    <Object::MdOnlineResourceArray @model={{metadata.metadataOnlineResource}} @profilePath="record.metadata.onlineResource" @data-spy="Online Resources" />

    <Layout::MdCard @title="Metadata Maintenance" @collapsible={{true}} @content={{metadata.metadataMaintenance}} @profilePath="record.metadata.maintenance">
      <Object::MdMaintenance @model={{metadata.metadataMaintenance}} @profilePath="record.metadata.maintenance" />
    </Layout::MdCard>

    <Layout::MdCard @title="Default Metadata Locale" @shadow={{true}} @data-spy="Default Locale" @profilePath="record.metadata.defaultLocale" @collapsible={{true}} @content={{metadata.defaultMetadataLocale}}>
      <Object::MdLocale @model={{metadata.defaultMetadataLocale}} @profilePath="record.metadata.defaultLocale" />
    </Layout::MdCard>

    <Object::MdCitationArray @model={{metadata.alternateMetadataReference}} @profilePath="record.metadata.alternateMetadataReference" @data-spy="Alternate Metadata" @editItem={{route-action "editAlternate"}} @label="Alternate Metadata Reference" />

    {{outlet}}
  </form>
</div>
{{/with}}

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  scrollInit=scrollTo setScrollTo=(route-action "setScrollTo")}} />
