<div class="row md-no-spotlight">
  {{#let model.json.dataDictionary as |dictionary|}}
  <div class="col-sm-9 col-md-offset-1">
    <h3>
      {{fa-icon "book" class="text-muted"}}

      Viewing Dictionary: {{model.title}}
      {{control/md-status model=model}}
    </h3>

    {{#layout/md-card shadow=false muted=true title="Main" bodyIsRow=false
      collapsible=true
      btnText="Edit" btnClass="success"
      btnAction=(route-action "linkTo" "dictionary.show.edit") btnIcon="pencil"
      data-spy="Main"
    }}
      <div class="row">
        <dl class="dl-horizontal col-xxl-6">
            {{control/md-definition title="Dictionary Id" text=model.json.dataDictionary.dictionaryId}}
            {{control/md-definition title="Dictionary Title" text=model.title}}
            {{control/md-definition title="Subject" text=(if dictionary.subject (join ", " dictionary.subject))}}
        </dl>
        <dl class="dl-horizontal col-xxl-6">
          {{#control/md-definition title="Responsible Party" }}
              {{#let dictionary.responsibleParty as |party|}}
                  {{html-safe (if party.role party.role "<em>No Roles assigned.</em>")}}
                  (
                  {{#each party.party as |contact index|}}
                      {{if index ", "}} {{control/md-contact-link contactId=contact.contactId}}
                  {{else}}
                      <em class="text-muted">No Contacts assigned.</em>
                  {{/each}}
                  )
                  <br>
                  {{else}}
                  <em class="text-muted">No responsibility assigned.</em>
              {{/let}}
          {{/control/md-definition}}
        </dl>
        <div class="col-xs-12">
          {{#layout/md-card shadow=false muted=true plain=true}}
            <div class="row">
              <div class="text-info col-xs-6 col-sm-3">Locale</div>
              <div class="col-xs-6 col-sm-3">
                <label class="text-nowrap">Character Set:</label>
                <span class="text-nowrap">{{get-property dictionary.locale "characterSet"}}</span>
              </div>
              <div class="col-xs-6 col-sm-3">
                <label>Country:</label>
                <span class="text-nowrap">{{get-property dictionary.locale "country"}}</span>
              </div>
              <div class="col-xs-6 col-sm-3">
                <label>Language:</label>
                <span>{{get-property dictionary.locale "language"}}</span>
              </div>
            </div>
          {{/layout/md-card}}
        </div>
      </div>

      {{#layout/md-card shadow=false muted=true title="Description"
        collapsible=true scroll=true maximizable=true
        class="md-embedded"
      }}
          {{md-markdown dictionary.description "Description not provided!"}}
      {{/layout/md-card}}

    {{/layout/md-card}}

    {{object/md-citation/preview
      profilePath="dictionary.main.citation"
      citation=dictionary.citation
      muted=true
      editCitation=(route-action "editCitation")
      data-spy="Citation"
    }}

    {{#layout/md-card shadow=false muted=true title="Domains" bodyIsRow=false
      collapsible=true
      btnText="Edit" btnClass="success"
      btnAction=(route-action "linkTo" "dictionary.show.edit.domain") btnIcon="pencil"
      data-spy="Domains"
    }}
    {{#if dictionary.domain}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            {{!-- <th>domainId</th> --}}
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each dictionary.domain as |domain index|}}
            <tr>
              <th scope="row">{{index}}</th>
              {{!-- <td>{{domain.domainId}}</td> --}}
              <td>{{get-property domain "codeName"}}</td>
              <td>{{#if domain.description}} {{word-limit domain.description}} {{else}} <em>Not Described</em>{{/if}}</td>
              <td>{{#link-to "dictionary.show.edit.domain.edit" index class="btn btn-xs btn-success"}}Edit{{/link-to}}</td>

            </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <div class="alert alert-info">
        <h3>No Domains found.
        </h3>
      </div>
      {{/if}}
    {{/layout/md-card}}

    {{#layout/md-card shadow=false muted=true title="Entities" bodyIsRow=false
      collapsible=true
      btnText="Edit" btnClass="success"
      btnAction=(route-action "linkTo" "dictionary.show.edit.entity") btnIcon="pencil"
      data-spy="Entities"
    }}
      {{#if dictionary.entity}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            {{!-- <th>entityId</th> --}}
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each dictionary.entity as |entity index|}}
            <tr>
              <th scope="row">{{index}}</th>
              {{!-- <td>{{entity.entityId}}</td> --}}
              <td>{{get-property entity "codeName"}}</td>
              <td>{{#if entity.description}} {{word-limit entity.description}} {{else}} <em>Not Described</em>{{/if}}</td>
              <td>{{#link-to "dictionary.show.edit.entity.edit" index class="btn btn-xs btn-success"}}Edit{{/link-to}}</td>

            </tr>

          {{/each}}
        </tbody>
      </table>
      {{else}}
      <div class="alert alert-info">
        <h3>No Entities found.
        </h3>
      </div>
      {{/if}}
    {{/layout/md-card}}
  </div>
  {{/let}}

  <div class="md-control-sidebar col-sm-2 no-nav">
    {{#control/md-crud-buttons
      model=model
      allowCopy=true
      allowDelete=true
      doDelete=(route-action "destroyDictionary")
      doCopy=(route-action "copyDictionary")
     }}
      {{#link-to "dictionary.show.edit" model.id class="btn btn-lg btn-success" }}
        {{fa-icon "pencil"}} Edit{{/link-to}}
    {{/control/md-crud-buttons}}
    <hr>
    {{#link-to "dictionaries" class="btn btn-lg btn-primary btn-block" }}
      {{fa-icon "list"}} Show List{{/link-to}}
    {{control/md-scroll-spy scrollInit=scrollTo setScrollTo=(route-action "setScrollTo")}}
  </div>
</div>
