{{#file-picker class="map-file-picker" fileLoaded="readData" progressValue=progress selectOnClick=false preview=false accept=fileTypes readAs="readAsArrayBuffer" }}
  <div class="map-dropzone-target">
    <span><i class="fa fa-bullseye"></i> Drop Here!</span>
  </div>
  {{#leaflet-draw lat=lat lng=lng zoom=zoom onLoad="setup" editLayers=layers closeForm=(action "closeForm") showForm=(action "showForm")}}
    {{!-- Specify child layer components here --}}
    {{#layer-group name="Terrain" baselayer=true default=true}}
      {{tile-layer url="http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.png" attribution=mapAttribution}}
    {{/layer-group}}

    {{geojson-layer geoJSON=worldOverlay stroke=false color="#555555" fillOpacity=0.1}}

    {{#feature-group name="Extents" default=true setFeatureGroup=setFeatureGroup}}
      {{#each layers as |l|}}
        {{lgeojson-layer geoJSON=l draw=true editLayers=layers}}
      {{/each}}
    {{/feature-group}}

    {{layer-control}}
  {{/leaflet-draw}}
  {{#unless formData}}
  <h4 class="table-title">Feature Properties</h4>
  {{#feature-table data=layers
    showForm=(action "showForm")
    zoomTo=(action "zoomTo")
    deleteFeature=(action "deleteFeature")
    showGlobalFilter=false
    showColumnsDropdown=false
    sendAction=sendAction
    pageSize=10 as |ft|
  }}
    {{!-- {{ft.global-filter}}
    {{ft.columns-dropdown}} --}}
      {{#ft.table as |table|}}
        {{table.header}}
        {{#table.body as |body|}}
          {{#if body.allColumnsAreHidden}}
            {{body.columns-hidden}}
          {{else}}
            {{#if body.visibleContent.length}}
              {{#each body.visibleContent as |record index|}}
              {{!-- {{debugger}} --}}
                {{body.row record=record
                  index=index
              }}
                {{#if (exists-in body.expandedItems record)}}
                  {{body.row-expand record=record index=index}}
                {{/if}}
              {{/each}}
            {{else}}
              {{body.no-data}}
            {{/if}}
          {{/if}}
        {{/table.body}}
        {{table.footer}}
      {{/ft.table}}
    {{ft.footer}}
  {{/feature-table}}
  {{else}}
  <h4 class="table-title">Edit Feature Properties
      <button class="btn btn-xs btn-info pull-right" {{action "closeForm"}} title="Close Form">
        <span class="fa fa-check"></span> OK
      </button>
  </h4>
  {{feature-form model=formData}}
  {{/unless}}
  {{yield}}
{{/file-picker}}
