<dl class="dl-horizontal col-lg-12">
    <dt>
      <h4 class="text-info">Lineage #{{this.index}}</h4>
    </dt>
    <dd></dd>
    <Control::MdDefinition @title="Statement" @text={{word-limit this.item.statement wordLength=20}} />
</dl>
<dl class="dl-horizontal col-lg-12">
    <Control::MdDefinition @title="Process Step">
        {{#each this.item.processStep as |step i|}}
          {{#if (lt i this.showLimit)}}
          <p>
            <span class="text-info">{{if step.stepId step.stepId i}}</span>: {{word-limit step.description limit=20 wordLength=20}}
          </p>
          {{/if}}
        {{else}}
            <em class="text-muted">No process steps assigned.</em>
        {{/each}}
    </Control::MdDefinition>
    {{#if this.item.processStep.length}}
      {{#if this.showMore}}
      <p class="text-right">
        <a type="button" role="button" class="plain-link" {{action (toggle "showMore" this)}}> <FaIcon @icon="caret-up" /> Less</a>
      </p>
      {{else}}
      <p class="text-right">
        <a type="button" role="button" class="plain-link" {{action (toggle "showMore" this)}}><FaIcon @icon="caret-down" /> More</a>
      </p>
      {{/if}}
    {{/if}}
</dl>
