<Layout::MdCard @title="Basic Information" @collapsible={{true}} @collapsed={{false}} @profilePath={{concat profilePath ".basicInformation"}} @data-spy={{if data-spy "Basic Information"}} @class={{if embedded "md-embedded"}} @shadow={{if embedded false true}} @required={{true}}>

  <Input::MdInput @value={{model.title}} @placeholder={{t "placeholders.citation.title"}} @label="Title" @required={{true}} @profilePath={{concat profilePath ".basicInformation.title"}} @data-spy={{if data-spy "Title"}} @class="md-embedded" />

  <Layout::MdCard @shadow={{false}} @profilePath={{concat profilePath ".basicInformation.alternateTitle"}}>
    <Object::MdSimpleArrayTable @data-spy={{false}} @title="Alternate Title" @plain={{true}} @value={{model.alternateTitle}} as |alt|>
        <td>
            <Input::MdInput @value={{alt.item.value}} @placeholder="Additional titles for the resource." />
        </td>
    </Object::MdSimpleArrayTable>
  </Layout::MdCard>

  <Layout::MdCard @shadow={{false}} @profilePath={{concat profilePath ".basicInformation.dates"}} @data-spy={{if data-spy "Dates"}} @class="md-embedded">
    <Object::MdDateArray @value={{model.date}} @plain={{true}} @data-spy={{false}} @profilePath={{concat profilePath ".basicInformation.dates"}} />
  </Layout::MdCard>


  {{#unless embedded}}
    <Input::MdInput @value={{model.edition}} @placeholder={{t "placeholders.citation.edition"}} @label="Edition" @profilePath={{concat profilePath ".basicInformation.edition"}} />

    <Input::MdCodelistMulti @value={{model.presentationForm}} @label="Presentation Form" @create={{true}} @tooltip={{true}} @icon={{false}} @mdCodeName="presentationForm" @closeOnSelect={{false}} @placeholder="Select or enter one or more forms." @profilePath={{concat profilePath ".basicInformation.presentationForm"}} />
  {{/unless}}

</Layout::MdCard>

<Object::MdPartyArray @title="Responsible Party" @data-spy={{if data-spy "Responsible Parties"}} @class={{if embedded "md-embedded"}} @collapsible={{true}} @collapsed={{false}} @required={{false}} @value={{model.responsibleParty}} @profilePath={{concat profilePath ".responsibleParty"}} />

<Object::MdOnlineResourceArray @model={{model.onlineResource}} @profilePath={{concat profilePath ".onlineResource"}} @class={{if embedded "md-embedded"}} @data-spy={{if data-spy "Online Resource"}} />


<Object::MdIdentifierArray @model={{model.identifier}} @profilePath={{concat profilePath ".identifier"}} @data-spy={{if data-spy "Identifier"}} @editItem={{editIdentifier}} @class={{if embedded "md-embedded"}} @visibility={{if simpleIdentifier false true}} />

<Object::MdIdentifierObjectTable @model={{model.identifier}} @profilePath={{concat profilePath ".identifierSimple"}} @data-spy={{if data-spy "Identifier"}} @visibility={{if simpleIdentifier true false}} @short={{shortIdentifier}} @class={{if embedded "md-embedded"}} />

<Object::MdIdentifierObjectTable @model={{model.identifier}} @profilePath={{concat profilePath ".identifierShort"}} @data-spy={{if data-spy "Identifier"}} @visibility={{false}} @short={{true}} @class={{if embedded "md-embedded"}} />

{{#unless embedded}}
  <Layout::MdCard @collapsible={{true}} @title="Series" @profilePath={{concat profilePath ".series"}} @data-spy={{if data-spy "Series"}} @content={{model.series}}>
    <Input::MdInput @value={{model.series.seriesName}} @placeholder={{t "placeholders.citation.seriesName"}} @label="Name" @profilePath={{concat profilePath ".series.name"}} />

    <Input::MdInput @value={{model.series.seriesIssue}} @placeholder="Enter the issue for the series." @label="Issue" @profilePath={{concat profilePath ".series.issue"}} />

    <Input::MdInput @value={{model.series.issuePage}} @placeholder="Enter the page(s) for the issue." @label="Page" @profilePath={{concat profilePath ".series.page"}} />
  </Layout::MdCard>

  <Object::MdSimpleArrayTable @title="Other Details" @required={{false}} @plain={{false}} @data-spy={{if data-spy "Other Details"}} @profilePath={{concat profilePath ".otherCitationDetails"}} @value={{model.otherCitationDetails}} as |val|>
    <td>
        <Input::MdTextarea @value={{val.item.value}} @placeholder="Enter additional detail about the citation." />
    </td>
  </Object::MdSimpleArrayTable>

  <Object::MdGraphicArray @model={{model.graphic}} @data-spy={{if data-spy "Graphic"}} @button-text="Add Graphic" @label="Graphic" @profilePath={{concat profilePath ".graphic"}} />
{{/unless}}

{{yield}}
