<h4 class="section-header">
  Editing Distributor #{{distributorId}} in <span class="text-success">Distribution #{{distributionId}}</span>
  {{#control/md-button-confirm
    class="btn btn-xs btn-danger"
    onConfirm=(route-action "deleteDistributor")
    tooltip="Delete Distributor?"
    tipClass="danger"
    tipSide="bottom"
  }}
    {{fa-icon "times"}} Delete
  {{/control/md-button-confirm}}
  {{control/md-status model=parentModel}}
</h4>

{{!-- {{#each model.distributor as |dist index|}}
  {{#if index}}
    <hr>
  {{/if}}
  {{#layout/md-card
  title=(concat "Distributor #" index)
  collapsible=true
  collapsed=false
  data-spy=(concat "Distributor " index)
  shadow=true
  spotlightEnabled=true
  class=(if (mod index 2) "md-card-even")
  }}
    <div class="card-buttons">
      <div class="row">
        <div class="col-sm-6">
          <button type="button" disabled="disabled" class="btn btn-md btn-success btn-block md-btn-responsive" {{action (route-action "editDistributor" index)}}>
            {{fa-icon "pencil"}} Edit More...</button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-md btn-danger btn-block md-btn-responsive" {{action (route-action "deleteDistributor" index)}}>
              {{fa-icon "times"}} Delete Distributor</button>
        </div>
      </div>
    </div> --}}
    {{object/md-distributor
      model=model
      distributorId=distributorId
      profilePath="record.distribution.distributor"
      editTransferOption=(route-action "editTransferOption")
    }}
  {{!-- {{/layout/md-card}}
{{else}}
  <h3 class="alert alert-info">No distributors found.
    <button type="button" class="btn btn-success" {{action (route-action "addDistributor")}}>
      {{fa-icon "plus"}} Add Distributor</button>
  </h3>
{{/each}} --}}

{{to-elsewhere
  named="md-subbar-extra"
  send=(component "control/subbar-link"
    text="Back to Distribution List"
    icon="arrow-left"
    type="primary"
    route="record.show.edit.distribution"
  )
}}

{{to-elsewhere named="md-scroll-spy-record-edit"
  send=(component "control/md-scroll-spy"  refresh=refresh scrollInit=scrollTo setScrollTo=(route-action "setScrollTo"))}}
