<h4 class="section-header">
  Editing Distributor #{{this.distributorId}} in <span class="text-success">Distribution #{{this.distributionId}}</span>
  <Control::MdButtonConfirm @class="btn btn-xs btn-danger" @onConfirm={{route-action "deleteDistributor"}} @tooltip="Delete Distributor?" @tipClass="danger" @tipSide="bottom">
    <FaIcon @icon="x" /> Delete
  </Control::MdButtonConfirm>
  <Control::MdStatus @model={{this.parentModel}} />
</h4>

<Object::MdDistributor @model={{this.model}} @distributorId={{this.distributorId}} @profilePath="record.distribution.distributor" @editTransferOption={{route-action "editTransferOption"}} />

<ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-link"
    text="Back to Distribution List"
    icon="arrow-left"
    type="primary"
    route="record.show.edit.distribution"
  }} />

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  refresh=this.refresh scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}} />
