<h4 class="section-header">
  Editing Process Step #{{stepId}}
  {{control/md-status model=parentModel}}
</h4>

{{object/md-process-step model=model profilePath="record.lineage.processStep"
  itemId=stepId
  editCitation=(route-action "editCitation")
}}

{{to-elsewhere
  named="md-subbar-extra"
  send=(component "control/subbar-link" text="Back to Lineage" icon="arrow-left" click=(route-action "goBack"))
}}
{{to-elsewhere named="md-scroll-spy-record-edit"
  send=(component "control/md-scroll-spy" scrollInit=scrollTo setScrollTo=(route-action "setScrollTo"))}}
