{{#if title}}
  <div class="card-header text-info {{if plain "bg-white border-bottom-0 rounded-sm"}} {{if collapsed "border-0"}} {{borderColor}}">
      <h4 class="card-title md-card-chevron">
        {{#if isCollapsible}}
          {{#if titleIcon}}
            <a role="button" data-toggle="collapse" href="#{{cardId}}" aria-expanded={{if collapsed "false" "true"}}
            class="text-info {{if collapsed "collapsed"}}" aria-controls={{panelId}}>
            {{fa-icon titleIcon}}
            {{title}}
            <span class="fa"></span>
            </a>
          {{else}}
            <a role="button" data-toggle="collapse" href="#{{cardId}}" aria-expanded={{if collapsed "false" "true"}}
            class="text-info {{if collapsed "collapsed"}}" aria-controls={{panelId}}>
            <span class="fa"></span>
            {{title}}
            </a>
          {{/if}}
        {{else}}
          {{#if titleIcon}}
            {{fa-icon titleIcon}}
          {{/if}}
          {{title}}
        {{/if}}
        {{#if maximizable}}
          <a role="button" class="pull-right md-card-maximize hidden-print">
            {{fa-icon windowIcon size=1 click=(action "toggleFullScreen")}}
          </a>
        {{/if}}
        <div class="btn-group hidden-print pull-right">
          {{#if btnText}}
            <button type="button" name="button" class="btn btn-{{if btnClass btnClass "primary"}} btn-xs" {{action btnAction}}>
              {{fa-icon btnIcon}}
              {{btnText}}
            </button>
          {{/if}}
          {{#if deleteAction}}
            {{#control/md-button-confirm class="btn btn-danger btn-xs"
              onConfirm=(action deleteAction)}}
              {{fa-icon "times"}} Delete
            {{/control/md-button-confirm}}
          {{/if}}
          {{#if spotlightEnabled}}
            <button type="button" name="button" class="btn btn-info btn-xs md-btn-spotlight" {{action "spotlight" elementId}}>
              {{fa-icon "circle"}}
            </button>
          {{/if}}
        </div>
      </h4>
  </div>
{{/if}}
<div id={{cardId}} class="card-collapse {{if collapsed "collapse" "in"}} {{if bodyIsRow "row"}} {{if block "card-block"}} {{if flex "card-flex"}} {{if plain "border-top"}}">
    {{yield}}
</div>