{{#if this.title}}
  <div class="card-header text-info {{if this.plain "bg-white border-bottom-0 rounded-sm"}} {{if this.collapsed "border-0"}} {{this.borderColor}}">
      <h4 class="card-title md-card-chevron">
        {{#if this.isCollapsible}}
          {{#if this.titleIcon}}
            <a role="button" data-toggle="collapse" href="#{{this.cardId}}" aria-expanded={{if this.collapsed "false" "true"}}
            class="text-info {{if this.collapsed "collapsed"}}" aria-controls={{this.panelId}}>
            {{fa-icon this.titleIcon}}
            {{this.title}}
            <span class="fa"></span>
            </a>
          {{else}}
            <a role="button" data-toggle="collapse" href="#{{this.cardId}}" aria-expanded={{if this.collapsed "false" "true"}}
            class="text-info {{if this.collapsed "collapsed"}}" aria-controls={{this.panelId}}>
            <span class="fa"></span>
            {{this.title}}
            </a>
          {{/if}}
        {{else}}
          {{#if this.titleIcon}}
            {{fa-icon this.titleIcon}}
          {{/if}}
          {{this.title}}
        {{/if}}
        {{#if this.maximizable}}
          <a role="button" class="pull-right md-card-maximize hidden-print">
            {{fa-icon this.windowIcon size=1 click=(action "toggleFullScreen")}}
          </a>
        {{/if}}
        <div class="btn-group hidden-print pull-right">
          {{#if this.btnText}}
            <button type="button" name="button" class="btn btn-{{if this.btnClass this.btnClass "primary"}} btn-xs" {{action this.btnAction}}>
              {{fa-icon this.btnIcon}}
              {{this.btnText}}
            </button>
          {{/if}}
          {{#if this.deleteAction}}
            {{#control/md-button-confirm class="btn btn-danger btn-xs"
              onConfirm=(action this.deleteAction)}}
              {{fa-icon "times"}} Delete
            {{/control/md-button-confirm}}
          {{/if}}
          {{#if this.spotlightEnabled}}
            <button type="button" name="button" class="btn btn-info btn-xs md-btn-spotlight" {{action "setSpotlight" this.elementId}}>
              {{fa-icon "circle"}}
            </button>
          {{/if}}
        </div>
      </h4>
  </div>
{{/if}}
<div id={{this.cardId}} class="card-collapse {{if this.collapsed "collapse" "in"}} {{if this.bodyIsRow "row"}} {{if this.block "card-block"}} {{if this.flex "card-flex"}} {{if this.plain "border-top"}}">
    {{yield}}
</div>