<h4 class='section-header'>
  Editing Keywords
  <Control::MdStatus @model={{this.model}} />
</h4>
<section>
  {{#each this.model.json.metadata.resourceInfo.keyword as |thesaurus index|}}
    <div
      class='md-keywords-container md-object-container'
      data-spy={{concat 'Thesaurus ' index}}
      id={{concat 'thesaurus-container-' index}}
    >
      <div class='md-keywords-header'>
        {{#if thesaurus.thesaurus.identifier.0.identifier}}
          <a
            class='md-keywords-collapse inline-block'
            data-toggle='collapse'
            aria-expanded='true'
            href='#thesaurus-{{index}}'
            aria-controls='thesaurus-{{index}}'
          >
            <span class='fa'></span>
          </a>
        {{/if}}
        <h4 class='inline-block text-primary' code=''>
          <strong>
            {{concat 'Thesaurus #' index}}
          </strong>
        </h4>
        <Input::MdSelectThesaurus
          @class='md-keywords-select'
          @thesaurus={{thesaurus}}
          @selectThesaurus={{route-action 'selectThesaurus'}}
          @value={{thesaurus.thesaurus.identifier.0.identifier}}
          @disabled={{thesaurus.keyword.length}}
        />
        <Control::MdButtonConfirm
          @class='btn btn-sm btn-danger'
          @onConfirm={{route-action 'deleteThesaurus' index}}
        >
          {{fa-icon 'times'}} Delete
        </Control::MdButtonConfirm>
      </div>
      <div id='thesaurus-{{index}}' class='md-keywords-body collapse in'>
        {{#with thesaurus.thesaurus.identifier.0.identifier}}
          <hr />
          <div class='row'>
            <div class='md-keywords-thesaurus col-md-6 col-lg-7'>
              <Object::MdKeywordCitation
                @model={{thesaurus}}
                @profilePath='record.keywords.citation'
              />
            </div>
            <div class='md-keywords-list col-md-6 col-lg-5'>
              <Object::MdKeywordList
                @model={{thesaurus}}
                @listId={{index}}
                @profilePath='record.keywords'
                @addKeyword={{route-action 'addKeyword'}}
                @deleteKeyword={{route-action 'deleteKeyword'}}
                @editThesaurus={{route-action 'editThesaurus'}}
              />
            </div>
          </div>
        {{/with}}
      </div>
    </div>
  {{else}}
    <h3 class='alert alert-info'>
      No keywords found.
      {{! template-lint-disable no-action }}
      <button
        type='button'
        class='btn btn-success'
        {{action (route-action 'addThesaurus')}}
      >
        {{fa-icon 'plus'}} Add Thesaurus
      </button>
    </h3>
  {{/each}}
</section>

{{outlet}}

<ToElsewhere
  @named='md-subbar-extra'
  @send={{
    component
    'control/md-button'
    text='Add Thesaurus'
    icon='plus'
    class='btn-lg btn-success'
    click=(route-action 'addThesaurus')
  }}
/>

<ToElsewhere
  @named='md-scroll-spy-record-edit'
  @send={{
    component
    'control/md-scroll-spy'
    refresh=this.refresh
    scrollInit=this.scrollTo
    setScrollTo=(route-action 'setScrollTo')
  }}
/>