{{#if this.label}}
    <label class="md-card-chevron">
      {{#if this.collapsible}}
        <a role="button" data-toggle="collapse" href="{{concat "md-" this.elementId}}"
          aria-expanded={{if this.collapsed "false" "true"}}
          class={{if this.collapsed "collapsed"}} aria-controls={{concat "md-" this.elementId}}>
        <span class="fa"></span>
        {{this.label}}
        </a>
      {{else}}
        {{this.label}}
      {{/if}}
    </label>
{{/if}}
<div id={{concat "md-" this.elementId}} class={{if this.collapsed "collapse" "in"}}>
  <SimpleMde @value={{this.value}} @options={{this.options}} @maxlength={{this.maxlength}} @spellcheck={{true}} @disabled={{this.disabled}} @change={{if this.change this.change (action (mut this.value))}} @currentEditor={{this.editor}} />
</div>
{{yield}}
