<Layout::MdCard @title="Entity Information" @collapsible={{true}} @collapsed={{false}} @profilePath={{concat this.profilePath ".information"}} @data-spy="Entity Information" @required={{true}}>

  <Input::MdInput @value={{this.model.entityId}} @placeholder={{t "placeholders.entity.identifier"}} @label="Entity Identifier" @profilePath={{concat this.profilePath ".identifier"}} @data-spy="Identifier" @class="md-embedded" />

  <Input::MdInput @model={{this}} @valuePath="codeName" @placeholder={{t "placeholders.entity.codeName"}} @label="Code Name" @data-spy="Code Name" @profilePath={{concat this.profilePath ".codeName"}} @class="md-embedded" />

  <Input::MdTextarea @value={{this.model.definition}} @required={{true}} @autoresize={{true}} @placeholder={{t "placeholders.entity.definition"}} @label="Definition" @data-spy="Definition" @embedded={{true}} @profilePath={{concat this.profilePath ".definition"}} />

  <Input::MdInput @value={{this.model.commonName}} @placeholder="Enter a short common name for the entity." @label="Common Name" @profilePath={{concat this.profilePath ".commonName"}} @data-spy="Common Name" @class="md-embedded" />

  <Object::MdSimpleArrayTable @title="Alias" @required={{false}} @plain={{true}} @profilePath={{concat this.profilePath ".alias"}} @data-spy="Alias" @class="md-embedded" @value={{this.model.alias}} as |val|>
    <td>
      <Input::MdInput @value={{val.item.value}} @placeholder="Alternate names used to identify this entity." />
    </td>
  </Object::MdSimpleArrayTable>

</Layout::MdCard>

<Object::MdObjectrouteTable @attributes="Attribute Name,Data Type, Definition, Allow Null?" @items={{this.model.attribute}} @header="Attributes" @shadow={{true}} @buttonText="Add Attribute" @ellipsis={{this.fallse}} @previewTemplateTable="object/md-attribute/preview" @noteComponents={{make-array (hash component="control/md-indicator/related" options=(hash icon="list" title="Domain" note="The attribute <em>${model.codeName}</em> has an associated domain: <strong>${related.codeName}</strong>." parent=this.dictionary path="domain" relatedId="domainId" route="dictionary.show.edit.domain.edit" routeIdPaths=(make-array "relatedIndex") linkText="Go to Domain"))}} @editItem={{action "editAttribute"}} @verticalButtons={{false}} @profilePath={{this.profilePath}} @hideIndex={{false}} @condensed={{false}} @responsive={{true}} @editOnAdd={{false}} @scrollToId="md-attribute" @data-spy="Attributes" @templateClass={{this.attributeTemplate}} />

<Layout::MdCard @title="Entity Structure" @collapsible={{true}} @collapsed={{false}} @profilePath={{concat this.profilePath ".structure"}} @data-spy="Entity Structure">

  <Input::MdInput @value={{this.model.fieldSeparatorCharacter}} @placeholder="The character which indicates the end of data field contents." @label="Field Separator Character" @profilePath={{concat this.profilePath ".structure.fieldSeparatorCharacter"}} @class="md-embedded" />

  <Input::MdInput @type="number" @step={{1}} @model={{this.model}} @valuePath="numberOfHeaderLines" @placeholder="The number of lines at the beginning of the file." @label="# Header Lines" @profilePath={{concat this.profilePath ".structure.numberOfHeaderLines"}} @class="md-embedded" />

  <Input::MdInput @value={{this.model.quoteCharacter}} @placeholder="Character used to quote fields in the data representation." @label="Quote Character" @profilePath={{concat this.profilePath ".structure.quoteCharacter"}} @class="md-embedded" />

</Layout::MdCard>

<Layout::MdCard @title="Entity Keys" @collapsible={{true}} @collapsed={{false}} @profilePath={{concat this.profilePath ".keys"}} @data-spy="Entity Keys">

  <Input::MdCodelistMulti @label="Primary Key Attributes" @value={{this.model.primaryKeyAttributeCodeName}} @mapped={{this.attributeList}} @create={{true}} @tooltip={{true}} @placeholder="The codeNames of the attributes that compose the primary key." @profilePath={{concat this.profilePath ".keys.primaryKey"}} @data-spy="Primary" @class="md-embedded" />

  <Object::MdArrayTable @columns="Local Attributes,Referenced Entity,Referenced Attributes" @value={{this.model.foreignKey}} @title="Foreign Key" @class="md-embedded" @plain={{true}} @responsive={{true}} @templateClass={{this.foreignKeyTemplate}} @profilePath={{concat this.profilePath ".keys.foreignKey"}} @data-spy="Foreign" as |fk|>
    <td>
      <Input::MdCodelistMulti @model={{fk.item}} @path="localAttributeCodeName" @mapped={{this.attributeList}} @create={{true}} @tooltip={{true}} @placeholder="Select the local(child) attributes that compose the foreign key." @profilePath={{concat this.profilePath ".localAttributes"}} @showValidations={{true}} />
    </td>
    <td>
      <Input::MdCodelist @model={{fk.item}} @mapped={{this.entityList}} @create={{true}} @path="referencedEntityCodeName" @placeholder="Select the referenced (or parent) entity." @showValidations={{true}} />
    </td>
    <td>
      <Input::MdCodelistMulti @model={{fk.item}} @path="referencedAttributeCodeName" @mapped={{compute (action "getEntityAttributes") fk.item.referencedEntityCodeName}} @create={{true}} @tooltip={{true}} @placeholder="Select the referenced(parent) attributes that compose the foreign key." @profilePath={{concat this.profilePath ".referencedAttributes"}} @showValidations={{true}} />
    </td>
  </Object::MdArrayTable>

</Layout::MdCard>

<Object::MdArrayTable @columns="Name,Attributes,Duplicates?" @value={{this.model.index}} @title="Entity Index" @class="md-embedded" @responsive={{true}} @templateClass={{this.indexTemplate}} @profilePath={{concat this.profilePath ".index"}} @data-spy="Entity Indexes" as |itm|>
  <td>
    <Input::MdInput @model={{itm.item}} @valuePath="codeName" @placeholder="Name of the index." @showValidations={{true}} @profilePath={{concat this.profilePath ".index.name"}} />
  </td>
  <td>
    <Input::MdCodelistMulti @model={{itm.item}} @path="attributeCodeName" @mapped={{this.attributeList}} @create={{true}} @tooltip={{true}} @placeholder="Select or enter the attributes that compose the index key." @profilePath={{concat this.profilePath ".index.attributes"}} @showValidations={{true}} />
  </td>
  <td class="text-center">
    <Input::MdBoolean @required={{true}} @value={{itm.item.allowDuplicates}} @profilePath={{concat this.profilePath ".index.allowDuplicates"}} />
  </td>
</Object::MdArrayTable>

<Object::MdCitationArray @model={{this.model.entityReference}} @profilePath={{concat this.profilePath ".entityReference"}} @data-spy="Entity Reference" @editItem={{action "editCitation"}} @label="Entity Reference" />
