{{#layout/md-card}}
  <div class='row'>
    <div class='col-md-8'>
      {{input/md-input
        label='System Generated UID'
        value=this.model.systemIdentifier.uid
        disabled=true
      }}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      {{input/md-input label='Title' value=this.model.systemIdentifier.label}}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      {{input/md-codelist
        value=this.model.scope.scopeCode
        label='Scope'
        required=true
        create=true
        tooltip=true
        icon=true
        mdCodeName='scope'
        placeholder='Select type of resource.'
        profilePath=(concat this.profilePath '.scope')
        data-spy='Scope'
      }}
    </div>
  </div>
{{/layout/md-card}}

{{#object/md-object-table
  items=this.model.report
  header='Standard Reports'
  buttonText='Add Report'
  ellipsis=true
  required=true
  profilePath=(concat this.profilePath '.report')
  attributes='type'
  as |editing|
}}
  {{object/md-quality-report
    model=editing
    profilePath=(concat this.profilePath '.report')
  }}
{{/object/md-object-table}}

{{#if this.model.standaloneQualityReport}}
  {{object/md-standalone-quality-report
    model=this.model.standaloneQualityReport
    deleteStandaloneQualityReport=(action 'deleteStandaloneQualityReport')
  }}
{{else}}
  <div class='md-object-table box-shadow--4dp'>
    <div class='alert md-alert-table alert-info'>
      <h4>No Standalone Report Found
        <button
          class='btn btn-success btn-md'
          {{action 'addStandaloneQualityReport'}}
        >
          <i class='fa fa-plus' />
          Add Standalone Report
        </button>
      </h4>
    </div>
  </div>
{{/if}}
