<Layout::MdCard>
  <div class='row'>
    <div class='col-md-8'>
      <Input::MdInput @label="System Generated UID" @value={{this.model.systemIdentifier.uid}} @disabled={{true}} />
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <Input::MdInput @label="Title" @value={{this.model.systemIdentifier.label}} />
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <Input::MdCodelist @value={{this.model.scope.scopeCode}} @label="Scope" @required={{true}} @create={{true}} @tooltip={{true}} @icon={{true}} @mdCodeName="scope" @placeholder="Select type of resource." @profilePath={{concat this.profilePath ".scope"}} @data-spy="Scope" />
    </div>
  </div>
</Layout::MdCard>

<Object::MdObjectTable @items={{this.model.report}} @header="Standard Reports" @buttonText="Add Report" @ellipsis={{true}} @required={{true}} @profilePath={{concat this.profilePath ".report"}} @attributes="type" as |editing|>
  <Object::MdQualityReport @model={{editing}} @profilePath={{concat this.profilePath ".report"}} />
</Object::MdObjectTable>

{{#if this.model.standaloneQualityReport}}
  <Object::MdStandaloneQualityReport @model={{this.model.standaloneQualityReport}} @deleteStandaloneQualityReport={{action "deleteStandaloneQualityReport"}} />
{{else}}
  <div class='md-object-table box-shadow--4dp'>
    <div class='alert md-alert-table alert-info'>
      <h4>No Standalone Report Found
        <button
          class='btn btn-success btn-md'
          {{action 'addStandaloneQualityReport'}}
        >
          <i class='fa fa-plus' />
          Add Standalone Report
        </button>
      </h4>
    </div>
  </div>
{{/if}}