<Object::MdArrayTable @columns="Identifier,Namespace" @title="External Identifier" @value={{this.value}} @validation={{this.validation}} @data-spy={{null}} @templateClass={{this.templateClass}} as |contactId|>
  <td>
      <Input::MdInput @value={{contactId.item.identifier}} @placeholder="External Contact Identifier" />
  </td>
  <td>
      <Input::MdCodelist @path="namespace" @model={{contactId.item}} @create={{true}} @tooltip={{true}} @icon={{false}} @mdCodeName="namespace" @showValidations={{true}} @placeholder="Select a Namespace" @profilePath="contact.externalIdentifier.namespace" @data-spy={{false}} />
  </td>
</Object::MdArrayTable>