{{#if this.isShowingConfirm}}
  <div class="animated-if to-down animated-if--visible">
    <FaIcon @icon="question" /> Confirm
  </div>
{{else}}
  <div class="animated-if to-down animated-if--visible">
    {{yield}}
  </div>
{{/if}}

{{#if this.isShowingConfirm}}
  {{#if this.tooltip}}
    <EmberTooltip @tooltipClass={{concat "ember-tooltip md-tooltip " this.tipClass}} @text={{this.tooltip}} @side={{this.tipSide}} />
  {{/if}}
{{/if}}
