<div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
        <h3>Create New Data Dictionary</h3>
        <p class="text-center">To create a <em> new</em> data dictionary, enter a dictionary name and
            choose one or more subjects.</p>
    </div>
</div>

<div class="row">
    <form {{action 'saveDictionary' on='submit'}}
    class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xxl-6 col-xxl-offset-3">
        <div class="form-group">
            <label class="control-label
            {{if (v-get model 'json.dataDictionary.citation.title'
             'options.presence.presence') "required"}}">Dictionary Title</label>
            <div class="">
                {{input/md-input
                valuePath="json.dataDictionary.citation.title"
                model=model
                placeholder='Enter a title for the dictionary'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Dictionary Subject</label>
            <div class="">
              {{input/md-codelist-multi
                create=true
                tooltip=true
                icon=true
                disabled=disabled
                allowClear=true
                mdCodeName="scope"
                showValidations=true
                model=model
                path='json.dataDictionary.subject' placeholder="Choose type(s) of resource" }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                 <span class="pull-right">
                      <button type="submit" class="btn btn-success md-form-save"
                                                      disabled={{v-get model 'isInvalid'}}>Save</button>
                      <button type="button" {{action "cancelRecord"}} class="btn btn-warning ">Cancel</button>
                 </span>
            </div>
        </div>
    </form>
</div>
