<ol class="breadcrumb">
  {{#each this.routeHierarchy as |crumb|}}
    <li class="breadcrumb-item {{if crumb.isTail 'active'}}">
      {{#if (and crumb.linkable (not crumb.isTail))}}
        <LinkTo @route={{crumb.path}} @model={{crumb.model}}>
          {{crumb.title}}
        </LinkTo>
      {{else}}
        {{crumb.title}}
      {{/if}}
    </li>
  {{/each}}
</ol>
{{yield}}
