<form class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-3">Raster Name</label>
    <Input::MdInput @class="col-lg-9" @placeholder="The name(title) of the raster." @profilePath={{concat profilePath ".coverageName"}} @showValidations={{true}} @value={{item.coverageName}} @readonly={{true}} />
  </div>
  <div class="form-group">
    <label class="col-lg-3">Raster Description</label>
    <Input::MdTextarea @class="col-lg-9" @placeholder="A description of the raster." @profilePath={{concat profilePath ".coverageDescription"}} @showValidations={{true}} @value={{item.coverageDescription}} @readonly={{true}} />
  </div>
</form>