<h4 class="section-header">
  Editing Taxonomy Collection #{{collectionId}}
  <Control::MdStatus @model={{parentModel}} />
</h4>

<Object::MdTaxonomy::Collection @model={{model}} @id={{collectionId}} @profilePath="record.taxonomy.collection" @editSystem={{route-action "editSystem"}} />

<ToElsewhere @named="md-subbar-buttons" @send={{component "control/md-button"
    text="Add New Taxa"
    icon="plus"
    class="btn-info btn-lg"
    click=(route-action "addTaxa")
  }} />
<ToElsewhere @named="md-subbar-buttons" @send={{component "control/md-button"
    text="Add Taxa from ITIS"
    icon="plus"
    class="btn-success btn-lg"
    click=(route-action "addITIS")
  }} />
<ToElsewhere @named="md-subbar-buttons" @send={{component "control/md-button"
    text="Back to List"
    icon="arrow-left"
    class="btn-primary btn-lg"
    click=(route-action "toList")
  }} />

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  scrollInit=scrollTo setScrollTo=(route-action "setScrollTo")}} />


<Control::MdModal @isShowing={{showItisModal}} @showConfirm={{true}} @confirmLabel="Go to Settings" @showCancel={{true}} @confirm={{route-action "goToSettings"}} @cancel={{action (mut showItisModal) false}}>
<div class='alert alert-info' role='alert'>{{fa-icon 'exclamation-triangle'}}
    ITIS Proxy URL is required.
  </div>
  <p>
    Please go to <LinkTo @route='settings'>Settings > Main</LinkTo> and configure the
    ITIS Proxy URL to add taxonomy from ITIS.
  </p>
</Control::MdModal>