<Layout::MdCard @title="Standalone Report" @collapsible={{true}} @collapsed={{false}} @profilePath="record.dataquality.standalonequalityreport" @data-spy="Standalone Report" @spotlightEnabled={{false}} @deleteAction={{action "deleteStandaloneQualityReport"}}>
  <div class='row'>
    <div class='col-lg-12'>
      <form>
        <div class='form-group'>
          <Input::MdTextarea @required={{true}} @label="Abstract" @value={{this.model.abstract}} @placeholder="Abstract for the associated standalone quality report." />
        </div>
      </form>
    </div>
  </div>

  {{#if this.model.reportReference}}
    <Layout::MdCard @title="Report Reference" @required={{true}} @collapsible={{true}} @collapsed={{false}} @spotlightEnabled={{false}} @deleteAction={{action "deleteReportReference"}}>
      <Object::MdCitation @model={{this.model.reportReference}} @profilePath="record.dataquality.reportReference" @simpleIdentifier={{true}} />
    </Layout::MdCard>
  {{else}}
    <div class='md-object-table box-shadow--4dp'>
      <div
        class='alert md-alert-table alert-info'
        style='background: #f2dede; color: #a94442'
      >
        <h4>No
          <span class='required'>Report Reference</span>
          found.
          <button
            class='btn btn-success btn-md'
            {{action 'addReportReference'}}
          >
            <i class='fa fa-plus' />
            Add Report Reference
          </button>
        </h4>
      </div>
    </div>
  {{/if}}
</Layout::MdCard>