<div class="section-header">
  <h3>
    Custom Validation Schemas
  </h3>
</div>

<section>
  <div class="section-header">
    <h4 class="md-table-title">
      {{#liquid-if this.schema use="fade" growDuration=100 class="inline-block"}}
        {{#if this.schema.isNew}}
          Add Schema
        {{else if this.schema}}
          {{concat "Edit " this.schema.title}}
        {{/if}}
        {{#if this.task.isRunning}}
          <small>...downloading schemas</small>
          <FaIcon @icon="spinner" @spin={{true}} />
        {{/if}}
      {{else}}
        Manage Schemas
      {{/liquid-if}}
    </h4>
    <hr>
  </div>

  {{#liquid-if this.schema use="fade"}}
    {{#if this.schema.isNew}}
      <Object::MdSchema::Form @record={{this.schema}} />
    {{else if this.schema}}
      <Object::MdSchema @record={{this.schema}} />
    {{/if}}
  {{else}}
    <Control::MdEditTable @data={{this.model}} @dataColumns={{this.columns}} @columnSets={{this.columnSets}} @rowBodyComponent="object/md-schema" @pageSize={{25}} @editRow={{action "editSchema"}} @actionBadges={{this.badges}} />
  {{/liquid-if}}
</section>

{{#if this.schema}}
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if this.task.isRunning "Loading..." (if this.schema.isNew "Save Schema" "Update Schema"))
    icon=(if this.task.isRunning "spinner" "floppy-o")
    iconSpin=this.task.isRunning
    disabled=this.disableSave
    class="btn-success btn-lg"
    click=(action "saveSchema")
    }} />
    <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if this.schema.isNew "Cancel" "Back")
    icon=(if this.schema.isNew "undo" "arrow-left")
    class=(if this.schema.isNew "btn-warning btn-lg" "btn-primary btn-lg")
    click=(action "cancelEdit")
    }} />
{{else}}
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text="Add Schema"
    icon="plus"
    class="btn-success btn-lg"
    click=(action "addSchema")
    disabled=(if this.schema true)
    }} />
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if this.checkForUpdates.isRunning "Checking..." "Check for Updates")
    iconSpin=this.checkForUpdates.isRunning
    disabled=this.checkForUpdates.isRunning
    icon=(if this.checkForUpdates.isRunning "spinner" "check")
    class="btn-info btn-lg"
    click=(perform this.checkForUpdates)
    }} />
{{/if}}
