<!-- template.hbs -->
{{#each this.formattedErrors as |errorGroup|}}
  <section>
    <h3>{{errorGroup.title}}</h3>
    <ul class='list-group'>
      {{#each errorGroup.errors as |err idx|}}
        <li
          class='list-group-item {{if (mod idx 2) "list-group-item-warning"}}'
        >
          <div class='media'>
            <div class='media-left media-middle'>
              <span class='label label-{{if err.path "warning" "danger"}}'>{{inc
                  idx
                }}</span>
            </div>
            <div class='media-body'>
              <h4 class='media-heading'>{{err.header}}</h4>
              {{#each err.messages as |message|}}
                <p>{{message}}</p>
              {{/each}}
              {{#if err.path}}
                <p><strong>Schema Path:</strong> {{err.path}}</p>
              {{/if}}
              <!-- Add the "Go To Error" button below the existing content -->
              <button
                class='btn btn-default btn-xs'
                onclick={{action 'navigateToEndpoint' err.url}}
              >
                Go To Error
              </button>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </section>
{{/each}}

{{yield}}