{{#let item as |model|}}
  <dl class="dl-horizontal">
    <dt>
      <h4 class="text-info">Resource #{{index}}</h4>
    </dt>
    <dd></dd>
    <div class="row">
      <div class="col-xxl-6">
        {{#control/md-definition title="Association Type" profilePath=(concat profilePath ".associationType")}}
          {{model.associationType}}
          {{#if model.mdRecordId}}
            (<em>linked</em>)
          {{/if}}
        {{/control/md-definition}}
      </div>
      <div class="col-xxl-6">
        {{control/md-definition title="Initiative Type" text=model.initiativeType
          profilePath=(concat profilePath ".initiativeType")
        }}
      </div>
    </div>
  </dl>

  {{object/md-citation/preview/body citation=citation profilePath=(concat profilePath ".resourceCitation")}}

  <dl class="dl-horizontal col-lg-12">
  {{#control/md-definition title="Metadata Identifier"}}
    {{#if this.metadataIdentifier}}
      {{#let this.metadataIdentifier as |meta|}}
        {{meta.identifier}} {{if meta.namespace (concat "(" meta.namespace ")")}}
      {{/let}}
    {{else}}
      <em class="text-muted">No metadata identifier assigned.</em>
    {{/if}}
  {{/control/md-definition}}
</dl>
{{/let}}