{{#with this.item as |model|}}
  <dl class="dl-horizontal">
    <dt>
      <h4 class="text-info">Resource #{{this.index}}</h4>
    </dt>
    <dd></dd>
    <div class="row">
      <div class="col-xxl-6">
        <Control::MdDefinition @title="Association Type" @profilePath={{concat this.profilePath ".associationType"}}>
          {{model.associationType}}
          {{#if model.mdRecordId}}
            (<em>linked</em>)
          {{/if}}
        </Control::MdDefinition>
      </div>
      <div class="col-xxl-6">
        <Control::MdDefinition @title="Initiative Type" @text={{model.initiativeType}} @profilePath={{concat this.profilePath ".initiativeType"}} />
      </div>
    </div>
  </dl>

  <Object::MdCitation::Preview::Body @citation={{this.citation}} @profilePath={{concat this.profilePath ".resourceCitation"}} />

  <dl class="dl-horizontal col-lg-12">
  <Control::MdDefinition @title="Metadata Identifier">
    {{#with this.metadataIdentifier as |meta|}}
      {{meta.identifier}} {{if meta.namespace (concat "(" meta.namespace ")")}}
    {{else}}
      <em class="text-muted">No metadata identifier assigned.</em>
    {{/with}}
  </Control::MdDefinition>
</dl>
{{/with}}
