{{#if this.label}}
  {{#if this.isCollapsible}}
    <label role='button' {{action (toggle 'isExpanded' this)}}>
      <FaIcon @icon={{if this.isExpanded 'caret-up' 'caret-down'}} />
      {{this.label}}
    </label>
  {{else}}
    <label>{{this.label}}</label>
  {{/if}}
  {{#if this.showInfotip}}
    <Control::MdInfotip @text={{this.placeholder}} />
  {{/if}}
{{/if}}

{{#simple-if this.isExpanded enableGrowth=true}}
  <div class='md-input-input'>
    <Textarea
      @value={{this.value}}
      @placeholder={{this.placeholder}}
      @required={{this.required}}
      @maxlength={{this.maxlength}}
      @autoresize={{this.autoresize}}
      @rows={{this.rows}}
      @max-rows={{this.maxrows}}
      @max-width={{this.maxwidth}}
      @max-height={{this.maxheight}}
      class={{this.inputClass}}
      @readonly={{this.readonly}}
      @disabled={{this.readonly}}
    />
    <span class='md-input-error'>
      {{#if this.showErrorMessage}}
        <span class='md-error'>
          <FaIcon @icon='circle-exclamation' />
          <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip danger">
            {{v-get this.model this.valuePath 'message'}}
          </EmberTooltip>
        </span>
      {{/if}}

      {{#if this.showWarningMessage}}
        <span class='md-warning'>
          <FaIcon @icon='triangle-exclamation' />
          <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip warning">
            {{v-get this.model this.valuePath 'warningMessage'}}
          </EmberTooltip>
        </span>
      {{/if}}
    </span>
  </div>
  {{yield}}
{{/simple-if}}