{{#if this.label}}
  {{#if this.isCollapsible}}
    <FlightIcon
      @name={{if this.isExpanded 'chevron-up' 'chevron-down'}}
      {{action (toggle 'isExpanded' this)}}
    />
    {{this.label}}
  {{else}}
    <label>{{this.label}}</label>
  {{/if}}
  {{#if this.showInfotip}}
    <Control::MdInfotip @text={{this.placeholder}} />
  {{/if}}
{{/if}}

{{#liquid-if this.isExpanded enableGrowth=true}}
  <div class='md-input-input'>
    <Textarea
      @value={{this.value}}
      placeholder={{this.placeholder}}
      required={{this.required}}
      maxlength={{this.maxlength}}
      @autoresize={{this.autoresize}}
      @didInsertElement={{this._didInsertArea}}
      rows={{this.rows}}
      @max-rows={{this.maxrows}}
      @max-width={{this.maxwidth}}
      @max-height={{this.maxheight}}
      class={{this.inputClass}}
    />
    <span class='md-input-error'>
      {{#if this.showErrorMessage}}
        <span class='md-error'>
          <FlightIcon @name='alert-circle' />
          <EmberTooltip
            @side='right'
            @tooltipClass='ember-tooltip md-tooltip danger'
          >
            {{v-get this.model this.valuePath 'message'}}
          </EmberTooltip>
        </span>
      {{/if}}

      {{#if this.showWarningMessage}}
        <span class='md-warning'>
          <FlightIcon @name='alert-triangle' />
          <EmberTooltip
            @side='right'
            @tooltipClass='ember-tooltip md-tooltip warning'
          >
            {{v-get this.model this.valuePath 'warningMessage'}}
          </EmberTooltip>
        </span>
      {{/if}}
    </span>
  </div>
  {{yield}}
{{/liquid-if}}