{{#if this.label}}
  {{#if this.isCollapsible}}
    <label role='button' {{action (toggle 'isExpanded' this)}}>
      {{fa-icon (if this.isExpanded 'caret-up' 'caret-down')}}
      {{this.label}}
    </label>
  {{else}}
    <label>{{this.label}}</label>
  {{/if}}
  {{#if this.showInfotip}}
    {{control/md-infotip text=this.placeholder}}
  {{/if}}
{{/if}}

{{#if this.isExpanded}}
  <div class='md-input-input'>
    <Textarea
      @value={{this.value}}
      placeholder={{this.placeholder}}
      required={{this.required}}
      maxlength={{this.maxlength}}
      rows={{this.rows}}
      class={{this.inputClass}}
      readonly={{this.readonly}}
      disabled={{this.readonly}}
      {{autoresize}}
    />
    <span class='md-input-error'>
      {{#if this.showErrorMessage}}
        <span class='md-error'>
          {{fa-icon 'exclamation-circle'}}
          {{#ember-tooltip
            side='right' tooltipClass='ember-tooltip md-tooltip danger'
          }}
            {{v-get this.model this.valuePath 'message'}}
          {{/ember-tooltip}}
        </span>
      {{/if}}

      {{#if this.showWarningMessage}}
        <span class='md-warning'>
          {{fa-icon 'exclamation-triangle'}}
          {{#ember-tooltip
            side='right' tooltipClass='ember-tooltip md-tooltip warning'
          }}
            {{v-get this.model this.valuePath 'warningMessage'}}
          {{/ember-tooltip}}
        </span>
      {{/if}}
    </span>
  </div>
  {{yield}}
{{/if}}
