{{#if label}}
  {{#if isCollapsible}}
    <label role="button" {{action (toggle "isExpanded" this)}}>
      {{fa-icon (if isExpanded "caret-up" "caret-down")}}
      {{label}}
    </label>
  {{else}}
    <label>{{label}}</label>
  {{/if}}
  {{#if showInfotip}}
    {{control/md-infotip text=placeholder}}
  {{/if}}
{{/if}}

{{#liquid-if isExpanded enableGrowth=true}}
  <div class="md-input-input">
  {{textarea
    value=value
    placeholder=placeholder
    required=required
    maxlength=maxlength
    autoresize=autoresize
    didInsertElement=_didInsertArea
    rows=rows
    max-rows=maxrows
    max-width=maxwidth
    max-height=maxheight
    class=inputClass
  }}
    <span class="md-input-error">
      {{#if showErrorMessage}}
        <span class="md-error">
          {{fa-icon "exclamation-circle"}}
          {{#ember-tooltip side="right" tooltipClass="ember-tooltip md-tooltip danger"}}
              {{v-get model valuePath "message"}}
          {{/ember-tooltip}}
        </span>
      {{/if}}

      {{#if showWarningMessage}}
        <span class="md-warning">
          {{fa-icon "exclamation-triangle"}}
          {{#ember-tooltip side="right" tooltipClass="ember-tooltip md-tooltip warning"}}
          {{v-get model valuePath "warningMessage"}}
          {{/ember-tooltip}}
        </span>
      {{/if}}
    </span>
  </div>
  {{yield}}
{{/liquid-if}}
