<h4 class="section-header">
  Editing Taxonomy
  <Control::MdStatus @model={{parentModel}} />
</h4>

{{!-- {{object/md-distribution model=model profilePath="record.distribution"}} --}}


{{#each model.json.metadata.resourceInfo.taxonomy as |collection index|}}
  <Object::MdTaxonomy @model={{collection}} @index={{index}} @scrollTo={{scrollTo}} @record={{model}} />
{{else}}
  <h3 class="alert alert-info">No taxonomic collections found.
    <button type="button" class="btn btn-success" {{action (route-action "addCollection")}}>
      {{fa-icon "plus"}} Add Collection</button>
  </h3>
{{/each}}

<ToElsewhere @named="md-subbar-extra" @send={{component "control/md-button"
  text="Add Collection"
  icon="plus"
  class="btn-success btn-lg"
  click=(route-action "addCollection")
  }} />

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"
    scrollInit=scrollTo
    setScrollTo=(route-action "setScrollTo")
    refresh=model.json.metadata.resourceInfo.taxonomy.length
    }} />
