<h4 class="section-header">
  Editing Taxonomy
  {{control/md-status model=parentModel}}
</h4>

{{!-- {{object/md-distribution model=model profilePath="record.distribution"}} --}}


{{#each model.json.metadata.resourceInfo.taxonomy as |collection index|}}
  {{object/md-taxonomy model=collection index=index scrollTo=scrollTo record=model}}
{{else}}
  <h3 class="alert alert-info">No taxonomic collections found.
    <button type="button" class="btn btn-success" {{action (route-action "addCollection")}}>
      {{fa-icon "plus"}} Add Collection</button>
  </h3>
{{/each}}

{{to-elsewhere
  named="md-subbar-extra"
  send=(component "control/md-button"
  text="Add Collection"
  icon="plus"
  class="btn-success btn-lg"
  click=(route-action "addCollection")
  )
}}

{{to-elsewhere named="md-scroll-spy-record-edit"
  send=(component "control/md-scroll-spy"  scrollInit=scrollTo setScrollTo=(route-action "setScrollTo"))}}
