<div class="form-group">

    {{#object/md-object-table items=items2 header=label attributes=attributes as |editing cancelEdit|}}
        Editing: {{editing.name}}

        {{input/md-input value=editing.name label="Name" placeholder="Online Resource Name"}}

        {{input/md-input type="url" required=true value=editing.uri label="URI" placeholder="Online Resource URI"}}

        {{input/md-input value=editing.protocol
        label="Protocol" placeholder="Protocol for accessing the Online Resource"}}

        {{input/md-textarea maxlength=500 value=editing.description label="Description"
        placeholder="Description of the Online Resource: Less than 500 characters"}}

        {{input/md-codelist value=editing.function mdCodeName="onlineFunction"
        label="Function" placeholder="Select function of the Online Resource"
        tooltip=true allowClear=true width="70%"}}

        <button type="button" class="btn btn-xs btn-info pull-right" {{action cancelEdit}}>
            <span class="fa fa-check"></span> OK
        </button>

    {{/object/md-object-table}}
    {{yield}}

</div>
