<div class="section-header">
  <h3>
    {{#layout/md-wrap data-spy="Version"}}
    <small class="small"><b>md<span class="md-icon-mdeditor"></span>ditor</b> Version: {{control/md-repo-link}}</small>
    {{/layout/md-wrap}}
  </h3>
</div>

{{#layout/md-card title="General Settings" data-spy="General"}}
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 co-xxl-2 control-label">Auto Save</label>
    <div class="col-sm-2">
      {{x-toggle
      value=model.autoSave
      onToggle=(action (mut model.autoSave))
      showLabels=true
      onLabel="On"
      offLabel="Off"
      size="medium"
      theme="default"
      }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 co-xxl-2 control-label">Copy in Edit Mode</label>
    <div class="col-sm-2">
      {{x-toggle
      value=model.showCopy
      onToggle=(action (mut model.showCopy))
      showLabels=true
      onLabel="On"
      offLabel="Off"
      size="medium"
      theme="default"
      }}
    </div>
  </div>

  <div class="alert alert-danger">
    <div class="form-group">
      <label class="col-sm-3 co-xxl-2 control-label">Delete in Edit Mode</label>
      <div class="col-sm-2">
        {{x-toggle
        value=model.showDelete
        onToggle=(action (mut model.showDelete))
        showLabels=true
        onLabel="On"
        offLabel="Off"
        size="medium"
        theme="default"
        }}
      </div>
    </div>
    <div class="form-group no-margin">
      <label class="col-sm-3 control-label">Clear All Records</label>
      <div class="col-sm-9 form-group-inline">
        <Control::MdButtonModal
          @formButtonText="Clear Storage Cache"
          @formButtonColor="critical"
          @formButtonIcon="trash"
          @formTitle={{'<h4 class="text-danger">'}}
          @formContent={{concat
          '<span class="fa fa-exclamation-circle"></span> <strong>Are you sure?</strong></h4> '
          'Clicking <strong class="text-danger">Confirm</strong> will delete ALL records in your browser cache.
          Have you made a backup?'
          }}
          @confirmButtonText="Confirm"
          @cancelButtonText="Cancel"
          @onConfirm={{route-action "clearLocalStorage"}}
        />
        {{!-- {{control/md-button
        class="btn btn-sm btn-danger"
        icon="times"
        text="Clear Storage Cache"
        click=(action (mut showStorageModal) true)
        }}
        {{control/md-modal
        message="<h4 class=\"text-danger\"><span class=\"fa fa-exclamation-circle\"></span> <strong>Are you
            sure?</strong></h4> Clicking <strong class=\"text-danger\">Confirm</strong> will delete ALL records in
        your browser cache. Have you made a backup?"
        confirm=(route-action "clearLocalStorage")
        showCancel=true
        cancelType="primary"
        showConfirm=true
        confirmLabel="Confirm"
        confirmType="danger"
        isShowing=showStorageModal
        }} --}}
        <div class="form-group-inline">
          <span>Keep Settings?</span>
          {{input type="checkbox" checked=model.keepSettings}}
        </div>
      </div>
    </div>
  </div>
</form>
{{/layout/md-card}}

{{#layout/md-card
title="Defaults"
shadow=true
}}
<div class="form-group">
  <div class="col-md-4">
    {{input/md-codelist
    value=model.language
    create=true
    tooltip=true
    icon=false
    disabled=disabled
    mdCodeName="language"
    label="Language"
    showValidations=true
    placeholder="Select or enter a language code."
    }}
  </div>
  <div class="col-md-4">
    {{input/md-codelist
    value=model.characterSet
    create=false
    tooltip=true
    icon=false
    disabled=disabled
    mdCodeName="characterSet"
    label="Character Set"
    showValidations=true
    placeholder="Select character set."
    }}
  </div>
  <div class="col-md-4">
    {{input/md-codelist
    value=model.country
    create=false
    tooltip=true
    icon=false
    disabled=disabled
    mdCodeName="countries"
    label="Country"
    placeholder="Select country code."
    }}
  </div>
  <hr class="col-md-12">
  <div class="col-md-8">
    {{input/md-input
    label="Import URL"
    type="url"
    value=model.importUriBase
    placeholder="Text string used as the default URL for importing."
    }}
  </div>
  <hr class="col-md-12">
  <div class="col-md-8">
    <label>mdTranslator API URL</label>
    <div class="input-group">
      {{input/md-input
      type="url"
      value=model.mdTranslatorAPI
      placeholder="URL for the ADIwg Metadata Translator."
      }}
      <span class="input-group-btn">
        <button class="btn btn-warning" type="button" {{action "resetMdTranslatorAPI" }}>Default
          {{ember-tooltip tooltipClass="ember-tooltip md-tooltip info" text="Reset to default"}}
        </button>
      </span>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<hr>
{{#object/md-array-table
columns="Repository, Collection Title"
value=model.repositoryDefaults
plain=true
title="Metadata Repository"
templateClass=settings.repositoryTemplate
onChange=(route-action "save")
data-spy="Metadata Repository" as |meta|
}}
<td>
  {{input/md-codelist
  value=meta.item.repository
  create=true
  tooltip=true
  icon=false
  mdCodeName="metadataRepository"
  closeOnSelect=true
  placeholder="Select or enter a repository."
  change=(route-action "save")
  }}
</td>
<td>
  {{input/md-input
  type="text"
  value=meta.item.title
  placeholder="Text string used to identify a set of resources in the repository."
  change=(route-action "save")
  }}
</td>
{{/object/md-array-table}}
{{/layout/md-card}}

{{#layout/md-card title="Date Settings" data-spy="Dates"}}
<div class="col-md-4">
  {{input/md-month
  date=model.fiscalStartMonth
  format="MMMM"
  altFormat="MM"
  label="Start Month of Fiscal Year"
  placeholder="Select month."
  }}
</div>
{{/layout/md-card}}

{{#layout/md-card title="Publishing Settings" data-spy="Publishing"}}
{{#each (compute (route-action "catalogs")) as |catalog|}}
{{#layout/md-card
title=catalog.name
collapsible=true
collapsed=false
shadow=false
class="md-embedded"
}}
{{component catalog.settingsComponent model=model.publishOptions save=(route-action "save")}}
{{/layout/md-card}}
{{/each}}
{{/layout/md-card}}
{{outlet}}

{{to-elsewhere named="md-scroll-spy-settings"
send=(component "control/md-scroll-spy" scrollInit=scrollTo setScrollTo=(route-action "setScrollTo"))}}