<td>
  <Input::MdInput
    @model={{this}}
    @valuePath='title'
    @placeholder='Descriptive name for the collection taxonomic system.'
    @profilePath={{concat this.profilePath '.citation.title'}}
    @showValidations={{true}}
    @required={{true}}
  />
</td>
<td>
  <Input::MdTextarea
    @value={{this.model.modifications}}
    @profilePath={{concat this.profilePath '.modifications'}}
    @placeholder='A brief description about the source dataset used in creating the data.'
    @maxrows={{3}}
    @rows={{2}}
  />
</td>