<h4 class='section-header'>Editing Platform #{{platformId}}
  Instrument
  {{control/md-status model=(compute (route-action 'parentModel'))}}
</h4>
{{#with model as |instrument|}}
  <div class=''>
    {{object/md-instrument
      model=instrument
      profilePath='record.acquisition.platform.instrument'
    }}
    {{outlet}}
  </div>
{{/with}}
{{to-elsewhere
  named='md-subbar-extra'
  send=(component
    'control/subbar-link'
    text=(concat 'Back to Platform #' platformId)
    icon='arrow-left'
    click=(route-action 'goBack')
  )
}}
{{to-elsewhere
  named='md-scroll-spy-record-edit'
  send=(component
    'control/md-scroll-spy'
    scrollInit=scrollTo
    setScrollTo=(route-action 'setScrollTo')
  )
}}