{{#if label}}
  <label>{{label}}</label>
  {{#if showInfotip}}
    <Control::MdInfotip @text={{placeholder}} />
  {{/if}}
{{/if}}
<div class="checkbox md-boolean">
  <label>
    <Input @type="checkbox" @checked={{value}} />
    <span class="md-boolean-text">{{text}}</span>
  </label>
</div>
{{yield}}
