{{#if this.label}}
  <label>{{this.label}}</label>
  {{#if this.showInfotip}}
    <Control::MdInfotip @text={{this.placeholder}} />
  {{/if}}
{{/if}}
<div class="checkbox md-boolean">
  <label>
    <Input @type="checkbox" @checked={{this.value}} />
    <span class="md-boolean-text">{{this.text}}</span>
  </label>
</div>
{{yield}}
