{{#if this.isProcessing}}
  <h3><FaIcon @icon="spinner" @spin={{true}} /> Processing...
  <button class="btn btn-info" type="button" {{action "stopParsing"}}>
      <FaIcon @icon="x" @spin={{true}} /> Stop</button>
  </h3>
  <div class="progress">
    <div class="progress-bar" role="progressbar"
    {{! template-lint-disable no-inline-styles }}
    aria-valuenow={{this.progress}} aria-valuemin="0" aria-valuemax="100" style={{this.barWidth}}>
      <span class="sr-only">{{this.progress}}% Complete</span>
    </div>
  </div>
{{else}}
  {{#let (file-queue onFileAdded=this.readData) as |queue|}}
    <FileDropzone @queue={{queue}} class="md-file-picker md-import-picker" as |dropzone|>
      <input type="file" accept=".csv,.txt" style="display: none;" {{on "change" (fn this.handleFileInput queue)}} id="csv-file-input">
      <button type="button" class="btn btn-lg btn-info btn-block {{if dropzone.active 'over'}}" {{on "click" this.triggerFileInput}}><FaIcon @icon="bullseye" />
        Click or Drop a CSV here.</button>
    </FileDropzone>
  {{/let}}
{{/if}}
