{{#if this.isProcessing}}
  <h3>{{fa-icon "spinner" spin=true}} Processing...
  <button class="btn btn-info" type="button" {{action "stopParsing"}}>
      {{fa-icon "cross" spin=true}}
    Stop</button>
  </h3>
  <div class="progress">
    <div class="progress-bar" role="progressbar"
    {{! template-lint-disable no-inline-styles }}
    aria-valuenow={{this.progress}} aria-valuemin="0" aria-valuemax="100" style={{this.barWidth}}>
      <span class="sr-only">{{this.progress}}% Complete</span>
    </div>
  </div>
{{else}}
  <FilePicker @class="md-file-picker md-import-picker" @fileLoaded="readData" @preview={{false}} @accept=".csv,.txt" @readAs="readAsText">
    <button type="button" class="btn btn-lg btn-info btn-block">{{fa-icon "bullseye"}}
      Click or Drop a CSV here.</button>
  </FilePicker>
  {{!-- <hr>
  <h3>Import from Online URL</h3>
  <div class="row">
    <div class="col-xxl-6">
      <div class="input-group input-group-lg">
        {{input
          type="url"
          value=importUri
          placeholder="Enter online link to CSV"
          class="form-control"
        }}
        <span class="input-group-btn">
            <button class="btn btn-info" type="button" {{action "readFromUri"}}>
              {{#if isLoading}}
                {{fa-icon "spinner" spin=true}}
              {{else}}
                {{fa-icon "cloud-download"}}
              {{/if}}
              Import</button>
        </span>
      </div>
    </div>
  </div> --}}
{{/if}}
