{{input/md-select
  label="Constraint Type"
  showValidations=true
  model=this
  path="type"
  valuePath="value"
  namePath="name"
  objectArray=typeOptions
  tooltip=true
  tooltipPath="tip"
  searchEnabled=false
  placeholder="The type of constraint."
  profilePath=(concat profilePath ".type")
}}

{{#object/md-simple-array-table
  title="Use Limitations"
  data-spy=false
  plain=false
  required=useRequired
  profilePath=(concat profilePath ".useLimitation")
  value=model.useLimitation as |val|
}}
  <td>
    {{input/md-textarea value=val.item.value
     placeholder="Describe Limitation affecting the fitness for use of the resource or metadata. For example, \"not to be used for navigation\"."}}
  </td>
{{/object/md-simple-array-table}}

{{#layout/md-card
  title="Legal"
  collapsible=true
  required=legalRequired
  profilePath=(concat profilePath ".legal")
  data-spy=false
  shadow=true
}}

  {{#layout/md-card shadow=false}}
    {{#object/md-simple-array-table
      title="Access Constraint"
      data-spy=false
      plain=true
      profilePath=(concat profilePath ".legal.accessConstraint")
      value=model.legal.accessConstraint as |val|
    }}
      <td>
        {{input/md-textarea value=val.item.value rows=3
         placeholder="Access constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on obtaining the resource."}}
      </td>
    {{/object/md-simple-array-table}}
  {{/layout/md-card}}

  {{#layout/md-card shadow=false}}
    {{#object/md-simple-array-table
      title="Use Constraint"
      data-spy=false
      plain=true
      profilePath=(concat profilePath ".legal.useConstraint")
      value=model.legal.useConstraint as |val|
    }}
      <td>
        {{input/md-textarea value=val.item.value rows=3
         placeholder="Constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations or warnings on using the resource."}}
      </td>
    {{/object/md-simple-array-table}}
  {{/layout/md-card}}

  {{#layout/md-card shadow=false}}
    {{#object/md-simple-array-table
      title="Other Constraint"
      data-spy=false
      plain=true
      profilePath=(concat profilePath ".legal.otherConstraint")
      value=model.legal.otherConstraint as |val|
    }}
      <td>
        {{input/md-textarea value=val.item.value rows=3
         placeholder="Other restrictions and legal prerequisites for accessing and using the resource."}}
      </td>
    {{/object/md-simple-array-table}}
  {{/layout/md-card}}

{{/layout/md-card}}

{{#layout/md-card
  title="Security"
  collapsible=true
  required=securityRequired
  profilePath=(concat profilePath ".security")
  data-spy=false
  shadow=true
}}
  {{input/md-codelist
     label="Classification"
     mdCodeName="classification"
     showValidations=true
     model=this
     path="classification"
     placeholder="Name of the handling restrictions on the resource or metadata."
     profilePath=(concat profilePath ".security.classification")
  }}
  {{input/md-input
    value=model.security.classificationSystem
    label="Classification System Name"
    placeholder="Enter name of the classification system."
    profilePath=(concat profilePath ".security.classificationSystem")
  }}
  {{input/md-textarea
    value=model.security.userNote
    placeholder="Explanation of the application of the legal constraints or other restrictions and legal prerequisites for obtaining and using the resource."
    label="Note"
    profilePath=(concat profilePath ".security.note")
  }}
  {{input/md-textarea
    value=model.security.handlingDescription
    placeholder="Enter additional information about the restrictions on handling the resource."
    label="Handling Description"
    profilePath=(concat profilePath ".security.handlingDescription")
  }}
{{/layout/md-card}}

{{yield}}
