<div class="section-header">
  <h3>
    Manage Definitions
  </h3>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href={{concat "#" this.elementId "-imported"}} aria-controls="imported" role="tab" data-toggle="tab">Imported</a></li>
  <li role="presentation">
    <a href={{concat "#" this.elementId "-core"}} aria-controls="core" role="tab" data-toggle="tab">Core</a>
  </li>
</ul>
<div class="card-block">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id={{concat this.elementId "-imported"}}>
      {{#if this.definition}}
        <h4 class="tab-header">
          {{#liquid-if this.definition use="fade" growDuration=100 class="inline-block"}}
            {{#if this.definition.isNew}}
              Add Profile Definition
            {{else}}
              {{concat "Edit " this.definition.title}}
            {{/if}}
            {{#if this.task.isRunning}}
              <small>...downloading definition</small>
              <FaIcon @icon="spinner" @spin={{true}} />
            {{/if}}
          {{/liquid-if}}
          <hr>
        </h4>
      {{/if}}

      {{#liquid-if this.definition use="fade"}}
        {{#if this.definition.isNew}}
          <Object::MdProfile::Form @record={{this.definition}} />
        {{else if this.definition}}
          <Object::MdProfile @record={{this.definition}} />
        {{/if}}
      {{else}}
        <Control::MdEditTable @data={{this.model}} @dataColumns={{this.columns}} @columnSets={{this.columnSets}} @rowBodyComponent="object/md-profile/form" @pageSize={{25}} @editRow={{action "editDefinition"}} @actionBadges={{this.badges}} />
      {{/liquid-if}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id={{concat this.elementId "-core"}}>
      <h4 class="tab-header">
        List of Core Definitions
      </h4>
      <div class="list-group">
        {{#each this.profile.coreProfiles as |core|}}
          <div class="list-group-item">
            <h4 class="list-group-item-heading text-info-dark">{{core.title}}
              <hr>
            </h4>
            <Object::MdProfile::Preview @record={{core}} @class="list-group-item-text" />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#if this.definition}}
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if this.task.isRunning "Loading..." (if this.definition.isNew "Save Definition" "Update Definition"))
    icon=(if this.task.isRunning "spinner" "floppy-o")
    iconSpin=this.task.isRunning
    disabled=this.disableSave
    class="btn-success btn-lg"
    click=(action "saveDefinition")
    }} />
    <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if this.definition.isNew "Cancel" "Back")
    icon=(if this.definition.isNew "undo" "arrow-left")
    class=(if this.definition.isNew "btn-warning btn-lg" "btn-primary btn-lg")
    click=(action "cancelEdit")
    }} />
{{else}}
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text="Add Definition"
    icon="plus"
    class="btn-success btn-lg"
    click=(action "addDefinition")
    disabled=(if this.definition true)
    }} />
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if this.checkForUpdates.isRunning "Checking..." "Check for Updates")
    iconSpin=this.checkForUpdates.isRunning
    disabled=this.checkForUpdates.isRunning
    icon=(if this.checkForUpdates.isRunning "spinner" "check")
    class="btn-info btn-lg"
    click=(perform this.checkForUpdates)
    }} />

  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text= "Back to Profiles"
    icon="arrow-left"
    class="btn-primary btn-lg"
    click=(action "toProfile")
    }} />
{{/if}}
