<div class="section-header">
  <h3>
    Manage Definitions
  </h3>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href={{concat "#" elementId "-imported"}} aria-controls="imported" role="tab" data-toggle="tab">Imported</a></li>
  <li role="presentation">
    <a href={{concat "#" elementId "-core"}} aria-controls="core" role="tab" data-toggle="tab">Core</a>
  </li>
</ul>
<div class="card-block">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id={{concat elementId "-imported"}}>
      {{#if definition}}
        <h4 class="tab-header">
          {{#liquid-if definition use="fade" growDuration=100 class="inline-block"}}
            {{#if definition.isNew}}
              Add Profile Definition
            {{else}}
              {{concat "Edit " definition.title}}
            {{/if}}
            {{#if task.isRunning}}
              <small>...downloading definition</small>
              {{fa-icon "spinner" spin=true}}
            {{/if}}
          {{/liquid-if}}
          <hr>
        </h4>
      {{/if}}

      {{#liquid-if definition use="fade"}}
        {{#if definition.isNew}}
          <Object::MdProfile::Form @record={{definition}} />
        {{else if definition}}
          <Object::MdProfile @record={{definition}} />
        {{/if}}
      {{else}}
        <Control::MdEditTable @data={{model}} @dataColumns={{columns}} @columnSets={{columnSets}} @rowBodyComponent="object/md-profile/form" @pageSize={{25}} @editRow={{action "editDefinition"}} @actionBadges={{badges}} />
      {{/liquid-if}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id={{concat elementId "-core"}}>
      <h4 class="tab-header">
        List of Core Definitions
      </h4>
      <div class="list-group">
        {{#each profile.coreProfiles as |core|}}
          <div class="list-group-item">
            <h4 class="list-group-item-heading text-info-dark">{{core.title}}
              <hr>
            </h4>
            <Object::MdProfile::Preview @record={{core}} @class="list-group-item-text" />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#if definition}}
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if task.isRunning "Loading..." (if definition.isNew "Save Definition" "Update Definition"))
    icon=(if task.isRunning "spinner" "floppy-o")
    iconSpin=task.isRunning
    disabled=disableSave
    class="btn-success btn-lg"
    click=(action "saveDefinition")
    }} />
    <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if definition.isNew "Cancel" "Back")
    icon=(if definition.isNew "undo" "arrow-left")
    class=(if definition.isNew "btn-warning btn-lg" "btn-primary btn-lg")
    click=(action "cancelEdit")
    }} />
{{else}}
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text="Add Definition"
    icon="plus"
    class="btn-success btn-lg"
    click=(action "addDefinition")
    disabled=(if definition true)
    }} />
  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text=(if checkForUpdates.isRunning "Checking..." "Check for Updates")
    iconSpin=checkForUpdates.isRunning
    disabled=checkForUpdates.isRunning
    icon=(if checkForUpdates.isRunning "spinner" "check")
    class="btn-info btn-lg"
    click=(perform checkForUpdates)
    }} />

  <ToElsewhere @named="md-subbar-settings" @send={{component "control/md-button"
    text= "Back to Profiles"
    icon="arrow-left"
    class="btn-primary btn-lg"
    click=(action "toProfile")
    }} />
{{/if}}
