{{#if this.label}}
  <label>
    {{this.label}}
    {{!--<div class="pull-right"></div> --}}
  </label>
  {{#if this.showInfoTip}}
    <Control::MdInfotip @text={{this.placeholder}} />
  {{/if}}
{{/if}}
<div class="md-input-input">
  <Input
    @value={{this.value}}
    @type={{this.type}}
    placeholder={{this.placeholder}}
    required={{this.required}}
    step={{this.step}}
    maxlength={{this.maxlength}}
    class={{this.inputClass}}
    disabled={{this.disabled}}
    readonly={{this.readonly}}
  />

  <span class="md-input-error">
    {{#if this.showErrorMessage}}
      <span class="md-error">
        {{fa-icon "exclamation-circle"}}
        <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip danger">
            {{v-get this.model this.valuePath "message"}}
        </EmberTooltip>
      </span>
    {{/if}}

    {{#if this.showWarningMessage}}
      <span class="md-warning">
        {{fa-icon "exclamation-triangle"}}
        <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip warning">
        {{v-get this.model this.valuePath "warningMessage"}}
        </EmberTooltip>
      </span>
    {{/if}}
  </span>
</div>
{{yield}}{{yield}}