{{#if label}}<label>{{label}}</label>{{/if}}
<div class="md-input-input">
  {{input
    value=value
    placeholder=placeholder
    required=required
    type=type
    maxlength=maxlength
    class=inputClass
    disabled=disabled
  }}

  <span class='md-input-error'>
    {{#if showErrorMessage}}
      <span class='error'>
        {{fa-icon "exclamation-circle"}}
        {{#tooltip-on-element side="right" class="md-tooltip danger"}}
            {{v-get model valuePath 'message'}}
        {{/tooltip-on-element}}
      </span>
    {{/if}}

    {{#if showWarningMessage}}
      <span class='warning'>
        {{fa-icon "exclamation-triangle"}}
        {{#tooltip-on-element side="right" class="md-tooltip warning"}}
        {{v-get model valuePath 'warningMessage'}}
        {{/tooltip-on-element}}
      </span>
    {{/if}}
  </span>
</div>
{{yield}}
