<div class='row md-section-secondary'>
  <div class='md-record-content col-sm-10'>
    <LiquidOutlet />
  </div>
  <div class='md-control-sidebar col-sm-2 hidden-print'>
    <Control::MdCrudButtons
      @model={{this.model}}
      @doSave={{route-action 'saveRecord'}}
      @doCancel={{route-action 'cancelRecord'}}
      @doDelete={{route-action 'destroyRecord'}}
      @doCopy={{route-action 'copyRecord'}}
    />
    {{!-- {{#liquid-bind currentModel use="fade" duration="1000"}} --}}
    <hr />
    <FromElsewhere @name='md-subbar-extra' />

    <div
      class='btn-group-vertical center-block'
      role='group'
      aria-label='Action Button Controls'
    >
      <MultipleFromElsewhere @name='md-subbar-buttons' />
    </div>

    <FromElsewhere @name='md-scroll-spy-record-edit' as |spy|>
      {{component spy offset=145}}
    </FromElsewhere>
    {{!-- {{/liquid-bind}} --}}
  </div>
</div>

<ToElsewhere
  @named='record-nav'
  @send={{
    component
    'input/md-select-profile'
    value=this.model.profile
    record=this.model
  }}
/>

{{#if this.model}}
  <ToElsewhere
    @named='nav-secondary'
    @send={{component 'layout/md-nav-secondary' model=this.model}}
  />
{{/if}}