<div class="row md-section-secondary">
  <div class="md-record-content col-sm-10">
    {{outlet}}
  </div>
  <div class="col-sm-2">
    <div class="md-control-sidebar hidden-print">
      {{control/md-crud-buttons
          model=model
          doSave="saveRecord"
          doCancel="cancelRecord"
          doDelete="destroyRecord"
          doCopy="copyRecord" }}
      {{component subbar context=(route-action "getContext")}}
      <hr>
      {{from-elsewhere name="md-subbar-extra"}}

      {{#from-elsewhere name="md-scroll-spy-record-edit" as |spy|}}
          {{component spy offset=145}}
      {{/from-elsewhere}}
      {{!-- {{control/md-scroll-spy offset=145 scrollInit=scrollTo}} --}}
    </div>
  </div>
</div>
