<div class="row md-section-secondary">
  <div class="md-record-content col-sm-10">
    {{liquid-outlet}}
  </div>
  <div class="md-control-sidebar col-sm-2 hidden-print">
      <Control::MdCrudButtons @model={{this.model}} @doSave={{this.saveRecord}} @doCancel={{this.cancelRecord}} @doDelete={{this.destroyRecord}} @doCopy={{this.copyRecord}} />
    {{!-- {{#liquid-bind currentModel use="fade" duration="1000"}} --}}
      <hr>
      <FromElsewhere @name="md-subbar-extra" />

      <div class="btn-group-vertical center-block" role="group" aria-label="Action Button Controls">
        <MultipleFromElsewhere @name="md-subbar-buttons" />
      </div>

      <FromElsewhere @name="md-scroll-spy-record-edit" as |spy|>
          {{component spy offset=145}}
      </FromElsewhere>
    {{!-- {{/liquid-bind}} --}}
  </div>
</div>

<ToElsewhere @named="record-nav" @send={{component "input/md-select-profile" value=this.model.profile record=this.model}} />

{{#if this.model}}
  <ToElsewhere @named="nav-secondary" @send={{component "layout/md-nav-secondary" model=this.model}} />
{{/if}}
