<div class="row">
  <div class="col-md-4">
    <Input::MdCodelist @path="language" @model={{this}} @create={{true}} @tooltip={{true}} @icon={{false}} @disabled={{this.disabled}} @mdCodeName="language" @label="Language" @showValidations={{true}} @placeholder="Select or enter a language code." @profilePath={{concat this.profilePath ".language"}} />
  </div>
  <div class="col-md-4">
    <Input::MdCodelist @path="characterSet" @model={{this}} @create={{false}} @tooltip={{true}} @icon={{false}} @disabled={{this.disabled}} @mdCodeName="characterSet" @label="Character Set" @showValidations={{true}} @placeholder="Select character set." @profilePath={{concat this.profilePath ".characterSet"}} />
  </div>
  <div class="col-md-4">
    <Input::MdCodelist @value={{this.model.country}} @create={{false}} @tooltip={{true}} @icon={{false}} @disabled={{this.disabled}} @mdCodeName="countries" @label="Country" @placeholder="Select country code." @profilePath={{concat this.profilePath ".country"}} />
  </div>
</div>
{{yield}}
