<div class="footer-container">
  <span>
    <a class="btn btn-xs btn-warning"
    href="https://github.com/adiwg/mdEditor/issues/new"
    target="_blank" rel="noopener noreferrer">
      {{fa-icon "github"}}
      Report Issue
    {{ember-tooltip text="Report bugs, Request features - GitHub account required." side="top"}}
    </a>
  </span>
    <span class={{if isOverThreshold "text-danger" "text-success"}}>
    {{fa-icon "archive"}}: {{storagePercent}}%
    {{ember-tooltip text="This is a percent of how much local storage has been used." side="top" event="click"}}
  </span>
  <span>
    AutoSave:
    <span class={{if settings.data.autoSave "text-success" "text-warning"}}>
      {{if settings.data.autoSave "On" "Off"}}
    </span>
  </span>
  {{yield}}
</div>
