<h4 class="section-header">Editing Reference
  <span class="small">for Domain <em>{{model.codeName}}</em></span>
  {{control/md-status model=parentModel}}
</h4>
{{#with model.domainReference as |citation|}}
  {{object/md-citation
    class=""
    model=citation
    profilePath="dictionary.citation"
    simpleIdentifier=false
    editIdentifier=(route-action "editIdentifier")
  }}
  {{outlet}}
{{/with}}
{{to-elsewhere
  named="md-subbar-extra"
  send=(component "control/subbar-link"
    text="Back to Domain"
    icon="arrow-left"
    type="primary"
    click=(route-action "backToDomain")
  )
}}
{{to-elsewhere named="md-scroll-spy-dict-edit"
  send=(component "control/md-scroll-spy" scrollInit=scrollTo setScrollTo=(route-action "setScrollTo"))}}
