{{#with this.item
  as
  |model|}}
  <dl class="dl-horizontal">
    {{!-- <h4 class="text-info">Allocation #{{index}}</h4> --}}
    <div class="row">
      <div class="col-sm-6">
        <label>Start Date:</label>
        {{if model.timePeriod.startDateTime (moment-format model.timePeriod.startDateTime "MM-DD-YYYY") "Not defined"}}
      </div>
      <div class="col-sm-6">
        <label>End Date:</label>
        {{if model.timePeriod.endDateTime (moment-format model.timePeriod.endDateTime "MM-DD-YYYY") "Not defined"}}
      </div>
    </div>
  </dl>

  <h5 class="text-info"><strong>Allocations</strong></h5>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Currency</th>
          <th>Source</th>
          <th>Recipient</th>
          <th>Match?</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.allocation
          as
          |alloc|}}
          <tr>
            <td>{{get-dash alloc "amount"}}</td>
            <td>{{get-dash alloc "currency"}}</td>
            <td>{{control/md-contact-title contactId=alloc.sourceId default="--"}}</td>
            <td>{{control/md-contact-title contactId=alloc.recipientId default="--"}}</td>
            <td>{{get-dash alloc "matching"}}</td>
          </tr>
        {{else}}
          <tr>
            <td colspan="5">No allocations found.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/with}}
