<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a class="sidebar-brand-link" href="#" {{action "toggleSidebar"}}>md<span class="icon-mdeditor"></span>ditor</a>
    <a id="md-btn-help" class="pull-right" href="#" {{action "toggleHelp"}}><span class="fa fa-question-circle"></span></a>
  </li>
  <li id="md-sidebar-lists">
    <div class="panel-group">
      <div class="panel">
        <div class="panel-heading clearfix" id="549-list-heading">
          <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
            {{#link-to "record.new" class="btn btn-primary btn-xs" }}
              <span class="fa fa-plus"></span> {{/link-to}}
            {{#link-to "records" class="btn btn-primary btn-xs" }}
              <span class="fa fa-list"></span> {{/link-to}}
          </div>
          <h4 class="panel-title bg-primary"><a class="" data-toggle="collapse" aria-expanded="true" href="#549-list" aria-controls="549-list"><span class="fa"></span> Metadata Records (3)</a></h4>
        </div>
        <div class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" id="549-list" aria-labelledby="549-list-heading">
          <div class="list-group">
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                <a href="/record/290259a8-8583-4a08-a660-e2ad1ed35c82/edit" class="btn btn-warning"><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row"><span class="fa fa-wrench"></span> My Project </a>
            </div>
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                <a href="/record/22b7ba3e-7c5b-4175-b90b-80eee95328f6/edit" class="btn btn-warning

                                "><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row"><span class="fa fa-table"></span> Some Data Table </a>
            </div>
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                <a href="/record/4c790110-299e-46d1-9ca5-13678a6e1a15/edit" class="btn btn-warning

                                "><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row"><span class="fa fa-map-marker"></span> Borehole Project </a>
            </div>
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                <a href="/record/4c790110-299e-46d1-9ca5-13678a6e1a15/edit" class="btn btn-warning

                                "><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row"><span class="fa fa-wrench"></span> Another Project </a>
            </div>
          </div>
          <!-- <div class="panel-footer">
                    <button>More</button>
                    </div> -->
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading clearfix" id="500-list-heading">
          <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
            <a href="/contacts/new" class="btn btn-primary

                        btn-xs"><span class="fa fa-plus"></span></a>
            <a href="/contacts" class="btn btn-primary

                        btn-xs"><span class="fa fa-list"></span></a>
          </div>
          <h4 class="panel-title bg-primary"><a class="" data-toggle="collapse" aria-expanded="true" href="#500-list" aria-controls="500-list"><span class="fa"></span> Contacts (4)</a></h4>
        </div>
        <div class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" id="500-list" aria-labelledby="500-list-heading">
          <div class="list-group">
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">

                <a href="/contacts/70ca9abe-9f5f-45d3-a1e5-f6571ec166ea/edit" class="btn btn-warning

                                "><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row"><span class="fa fa-users"></span> USGS </a>
            </div>
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">

                <a href="/contacts/c8b7af37-2b19-4dc6-b576-0c315b472d55/edit" class="btn btn-warning

                                "><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row"><span class="fa fa-user"></span> Josh Bradley </a>
            </div>
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">

                <a href="/contacts/6c8e9abf-073c-4ad1-a5a9-3693626d2b05/edit" class="btn btn-warning

                                "><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row"><span class="fa fa-user"></span> Stan Smith </a>
            </div>
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">

                <a href="/contacts/6b388bde-af33-4498-857b-a435a9731859/edit" class="btn btn-warning

                                "><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row"><span class="fa fa-users"></span> Arctic Landscape Conservation Cooperative </a>
            </div>
          </div>
          <!-- <div class="panel-footer">
                    <button>More</button>
                    </div> -->
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading clearfix" id="5490-list-heading">
          <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
            <a href="/dictionaries/new" class="btn btn-primary

                        btn-xs"><span class="fa fa-plus"></span></a>
            <a href="/dictionaries" class="btn btn-primary

                        btn-xs"><span class="fa fa-list"></span></a>
          </div>
          <h4 class="panel-title bg-primary"><a class="" data-toggle="collapse" aria-expanded="true" href="#5490-list" aria-controls="5490-list"><span class="fa"></span> Dictionaries (1)</a></h4>
        </div>
        <div class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" id="5490-list" aria-labelledby="5490-list-heading">
          <div class="list-group">
            <div class="list-group-item" draggable="true">
              <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                <a href="/record/290259a8-8583-4a08-a660-e2ad1ed35c82/edit" class="btn btn-warning

                                "><span class="fa fa-pencil"></span></a>
              </div>
              <!--<span class="{{if draggable 'fa fa-ellipsis-v pull-right'}}"></span> -->
              <a class="sidebar-row">Sample Table </a>
            </div>
          </div>
          <!-- <div class="panel-footer">
                    <button>More</button>
                    </div> -->
        </div>
      </div>
    </div>
  </li>
</ul>
{{yield}}
