  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="sidebar-brand-link" href="#" {{action "toggleSidebar"}}>md<span class="md-icon-mdeditor"></span>ditor</a><span class="md-app-version {{this.prerelease}}">v{{this.version}}</span>
      <a class="md-btn-help pull-right" href="#" {{action "toggleHelp"}}><FaIcon @icon={{if this.showHelp "list" "circle-question"}} /></a>
    </li>
    {{#if this.showHelp}}
      <div class="animated-if fade no-growth animated-if--visible">
        {{this.md-help}}
      </div>
    {{else}}
    <li id="md-sidebar-lists">
      <div class="panel-group">
        {{#each this.items as |class|}}
          {{#with class.meta as |meta|}}
            <div class="panel">
              <div class="panel-heading clearfix" id="{{meta.listId}}-heading">
                <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                  <LinkTo @route={{concat meta.type ".new"}} class="btn btn-primary btn-xs">
                    <FaIcon @icon="plus" />
                  </LinkTo>
                  <LinkTo @route={{meta.list}} class="btn btn-primary btn-xs">
                    <FaIcon @icon="list" />
                  </LinkTo>
                </div>
                <h4 class="panel-title bg-primary">
              <a class="" data-toggle="collapse" aria-expanded="true"
                href="#{{meta.listId}}" aria-controls={{meta.listId}}>
                <FaIcon @icon="chevron-up" class="accordion-icon" /> {{meta.title}} ({{class.length}})
              </a>
            </h4>
              </div>
              <div class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" id={{meta.listId}} aria-labelledby="{{meta.listId}}-heading">
                <div class="list-group">
                {{#each class as |record|}}
                    <div class="list-group-item" draggable="true">
                      <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Navigation Buttons">
                        <LinkTo @route={{concat meta.type ".show.edit"}} @model={{record}} class={{concat "btn btn-" record.status}} @disabled={{record.isNew}} draggable="false">
                          <FaIcon @icon="pencil" />
                        </LinkTo>
                      </div>
                      <LinkTo @route={{concat meta.type ".show"}} @model={{record}} class="sidebar-row" @disabled={{record.isNew}} @activeClass={{concat "active text-" record.status}} draggable="false">
                          {{#if record.defaultLogo}}
                            <img src={{record.defaultLogo}} alt="logo" class="fa-fw">
                          {{else}}
                            <FaIcon @icon={{record.icon}} class="fa-fw" />
                          {{/if}}
                          {{record.title}}
                      </LinkTo>
                    </div>
                {{/each}}
                </div>
              </div>
            </div>
          {{/with}}
        {{/each}}
      </div>
    </li>
    {{/if}}
  </ul>
