<div class="row">
    <div class="col-sm-9 col-md-offset-1">
        <h3>Editing Contact: {{this.model.json.name}} <small>{{this.model.json.contactId}}</small>
          <span class="text-danger">
            {{!-- {{#if model.hasDirtyHash}}
              <FaIcon @icon="circle-exclamation" />
              {{ember-tooltip text="This record has been modified!" side="right"
                tooltipClass="ember-tooltip md-tooltip danger"
              }}
            {{/if}} --}}
            <Control::MdStatus @model={{this.model}} />
          </span>
        </h3>
        <form>
            <Input::MdInputConfirm @valuePath="json.contactId" @model={{this.model}} @data-spy="Contact ID" @confirmTip="Note! Editing the Contact ID may break links. Be aware." @placeholder={{t "placeholders.contact.id"}} @label="Contact ID" />

            <Input::MdInput @valuePath="json.name" @model={{this.model}} @placeholder={{concat this.model.type " Name"}} @label={{concat this.model.type " Name"}} />

            {{#unless this.model.json.isOrganization}}
                <Input::MdInput @valuePath="json.positionName" @model={{this.model}} @placeholder={{t "placeholders.contact.positionName"}} @label="Position Name" />
            {{/unless}}

            <Input::MdCodelist @value={{this.model.json.contactType}} @label="Contact Type" @create={{false}} @tooltip={{true}} @icon={{false}} @mdCodeName="entityType" @placeholder="Select a contact type" />

            <Input::MdSelectContacts @label="Member Of Organization" @placeholder="Pick organization(s) this contact belongs to" @value={{this.model.json.memberOfOrganization}} @contactType="organizations" @icon={{true}} @tooltip={{false}} @defaultIcon="organizations" @filterId={{this.model.json.contactId}} />

            <Object::MdContactIdentifierArray @value={{this.model.json.externalIdentifier}} @data-spy="ExternalIdentifiers" />

            <Object::MdPhoneArray @value={{this.model.json.phone}} @data-spy="Phone" />

           <Object::MdSimpleArrayTable @data-spy="E-mail" @title="E-mail Address" @required={{false}} @value={{this.model.json.electronicMailAddress}} as |email|>
              <td>
                  <Input::MdInput @value={{email.item.value}} @placeholder="Enter valid e-mail address" />
              </td>
            </Object::MdSimpleArrayTable>

            <Object::MdAddress @model={{this.model.json.address}} @data-spy="Address" />

            <Object::MdOnlineResourceArray @model={{this.model.json.onlineResource}} @profilePath="contact" @data-spy="Online Resource" />

            <Object::MdGraphicArray @model={{this.model.json.logoGraphic}} @data-spy="Logo" @button-text="Add Logo" @label="Logo" @profilePath="contact" />

            <Object::MdSimpleArrayTable @data-spy="Availability" @title="Available Time" @value={{this.model.json.hoursOfService}} as |hour|>
              <td>
                  <Input::MdInput @value={{hour.item.value}} @placeholder="Describe time when contact is avaiable" />
              </td>
            </Object::MdSimpleArrayTable>

            <Input::MdTextarea @value={{this.model.json.contactInstructions}} @data-spy="Instructions" @placeholder={{t "placeholders.contact.instructions"}} @label="Contact Instructions" />
        </form>
    </div>
      <div class="md-control-sidebar col-sm-2 no-nav">
          <Control::MdCrudButtons @model={{this.model}} @doSave={{this.saveContact}} @doCancel={{this.cancelContact}} @doDelete={{this.destroyContact}} @doCopy={{this.copyContact}} />
          <Control::MdScrollSpy />

      </div>
</div>

{{!-- {{#control/md-modal
  isShowing = pausedTransition
  closeModal=this.cancelTransition
}}
  <strong>Warning</strong>: Changes have been made to this record!
  Clicking <strong class="text-warning">Continue</strong> will
  cancel changes made since the last save.
  <div class="md-modal-buttons pull-right">
    <button type="button" class="btn btn-danger" {{action this.confirmTransition}}>Continue</button>
    <button type="button" class="btn btn-primary" {{action this.cancelTransition}}>Stay Here</button>
  </div>
{{/control/md-modal}} --}}