<div class="row page-header">
    <div class="col-sm-9 col-md-offset-1">
      <h2>Editing Contact: {{model.json.name}} <small>{{model.json.contactId}}</small>
        <span class="text-danger">
          {{#if model.hasDirtyHash}}
            {{fa-icon "exclamation-circle"}}
            {{tooltip-on-element text='This record has been modified!' side="right"
              class="md-tooltip danger"
            }}
          {{/if}}
        </span>
      </h2>

    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-offset-1">
        <form>
            {{input/md-input-confirm value=model.json.contactId
              confirmTip="Note! Editing the Contact ID may break links. Be aware."
              placeholder="User assigned Contact ID" label="Contact ID"}}

            {{input/md-input value=model.json.name data-spy="Time"
              placeholder=(concat model.type " Name") label=(concat model.type " Name")}}

            {{#unless model.json.isOrganization}}
                {{input/md-input value=model.json.positionName
                  placeholder="Position Name" label="Position Name"}}
            {{/unless}}

            {{input/md-codelist
              value=model.json.contactType label="Contact Type"
              create=false tooltip=true icon=false mdCodeName="entityType"
              placeholder="Select a contact type"
            }}

            {{input/md-select-contact
                label="Member Of Organization"
                placeholder="Pick organization(s) this contact belongs to"
                value=model.json.memberOfOrganization
                icon=true
                tooltip=false
                defaultIcon="organizations"
                filterId=model.json.contactId
              }}


            {{object/md-phone-array value=model.json.phone data-spy="Phone"}}

           {{#object/md-simple-array-table data-spy="E-mail"
              title="E-mail Address"
              required=true
              value=model.json.electronicMailAddress as |email|
            }}
              <td>
                  {{input/md-input value=email.item.value
                  placeholder="Enter valid e-mail address"}}
              </td>
            {{/object/md-simple-array-table}}

            {{object/md-address model=model.json.address  data-spy="Address"}}

            {{object/md-online-resource-array model=model.json.onlineResource
              data-spy="Online Resource"}}

            {{object/md-graphic-array
              model=model.json.logoGraphic data-spy="Logo"
              button-text="Add Logo"
              label="Logo"
            }}

            {{#object/md-simple-array-table data-spy="Availability"
              title="Available Time"
              value=model.json.hoursOfService as |hour|
            }}
              <td>
                  {{input/md-input value=hour.item.value
                  placeholder="Describe time when contact is avaiable"}}
              </td>
            {{/object/md-simple-array-table}}

            {{input/md-textarea value=model.json.contactInstruction data-spy="Instructions"
            placeholder="Supplemental Contact Instructions" label="Contact Instructions"}}
        </form>
    </div>
    <div class="col-sm-2">
        <div class="md-control-sidebar">
            {{control/md-crud-buttons
                model=model
                doSave="saveContact"
                doCancel="cancelContact"
                doDelete="destroyContact"
                doCopy="copyContact"
            }}
            {{control/md-scroll-spy}}

        </div>
    </div>
</div>

{{!-- {{#control/md-modal
  isShowing = pausedTransition
  closeModal=(route-action "cancelTransition")
}}
  <strong>Warning</strong>: Changes have been made to this record!
  Clicking <strong class="text-warning">Continue</strong> will
  cancel changes made since the last save.
  <div class="md-modal-buttons pull-right">
    <button type="button" class="btn btn-danger" {{action (route-action "confirmTransition")}}>Continue</button>
    <button type="button" class="btn btn-primary" {{action (route-action "cancelTransition")}}>Stay Here</button>
  </div>
{{/control/md-modal}} --}}
