<div class="row page-header">
    <div class="col-sm-9 col-md-offset-1">
      <h2>Editing Contact: {{model.json.name}} <small>{{model.json.contactId}}</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-offset-1">
        <form>
            {{input/md-input value=model.json.contactId
            placeholder="User assigned Contact ID" label="Contact ID"}}

            {{input/md-input value=model.json.name
            placeholder=(concat model.type " Name") label=(concat model.type " Name")}}

            {{#unless model.json.isOrganization}}
                {{input/md-input value=model.json.positionName
                  placeholder="Position Name" label="Position Name"}}
            {{/unless}}

            {{object/md-phone-array value=model.json.phone isCollapsed=false}}

            {{#object/md-simple-array-table
              columns="E-mail"
              title="E-mail Address"
              required=true
              value=model.json.electronicMailAddress as |email|
            }}
              <td>
                  {{input/md-input value=email.item.value
                  placeholder="Enter valid e-mail address"}}
              </td>
            {{/object/md-simple-array-table}}



            {{object/md-address model=model.json}}

            {{object/md-online-resource-array model=model.json}}

            {{input/md-textarea value=model.json.contactInstructions
            placeholder="Supplemental Contact Instructions" label="Contact Instructions"}}
        </form>
    </div>
    <div class="col-sm-2">
        <div class="md-control-sidebar">
            {{control/md-crud-buttons
                model=model
                doSave="saveContact"
                doCancel="cancelContact"
                doDelete="destroyContact"
                doCopy="copyContact"
            }}
        </div>
    </div>

</div>
