<div class="row">
    <div class="col-sm-9 col-md-offset-1">
        <h3>Editing Contact: {{this.model.json.name}} <small>{{this.model.json.contactId}}</small>
          <span class="text-danger">
            {{!-- {{#if this.model.hasDirtyHash}}
              {{fa-icon "exclamation-circle"}}
              {{ember-tooltip text="This record has been modified!" side="right"
                tooltipClass="ember-tooltip md-tooltip danger"
              }}
            {{/if}} --}}
            {{control/md-status model=this.model}}
          </span>
        </h3>
        <form>
            {{input/md-input-confirm
              valuePath="json.contactId"
              model=this.model
              data-spy="Contact ID"
              confirmTip="Note! Editing the Contact ID may break links. Be aware."
              placeholder="User assigned Contact ID" label="Contact ID"}}

            {{input/md-input
              valuePath="json.name"
              model=this.model
              placeholder=(concat this.model.type " Name")
              label=(concat this.model.type " Name")}}

            {{#unless this.model.json.isOrganization}}
                {{input/md-input
                  valuePath="json.positionName"
                  model=this.model
                  placeholder="Position Name" label="Position Name"}}
            {{/unless}}

            {{input/md-codelist
              value=this.model.json.contactType label="Contact Type"
              create=false tooltip=true icon=false mdCodeName="entityType"
              placeholder="Select a contact type"
            }}

            {{input/md-select-contacts
                label="Member Of Organization"
                placeholder="Pick organization(s) this contact belongs to"
                value=this.model.json.memberOfOrganization
                contactType="organizations"
                icon=true
                tooltip=false
                defaultIcon="organizations"
                filterId=this.model.json.contactId
              }}

            {{object/md-contact-identifier-array value=this.model.json.externalIdentifier data-spy="ExternalIdentifiers"}}

            {{object/md-phone-array value=this.model.json.phone data-spy="Phone"}}

           {{#object/md-simple-array-table data-spy="E-mail"
              title="E-mail Address"
              required=false
              value=this.model.json.electronicMailAddress as |email|
            }}
              <td>
                  {{input/md-input value=email.item.value
                  placeholder="Enter valid e-mail address"}}
              </td>
            {{/object/md-simple-array-table}}

            {{object/md-address model=this.model.json.address  data-spy="Address"}}

            {{object/md-online-resource-array model=this.model.json.onlineResource
              profilePath="contact"
              data-spy="Online Resource"}}

            {{object/md-graphic-array
              model=this.model.json.logoGraphic data-spy="Logo"
              button-text="Add Logo"
              label="Logo"
              profilePath="contact"
            }}

            {{#object/md-simple-array-table data-spy="Availability"
              title="Available Time"
              value=this.model.json.hoursOfService as |hour|
            }}
              <td>
                  {{input/md-input value=hour.item.value
                  placeholder="Describe time when contact is avaiable"}}
              </td>
            {{/object/md-simple-array-table}}

            {{input/md-textarea value=this.model.json.contactInstructions data-spy="Instructions"
            placeholder="Supplemental Contact Instructions" label="Contact Instructions"}}
        </form>
    </div>
      <div class="md-control-sidebar col-sm-2 no-nav">
          {{control/md-crud-buttons
              model=this.model
              doSave=(route-action "saveContact")
              doCancel=(route-action "cancelContact")
              doDelete=(route-action "destroyContact")
              doCopy=(route-action "copyContact")
          }}
          {{control/md-scroll-spy}}

      </div>
</div>

{{!-- {{#control/md-modal
  isShowing = pausedTransition
  closeModal=(route-action "cancelTransition")
}}
  <strong>Warning</strong>: Changes have been made to this record!
  Clicking <strong class="text-warning">Continue</strong> will
  cancel changes made since the last save.
  <div class="md-modal-buttons pull-right">
    <button type="button" class="btn btn-danger" {{action (route-action "confirmTransition")}}>Continue</button>
    <button type="button" class="btn btn-primary" {{action (route-action "cancelTransition")}}>Stay Here</button>
  </div>
{{/control/md-modal}} --}}
