{{#if this.label}}
  <label>{{this.label}}</label>
{{/if}}

<div class='md-input-input'>
  <div class="input-group date">
    {{#if (eq this.inputType "number")}}
      <input
        type="number"
        class="form-control"
        value={{this.inputValue}}
        placeholder={{this.placeholder}}
        min="1"
        max="9999"
        step="1"
        {{on "change" this.handleDateChange}}
      >
    {{else if (eq this.inputType "datetime-local")}}
      <input
        type="datetime-local"
        class="form-control"
        value={{this.inputValue}}
        placeholder={{this.placeholder}}
        step="1"
        {{on "change" this.handleDateChange}}
      >
    {{else}}
      <input
        type={{this.inputType}}
        class="form-control"
        value={{this.inputValue}}
        placeholder={{this.placeholder}}
        {{on "change" this.handleDateChange}}
      >
    {{/if}}
    <span class="input-group-addon" role="button" {{on "click" this.handleToday}}>
      <i class="fa fa-calendar"></i>
    </span>
    {{#if this.showClear}}
      <span class="input-group-addon" role="button" {{on "click" this.handleClear}}>
        <i class="fa fa-trash"></i>
      </span>
    {{/if}}
  </div>

  <span class='md-inputgroup-error'>
    {{#if this.showErrorMessage}}
      <span class='md-error'>
        {{fa-icon 'exclamation-circle'}}
        {{#ember-tooltip
          side='right' tooltipClass='ember-tooltip md-tooltip danger'
        }}
          {{v-get this.model this.valuePath 'message'}}
        {{/ember-tooltip}}
      </span>
    {{/if}}

    {{#if this.showWarningMessage}}
      <span class='md-warning'>
        {{fa-icon 'exclamation-triangle'}}
        {{#ember-tooltip
          side='right' tooltipClass='ember-tooltip md-tooltip warning'
        }}
          {{v-get this.model this.valuePath 'warningMessage'}}
        {{/ember-tooltip}}
      </span>
    {{/if}}
  </span>
</div>
