{{#if label}}
  <label>{{label}}</label>
{{/if}}
<div class="md-input-input">
  {{bs-datetimepicker
      date=date
      format=format
      extraFormats=extraFormats
      dateIcon="fa fa-calendar"
      icons=calendarIcons
      forceDateOutput=forceDateOutput
      placeholder=placeholder
      showClear=showClear
      useCurrent=useCurrent
      textFieldRequired=required
      updateDate=(action "updateDate")
  }}
  <span class='md-inputgroup-error'>
    {{#if showErrorMessage}}
      <span class='md-error'>
        {{fa-icon "exclamation-circle"}}
        {{#tooltip-on-element side="right" class="md-tooltip danger"}}
            {{v-get model valuePath 'message'}}
        {{/tooltip-on-element}}
      </span>
    {{/if}}

    {{#if showWarningMessage}}
      <span class='md-warning'>
        {{fa-icon "exclamation-triangle"}}
        {{#tooltip-on-element side="right" class="md-tooltip warning"}}
        {{v-get model valuePath 'warningMessage'}}
        {{/tooltip-on-element}}
      </span>
    {{/if}}
  </span>
</div>
