{{#if this.label}}
  <label>{{this.label}}</label>
{{/if}}

<div class='md-input-input'>
  <BsDatetimepicker @date={{this._date}} @format={{this.format}} @extraFormats={{this.extraFormats}} @dateIcon="fa fa-calendar" @timeIcon="fa fa-clock-o" @icons={{this.calendarIcons}} @placeholder={{this.placeholder}} @showClear={{this.showClear}} @useCurrent={{this.useCurrent}} @textFieldRequired={{this.required}} @showTodayButton={{this.showTodayButton}} @change={{this.change}} />

  <span class='md-inputgroup-error'>
    {{#if this.showErrorMessage}}
      <span class='md-error'>
        {{fa-icon 'exclamation-circle'}}
        <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip danger">
          {{v-get this.model this.valuePath 'message'}}
        </EmberTooltip>
      </span>
    {{/if}}

    {{#if this.showWarningMessage}}
      <span class='md-warning'>
        {{fa-icon 'exclamation-triangle'}}
        <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip warning">
          {{v-get this.model this.valuePath 'warningMessage'}}
        </EmberTooltip>
      </span>
    {{/if}}
  </span>
</div>