{{control/md-record-table/buttons/show record=record}}
<button type="button" class="btn btn-sm btn-success" onclick={{action "editItem" record}}>
  {{fa-icon "pencil"}} Edit
</button>
{{#control/md-button-confirm class="btn btn-sm btn-danger" onConfirm=(action "deleteItem" record index isSelected clickOnRow)}}
  <span class="fa fa-times"></span> Delete
{{/control/md-button-confirm}}
{{control/md-json-button class="btn-sm btn-primary" json=record.cleanJson title=record.title}}
{{control/md-status
  model=record
  isBtn=true
  hideSlider=true
  showSlider=(action "showSlider" record)
}}
{{yield}}
