<div class="panel panel-default box-shadow--8dp">

    <div class="panel-heading">
        <h3 class="panel-title md-panel-chevron">
            <a data-toggle="collapse" aria-expanded="{{if collapsed "false" "true"}}"
               class="{{if collapsed "collapsed"}}"
               href="#{{panelId}}" aria-controls="#{{panelId}}">
                <span class="fa"></span> {{pluralize title}}
                <label class="label label-pill {{pillColor}}"> {{value.length}} </label>
            </a>
            <button type="button" id="{{panelId}}-btn" class="btn btn-xs btn-success pull-right"
                {{action "addItem" value}}>
                <span class="fa fa-plus"></span> Add
            </button>
        </h3>
    </div>

    <div id="{{panelId}}" class="panel-collapse {{if collapsed "collapse" "in"}}">
        <div class="panel-body">
            <table class="table table-striped table-hover fadeIn">
                {{#if columnArray}}
                    <thead>
                        <th>#</th>
                        {{#each columnArray as |prop|}}
                            <th>{{uc-words prop}}</th>
                        {{/each}}
                        <th></th>
                    </thead>
                {{/if}}
                <tbody>
                    {{#each value as |item index|}}
                        <tr>
                            <td>{{index}}</td>
                            {{yield (hash item=item index=index)}}
                            <td>
                                <div class="md-button-column">
                                    <button class="btn btn-xs btn-danger" {{action "deleteItem" value index}}>
                                        <span class="fa fa-times"></span> Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {{else}}
                    <tr>
                        <td colspan="{{add-em 2 columnArray.length}}">
                            <button type="button" id="{{panelId}}-btn" class="btn btn-xs btn-success"
                                {{action "addItem" value}}>
                                <span class="fa fa-plus"></span> Add {{title}}
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
