{{#if this.isShowing}}
  <Hds::Modal
    @isOpen={{true}}
    @onClose={{this.handleClose}}
    @size="medium"
    as |modal|
  >
    <modal.Header>
      {{#if @title}}
        {{@title}}
      {{/if}}
    </modal.Header>

    <modal.Body>
      {{yield}}
      {{#if this.safeMessage}}
        <div>{{this.safeMessage}}</div>
      {{/if}}
    </modal.Body>

    <modal.Footer>
      {{#if this.showCancel}}
        <Hds::Button
          @text="Cancel"
          @color="secondary"
          @onClick={{this.handleCancel}}
        />
      {{/if}}
      {{#if this.showConfirm}}
        <Hds::Button
          @text={{this.confirmLabel}}
          @color="primary"
          @onClick={{this.handleConfirm}}
        />
      {{/if}}
    </modal.Footer>
  </Hds::Modal>
{{/if}}