{{#if this.isShowing}}
  <div>
    {{#modal-dialog
        onClose=(action "closeModal")
        targetAttachment="middle center"
        attachment="middle center"
        translucentOverlay=true
        containerClass="md-modal-container"
        overlayClass="md-modal-overlay"
        tetherTarget=this.target
        renderInPlace=this.renderInPlace
    }}
      <button type="button" {{action "closeModal"}} class="md-modal-close" aria-label="Close">
        <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-times fa-stack-1x fa-inverse"></i>
          </span>
      </button>
      <div class="md-modal-body">
        {{yield}} {{html-safe this.message}}
      </div>
      <div class="md-modal-buttons pull-right">
        {{#if this.showConfirm}}
          <button type="button" class="btn btn-success" {{on "click" this.confirm}}>{{this.confirmLabel}}</button>
        {{/if}}
        {{#if this.showCancel}}
          <button type="button" class="btn btn-warning" {{on "click" this.cancel}}>Cancel</button>
        {{/if}}
      </div>
    {{/modal-dialog}}
  </div>
{{/if}}
