<h4 class="section-header">
  Editing Raster Description #{{this.rasterId}}
  <Control::MdStatus @model={{this.parentModel}} />
</h4>

<Object::MdRaster @model={{this.model}} @editAttribute={{route-action "editAttribute"}} @deleteAttrGroup={{route-action "deleteAttrGroup"}} @addAttrGroup={{route-action "addAttrGroup"}} @profilePath="record.spatial.coverageDescription" />

<ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-link"
    text="Back to Spatial Information"
    icon="arrow-left"
    route="record.show.edit.spatial"}} />

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"
  scrollInit=this.scrollTo
  setScrollTo=(route-action "setScrollTo")
  refresh=this.refresh}} />