  <div class="search-form form-inline">
    <!-- <form> -->
    <div class="form-group search-grp">
      <label for="input-search" class="sr-only">Search Tree:</label>
      {{input type="text" class="form-control input-search" placeholder="Type to search..." value=searchString}}
    </div>
    <div class="form-group chk-grp">
      {{!-- <div class="checkbox">
        <label data-toggle="tooltip" title="" data-original-title="Show results in the tree(slower).">
          <input type="checkbox" class="chk-reveal-results" value="false"> Reveal Results </label>
      </div> --}}
      <div class="checkbox">
        <label>
          {{input type="checkbox" class="chk-exact-match" checked=exactMatch}} Exact Match </label>
      </div>
    </div>

    {{!-- <div class="form-group">
      <button type="button" class="btn btn-success btn-md btn-search">
        Search
      </button>
      <button type="button" class="btn btn-warning btn-md btn-clear-search">
        Clear
      </button>
  </div> --}}
  </div>
  <!-- </form> -->
  <div class="search-output" style="opacity: 1;">
    {{#if searchString.length}}
    <p class="text-right">
      {{actualTotal}} matches found.
      {{#if overLimit}} Displaying first {{limit}} results...
      {{/if}}
    </p>
    {{/if}}
    <ul class="list-group">
      {{#each (sort-by "label" searchResult) as |child|}}
          <li class="list-group-item tree-leaf">
            {{tree-label model=child select=select path=child.path highlight=searchString}}
          </li>
      {{/each}}
    </ul>
  </div>
{{yield}}
