{{#if inTree}}
<span class="tree-cell text-nowrap">
  {{#each (range 1 nodeDepth)}}
    <span class="tree-indent"></span>
  {{/each}}
</span>

<span class="tree-cell tree-icon" {{action "toggleCheck" bubbles=false}}>
  {{#if model.draggable}}
  {{fa-icon "ellipsis-v" fixedWidth=false}}
  {{/if}}
</span>

<span class="tree-cell tree-icon" {{action "toggleCheck" bubbles=false}}>
  {{#unless disableCheck}}
    {{#if model.checkable}}
      {{fa-icon (if model.isChecked "check-square-o" "square-o") fixedWidth=true}}
    {{else}}
      <span class="icon fa fa-fw"></span>
    {{/if}}
  {{/unless}}
</span>
<span class="tree-cell tree-icon">
  <span class="toggle-icon" {{action 'toggleExpand' bubbles=false}}>
    {{#if model.children.length}}
      {{#if model.isExpanded}}
      <span class="icon expand-icon fa fa-minus fa-fw"></span>
      {{else}}
      <span class="icon expand-icon fa fa-plus  fa-fw"></span>
      {{/if}}
    {{else}}
    <span class="icon fa fa-fw"></span>
    {{/if}}
  </span>
</span>

<span class="tree-cell tree-fill">
  <span class="tree-cell">
    {{tree-label model=model labelComponent=labelComponent}}
  </span>
</span>
{{#if model.definition}}
   <span class="tree-cell">
     <span class="badge">?
       {{tooltip-on-element text=model.definition side="right"}}
     </span>
   </span>
{{/if}}
{{else}}
  {{tree-label labelComponent=labelComponent model=model path=model.path highlight=highlight}}
{{/if}}
