{{input/md-codelist
  create=true
  label="Report Type"
  tooltip=true
  icon=false
  disable=false
  allowClear=true
  showValidations=true
  mdCodeName="dataQualityElement"
  path="reportType"
  model=this
  placeholder="Select Report Type"
  profilePath=(concat profilePath ".type")
  class=(if (v-get this "isInvalid") "required")
}}

{{input/md-textarea
  value=model.standaloneQualityReportDetails
  placeholder="Enter detail reference."
  label="Standalone Report Detail Reference"
  profilePath=(concat profilePath ".standaloneQualityReportDetails")
}}

{{#layout/md-card
  collapsible=true
  title="Quality Measure"
  profilePath=(concat profilePath ".qualityMeasure")
  data-spy=(if data-spy "Quality Measure")
  content=model.qualityMeasure
}}
  {{!-- {{object/md-identifier-object-table
    model=model.qualityMeasure.identifier
    profilePath=(concat profilePath ".qualityMeasure.identifier")
    data-spy=(if data-spy "Identifier")
    visibility=true
    short=true
    class=(if embedded "md-embedded")
  }} --}}
  {{object/md-identifier
    model=model.qualityMeasure.identifier
    short=true
    profilePath=(concat profilePath ".qualityMeasure.identifier")
  }}
  {{input/md-input
    value=qualityMeasureName
    placeholder="Enter the name."
    label="Name"
    profilePath=(concat profilePath ".qualityMeasure.name")
  }}
  {{! <div>Name required if identifier not provided</div> }}
  {{input/md-textarea
    value=model.qualityMeasure.description
    placeholder="Enter description."
    label="Description"
    profilePath=(concat profilePath ".qualityMeasure.description")
  }}
{{/layout/md-card}}

{{#layout/md-card
  collapsible=true
  title="Evaluation Method"
  profilePath=(concat profilePath ".evaluationMethod")
  data-spy=(if data-spy "Evaluation Method")
  content=model.evaluationMethod
}}
  {{input/md-codelist
    create=true
    label="Evaluation Type"
    tooltip=true
    icon=false
    disable=false
    allowClear=true
    showValidations=true
    mdCodeName="dataQualityElement"
    path="evaluationType"
    model=this
    placeholder="Select Evaluation Type"
    profilePath=(concat profilePath ".evaluationMethod.type")
    class=(if (v-get this "isInvalid") "required")
  }}
  {{input/md-input
    value=model.evaluationMethod.dateTime
    placeholder="Enter the dateTime."
    label="Date Time"
    profilePath=(concat profilePath ".evaluationMethod.dateTime")
  }}
  {{input/md-textarea
    value=model.evaluationMethod.methodDescription
    placeholder="Enter description."
    label="Method Description"
    profilePath=(concat profilePath ".evaluationMethod.methodDescription")
  }}
{{/layout/md-card}}

{{#object/md-object-table
  items=model.quantitativeResult
  header="Quantitative Result"
  buttonText="Add Quantitative Result"
  ellipsis=true
  profilePath=(concat profilePath ".quantitativeResult")
  attributes="dateTime,value,valueUnits,valueRecordType"
  as |editing|
}}
  {{object/md-quality-report/quantitative-result
    model=editing
    profilePath=(concat profilePath ".quantitativeResult")
  }}
{{/object/md-object-table}}

{{#object/md-object-table
  items=model.descriptiveResult
  header="Descriptive Result"
  buttonText="Add Descriptive Result"
  ellipsis=true
  profilePath=(concat profilePath ".descriptiveResult")
  attributes="dateTime,statement"
  as |editing|
}}
  {{object/md-quality-report/descriptive-result
    model=editing
    profilePath=(concat profilePath ".descriptiveResult")
  }}
{{/object/md-object-table}}

{{#object/md-object-table
  items=model.conformanceResult
  header="Conformance Result"
  buttonText="Add Conformance Result"
  ellipsis=true
  profilePath=(concat profilePath ".conformanceResult")
  attributes="dateTime,explanation,pass"
  as |editing|
}}
  {{object/md-quality-report/conformance-result
    model=editing
    profilePath=(concat profilePath ".conformanceResult")
  }}
{{/object/md-object-table}}

{{! 
The code below is ready to go for adding the cover result array.
All it needs is to be uncommented. However, the coverage result object
itself still needs to be implemented. It only has a patial implementation
done so far.
}}

{{!-- {{#object/md-object-table
  items=model.coverageResult
  header="Coverage Result"
  buttonText="Add Coverage Result"
  ellipsis=true
  profilePath=(concat profilePath ".coverageResult")
  attributes="dateTime,spatialRepresentationType,resultFile"
  as |editing|
}}
  {{object/md-quality-report/coverage-result
    model=editing
    profilePath=(concat profilePath ".coverageResult")
  }}
{{/object/md-object-table}} --}}