{{#each model as |report index|}}
  {{#layout/md-card
    title="Report"
    collapsible=true
    collapsed=false
    data-spy="Report"
    deleteAction=(action "deleteReport" index)
    spotlightEnabled=false
  }}
    {{input/md-codelist
      label="Report Type"
      value=report.type
      create=true
      tooltip=true
      mdCodeName="dataQualityType"
      closeOnSelect=true
      placeholder="Select DQ Type"
    }}

    {{#each report.descriptiveResult as |descriptiveResult descriptiveResultIndex|}}
      {{object/md-quality-report/descriptive-result
        model=descriptiveResult
        remove=(action "removeFromReport" "descriptiveResult" index descriptiveResultIndex)
      }}
    {{/each}}
    <button class="btn btn-success btn-md" {{action "addToReport" "descriptiveResult" index}}>
      <i class="fa fa-plus"/>
      Add Descriptive Result
    </button>


    {{#if report.qualityMeasure}}
      {{#layout/md-card}}
        <h3>Quality Measure</h3>
        <label>Description</label>
        {{input/md-textarea value=report.qualityMeasure.description}}
      {{/layout/md-card}}
    {{else}}
      <button class="btn btn-success btn-md" {{action "addQualityMeasureToReport" index}}>
        <i class="fa fa-plus"/>
        Add Quality Measure
      </button>
    {{/if}}
  {{/layout/md-card}}
{{/each}}

<div class="row">
  <div class="col-md-6">
    <button class="btn btn-success btn-md" {{action "addReport"}}>
      <i class="fa fa-plus"/>
      Add Report
    </button>
  </div>
</div>