<div class="sync-add-pouch-container">
  {{#unless this.adding }}
    {{#if this.options.length}}
      <div class="sync-add-buttons-container">
        <button
          class="btn btn-lg btn-primary"
          {{action "addNew" @section.meta.type }}
        >
          <FaIcon @icon="plus" /> Add new {{@section.meta.type}}
        </button>
        <LinkTo @route="sync.import" @model={{@section.meta.type}} class="btn btn-lg btn-primary">
          <FaIcon @icon="right-to-bracket" /> Bulk import new {{@section.meta.list}}
        </LinkTo>
      </div>
    {{/if}}
  {{else}}
    <Input::MdSelect @label={{@section.meta.title}} @placeholder={{@section.meta.title}} @showValidations={{true}} @value={{this.value}} @valuePath="id" @namePath="title" @objectArray={{this.options}} />
    <div class="pouch-action-buttons">
      <button
        class="btn btn-md btn-warning"
        {{action "close" }}
      >
        <FaIcon @icon="rotate-left" /> Cancel
      </button>
      <button
        class="btn btn-md btn-success"
        {{action "saveNew" @section.meta.type }}
      >
        <FaIcon @icon="floppy-disk" /> Save
      </button>
    </div>
  {{/unless}}
</div>
