{{#if this.label}}<label>{{this.label}}</label>{{/if}}
<div class={{if this.disabled "input-group"}}>

<Input @value={{this.value}} placeholder={{this.placeholder}} required={{this.required}} @type={{this.type}} @maxlength={{this.maxlength}} class={{this.inputClass}} @disabled={{this.isDisabled}} @blur={{action "inputBlur"}} />
  {{#if this.disabled}}
    <span class="input-group-btn">
        <Control::MdButtonConfirm @class="btn btn-warning" @onConfirm={{action "allowEdit"}}>
            <FaIcon @icon="pencil" />Edit
            {{#if this.confirmTip}}
              <EmberTooltip>
                {{this.confirmTip}}
              </EmberTooltip>
            {{/if}}
        </Control::MdButtonConfirm>
    </span>
  {{/if}}
</div>
{{yield}}
