{{#if label}}<label>{{label}}</label>{{/if}}
<div class={{if disabled "input-group"}}>

{{input
  value=value
  placeholder=placeholder
  required=required
  type=type
  maxlength=maxlength
  class=inputClass
  disabled=isDisabled
  blur=(action "inputBlur")
}}
  {{#if disabled}}
    <span class="input-group-btn">
        {{#control/md-button-confirm
          class="btn btn-warning"
          onConfirm=(action "allowEdit")
        }}
            {{fa-icon "pencil"}} Edit
            {{#if confirmTip}}
              {{#ember-tooltip}}
                {{confirmTip}}
              {{/ember-tooltip}}
            {{/if}}
        {{/control/md-button-confirm}}
    </span>
  {{/if}}
</div>
{{yield}}
