{{#if this.label}}<label>{{this.label}}</label>{{/if}}
<div class={{if this.disabled "input-group"}}>

{{input
  value=this.value
  placeholder=this.placeholder
  required=this.required
  type=this.type
  maxlength=this.maxlength
  class=this.inputClass
  disabled=this.isDisabled
  blur=(action "inputBlur")
}}
  {{#if this.disabled}}
    <span class="input-group-btn">
        {{#control/md-button-confirm
          class="btn btn-warning"
          onConfirm=(action "allowEdit")
        }}
            {{fa-icon "pencil"}} Edit
            {{#if this.confirmTip}}
              {{#ember-tooltip}}
                {{this.confirmTip}}
              {{/ember-tooltip}}
            {{/if}}
        {{/control/md-button-confirm}}
    </span>
  {{/if}}
</div>
{{yield}}
