{{#if label}}<label>{{label}}</label>{{/if}}
<div class={{if disabled "input-group"}}>

<Input @value={{value}} placeholder={{placeholder}} required={{required}} @type={{type}} @maxlength={{maxlength}} class={{inputClass}} @disabled={{isDisabled}} @blur={{action "inputBlur"}} />
  {{#if disabled}}
    <span class="input-group-btn">
        <Control::MdButtonConfirm @class="btn btn-warning" @onConfirm={{action "allowEdit"}}>
            {{fa-icon "pencil"}} Edit
            {{#if confirmTip}}
              <EmberTooltip>
                {{confirmTip}}
              </EmberTooltip>
            {{/if}}
        </Control::MdButtonConfirm>
    </span>
  {{/if}}
</div>
{{yield}}
