<h3 class="section-header">Generate Entity from CSV</h3>
{{#unless this.processed}}
  <Control::MdImportCsv @beforeFirstChunk={{this.processData}} @processChunk={{this.reduceData}} @processComplete={{this.processComplete}} />
  <ToElsewhere @named="md-subbar-extra" @send={{component "control/md-button"
      text="Back to Entity"
      icon="arrow-left"
      class="btn-primary btn-lg btn-block md-button-responsive"
      click=this.goToEntity
    }} />
  {{else}}
    <form class="form">
      <Input::MdInput @value={{this.entity.entityId}} @placeholder="Enter the identifier for the entity." @label="Entity Identifier" @data-spy="Identifier" />

      <Input::MdInput @value={{this.entity.codeName}} @required={{true}} @placeholder="Enter the name used to refer to the entity in schema definitions or application software." @label="Entity Code Name" @data-spy="Code Name" />

      <Input::MdTextarea @value={{this.entity.definition}} @required={{true}} @autoresize={{true}} @placeholder="A brief description of the entity." @label="Entity Definition" @data-spy="Definition" />
    </form>
    <Layout::MdCard @title="Setup" @titleIcon="gear" @collapsible={{false}} @collapsed={{false}} @data-spy="Setup" @shadow={{true}}>
      <div class="md-table md-table-checkbox">
        <div class="md-table-title">Select options for Attributes</div>
        <div class="table-responsive">
          <table class="table table-striped table-hover form-inline md-table-align-middle">
            <thead>
              <tr>
                <th>Import</th>
                <th>Name</th>
                <th>Data Type</th>
                <th>Domain</th>
                <th>Allow Null</th>
                <th>Max/Min</th>
              </tr>
            </thead>
            <tbody>
              {{#each-in this.columns as |col row|}}
                <tr>
                  <td><Input @type="checkbox" @name="import" @checked={{row.import}} /></td>
                  <td class="text-nowrap">
                    <Input @type="text" @value={{row.importName}} class="form-control" />
                    ({{col}})
                  </td>
                  <td>
                    <Input::MdCodelist @create={{true}} @required={{false}} @tooltip={{true}} @icon={{false}} @disabled={{false}} @allowClear={{true}} @showValidations={{false}} @mdCodeName="dataType" @path="importType" @model={{row}} @placeholder="Choose a data type" @class="inline-block" />
                  </td>
                  <td>
                    <Input @type="checkbox" @name="hasDomain" @checked={{row.hasDomain}} />
                    <span class={{if row.domainWarn "text-danger"}}>({{row.domain.length}})</span>
                  </td>
                  <td>
                    <Input @type="checkbox" @name="allowNull" @checked={{row.allowNull}} />
                  </td>
                  <td class="text-nowrap">
                    <Input @type="checkbox" @name="range" @checked={{row.range}} @disabled={{row.disableRange}} />
                    {{#if row.isNumber}}
                      ({{round row.min decimals=2}}/{{round row.max decimals=2}})
                    {{/if}}
                  </td>
                  <td class="text-nowrap">
                    <div class="pull-right">
                      <button type="button" class="btn btn-xs btn-info">
                        <span class="fa fa-eye"></span> Example

                        <EmberPopover @showOn="mouseenter" @hideOn="mouseleave" @side="left">
                          {{#each row.example as |ex|}}
                            {{#if (present ex)}}
                              {{ex}}
                            {{else}}
                              <i class="text-warning">NULL</i>
                            {{/if}}
                            <hr>
                          {{/each}}
                        </EmberPopover>
                      </button>
                    </div>
                  </td>
                </tr>
              {{/each-in}}
            </tbody>
          </table>
        </div>
      </div>
      </Layout::MdCard>
  {{/unless}}

{{#if this.processed}}
  <ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-importcsv"
      doImport=this.doImport
      cancelImport=this.cancelImport
      actionContext=this
    }} />
{{/if}}

{{outlet}}
