<h4 class="section-header">
  Editing Distribution
  <Control::MdStatus @model={{this.parentModel}} />
</h4>

{{#each this.model.json.metadata.resourceDistribution as |dist index|}}
  <Object::MdDistribution @model={{dist}} @index={{index}} @profilePath="record.distribution" @addDistribution={{route-action "addDistribution"}} @deleteDistribution={{route-action "deleteDistribution"}} @editDistributor={{route-action "editDistributor"}} />
{{else}}
  <h3 class="alert alert-info">No distribution sections found.
    <button type="button" class="btn btn-success" {{action "addDistribution"}}>
      {{fa-icon "plus"}} Add Distribution Section</button>
  </h3>
{{/each}}

<ToElsewhere @named="md-subbar-buttons" @send={{component "control/md-button"
    text="Add Distribution"
    icon="plus"
    class="btn-success btn-lg"
    click=(route-action "addDistribution")
  }} />

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  refresh=this.refreshSpy scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}} />
