<Input::MdTextarea @value={{specimen}} @required={{true}} @rows={{3}} @profilePath={{concat profilePath ".specimen"}} @label="Specimen" @placeholder={{t "placeholders.taxonomy.specimen"}} @data-spy="Specimen" @showValidations={{true}} />

<label class="required">Repository</label>
<Layout::MdCard @required={{true}} @collapsible={{false}} @collapsed={{false}} @profilePath={{concat profilePath ".repository"}} @data-spy="Repository" @shadow={{false}} @spotlightEnabled={{false}}>
  {{!-- <label class="required"><h4 class="card-title inline-block">Repository</h4></label> --}}
  <Object::MdParty @model={{repository}} @profilePath={{concat profilePath ".repository"}} />
</Layout::MdCard>
