<section>
  {{#each model.json.metadata.resourceInfo.extent as |extent index|}}
{{object/md-spatial-extent extent=extent index=index}}
    {{else}}
    <h3 class="alert alert-info">No spatial extents found.
      <button type="button" class="btn btn-success" {{action (route-action "addExtent")}}>
        {{fa-icon "plus"}} Add Spatial Extent</button>
    </h3>
    {{/each}}
</section>

{{outlet}}
