<h4 class="section-header">
  Editing Extents
  {{control/md-status model=model}}
</h4>
<section>
  {{#each model.json.metadata.resourceInfo.extent as |extent index|}}
    {{object/md-spatial-extent
      extent=extent
      index=index
      deleteExtent=(route-action "deleteExtent")
      editExtent=(route-action "editExtent")
    }}
  {{else}}
    <h3 class="alert alert-info">No geographic extents found.
      <button type="button" class="btn btn-success" {{action (route-action "addExtent")}}>
        {{fa-icon "plus"}} Add Geographic Extent</button>
    </h3>
  {{/each}}
</section>

{{outlet}}
