{{input/md-input
  model=record
  valuePath='title'
  label='Title'
  placeholder='Enter title for schema.'
  showValidations=true
}}

{{input/md-input
  model=record
  valuePath='uri'
  label='URL'
  placeholder='Enter URL of root schema.'
  showValidations=true
}}

<div class='form-group flex'>
  <label>Version</label>
  <span>{{if record.localVersion record.localVersion '--'}}</span>
  {{#if record.hasUpdate}}
    <span class='label label-pill label-info'>Update Available ({{record.remoteVersion}})</span>
  {{/if}}
</div>

{{input/md-textarea
  model=record
  valuePath='description'
  label='Description'
  placeholder='Enter a description of the schema.'
  showValidations=true
}}

{{input/md-select
  model=record
  path='schemaType'
  label='Type'
  valuePath='value'
  namePath='name'
  placeholder='Select the record type for schema.'
  objectArray=typeOptions
  searchEnabled=false
  showValidations=true
}}

{{#liquid-unless record.isNew use='toDown'}}
  <div class='form-group from-group-inlne'>
    <label>Apply Globally?</label>
    <div class='form-control'>
      <div class='inline-block'>
        {{input/md-toggle
          value=record.isGlobal
          onToggle=(action (mut record.isGlobal))
          showLabels=true
          onLabel='Yes'
          offLabel='No'
          size='medium'
          theme='form'
        }}
      </div>
    </div>
  </div>
{{/liquid-unless}}

{{yield}}