<h4 class='section-header'>
  Editing Constraints
  <Control::MdStatus @model={{this.model}} />
</h4>
<Object::MdObjectTable
  @items={{this.model.json.metadata.resourceInfo.constraint}}
  @collasped={{false}}
  @header='Constraints'
  @buttonText='Add Constraint'
  @previewTemplate={{this.previewTemplate}}
  @addSubbar='md-subbar-extra'
  @attributes='type' as |editing|
>
  <Object::MdConstraint @model={{editing}} @profilePath='record.constraints' />
</Object::MdObjectTable>