{{#control/md-indicator
  title=title
  icon=icon
  type=type
  note=note
  event=event
  values=values
  route=route
  model=model
  linkText=linkText
  popoverHideDelay=popoverHideDelay
  popperContainer=popperContainer
}}
  <h4>
    {{#if route}}
      {{#if models.length}}
        <LinkTo @route={{route}} @models={{models}} class="btn btn-sm btn-{{type}}">
          {{linkText}}
        </LinkTo>
      {{else}}
        <LinkTo @route={{route}} class="btn btn-sm btn-{{type}}">
          {{linkText}}
        </LinkTo>
      {{/if}}
    {{/if}}
  </h4>
{{/control/md-indicator}}