<Control::MdIndicator
  @title={{this.title}}
  @icon={{this.icon}}
  @type={{this.type}}
  @note={{this.note}}
  @event={{this.event}}
  @values={{this.values}}
  @route={{this.route}}
  @model={{this.model}}
  @linkText={{this.linkText}}
  @popoverHideDelay={{this.popoverHideDelay}}
  @popperContainer={{this.popperContainer}}
>

  <h4>
    {{#if this.route}}
      {{#if this.models.length}}
        <LinkTo @route={{this.route}} @models={{this.models}} class={{concat "btn btn-sm btn-" this.type}}>
          {{this.linkText}}
        </LinkTo>
      {{else}}
        <LinkTo @route={{this.route}} class={{concat "btn btn-sm btn-" this.type}}>
          {{this.linkText}}
        </LinkTo>
      {{/if}}
    {{/if}}
  </h4>
</Control::MdIndicator>
