{{#if has-block}}
  {{yield}}
{{else}}
  <span class="fa fa-{{icon}}"></span> {{text}}
{{/if}}

{{#if preview}}
  {{control/md-json-viewer json=json modal=true close=(action "close")}}
{{/if}}

{{#unless hideSlider}}
  {{to-elsewhere
    named="md-slider-json"
    send=(hash
      title=(concat "Viewing JSON for: " title)
      body=(component "control/md-json-viewer"
        modal=false
        json=json
      )
    )
  }}
{{/unless}}
