{{#if hasBlock}}
  {{yield}}
{{else}}
  <span class="fa fa-{{icon}}"></span> {{this.text}}
{{/if}}

{{#if this.preview}}
  <Control::MdJsonViewer @json={{this.json}} @modal={{true}} @close={{action "close"}} />
{{/if}}

{{#unless this.hideSlider}}
  <ToElsewhere @named="md-slider-json" @send={{hash
      title=(concat "Viewing JSON for: " this.title)
      body=(component "control/md-json-viewer"
        modal=false
        json=this.json
      )
    }} />
{{/unless}}
