<div class="">
  {{#if model.contact}}
    {{input/md-select-contacts
      label="Contacts"
      placeholder="Select one or more contacts"
      model=this
      path="contacts"
      icon=true
      tooltip=true
      showValidations=true
      class="required"
    }}
    {{input/md-codelist
      label="Role"
      path="role"
      model=this
      create=true
      tooltip=true
      icon=false
      disabled=disabled
      mdCodeName="role"
      showValidations=true
      placeholder="Select or enter a role"
    }}
  {{/if}}

  {{#with model.transferOption.firstObject as |opt|}}
    {{#layout/md-card
      shadow=false
      muted=false
      title="Transfer Options"
      plain=true
      class="md-embedded"
      data-spy=false
      collapsible=true
      collapsed=true
      bodyIsRow=false
    }}
      {{object/md-transfer model=opt profilePath=(concat profilePath ".transferOption")}}
    {{/layout/md-card}}
  {{/with}}

  {{#with model.orderProcess.firstObject as |order|}}
    {{#layout/md-card shadow=false
      muted=false
      title="Order Process"
      plain=true
      class="md-embedded"
      data-spy=false
      collapsible=true
      collapsed=true
      bodyIsRow=false
    }}
      {{!-- <label class="text-info col-sm-2">Order Process</label>
      <div class="col-sm-10"> --}}
      {{input/md-textarea
        value=order.fees
        placeholder="Describe the fees and terms for retrieving the resource, including monetary units."
        label="Fees"
        autoresize=false
        profilePath=(concat profilePath ".fees")
      }}
      {{input/md-datetime
        date=order.plannedAvailability
        placeholder="Date when the resource will be avialable"
        label="Planned Availability"
        profilePath=(concat profilePath ".plannedAvailability")
      }}
      {{input/md-textarea
        value=order.orderingInstructions
        maxheight=100
        placeholder="Describe general instructions for obtaining the resource"
        label="Ordering Instructions"
        profilePath=(concat profilePath ".orderingInstructions")
      }}
      {{input/md-textarea
        value=order.turnaround
        autoresize=false
        placeholder="Describe the typical turnaround time for the filling of an order"
        label="Turnaround"
        profilePath=(concat profilePath ".turnaround")
      }}
    {{!-- </div> --}}
    {{/layout/md-card}}
    {{/with}}
</div>
{{yield}}
