<div data-spy="Contacts" id={{concat elementId "-contacts"}}>
  {{#if model.contact}}
    <Input::MdSelectContacts @label="Contacts" @placeholder="Select one or more contacts" @model={{this}} @path="contacts" @icon={{true}} @tooltip={{true}} @showValidations={{true}} @class="required" @profilePath={{concat profilePath ".contacts"}} />
    <Input::MdCodelist @label="Role" @path="role" @model={{this}} @create={{true}} @tooltip={{true}} @icon={{false}} @disabled={{disabled}} @mdCodeName="role" @showValidations={{true}} @placeholder="Select or enter a role" @profilePath={{concat profilePath ".role"}} />
  {{/if}}
</div>

{{!-- {{#with model.transferOption.firstObject as |opt|}}
  {{#layout/md-card
    shadow=false
    muted=false
    title="Transfer Options"
    plain=true
    collapsible=true
    collapsed=false
    bodyIsRow=false
  }}
    {{object/md-transfer model=opt profilePath=(concat profilePath ".transferOption")}}
  {{/layout/md-card}}
{{/with}} --}}

<Object::MdObjectrouteTable @attributes="Size(MB),online?,offline?,format?" @items={{model.transferOption}} @header="Transfer Options" @shadow={{false}} @buttonText="Add Transfer Options" @ellipsis={{true}} @editItem={{editTransferOption}} @previewTemplateTable="object/md-transfer/preview" @profilePath={{concat profilePath ".transferOption"}} @verticalButtons={{false}} @hideIndex={{false}} @condensed={{false}} @editOnAdd={{true}} @scrollToId={{concat "md-transfer-" distributorId}} @routeParams={{index}} @data-spy="Transfer Options" />

{{#with model.orderProcess.firstObject as |order|}}
  <Layout::MdCard @shadow={{false}} @muted={{false}} @title="Order Process" @plain={{true}} @collapsible={{true}} @collapsed={{false}} @bodyIsRow={{false}} @profilePath={{concat profilePath ".orderProcess"}}>
    {{!-- <label class="text-info col-sm-2">Order Process</label>
    <div class="col-sm-10"> --}}
    <Input::MdTextarea @value={{order.fees}} @placeholder="Describe the fees and terms for retrieving the resource, including monetary units." @label="Fees" @autoresize={{false}} @profilePath={{concat profilePath ".orderProcess.fees"}} @embedded={{true}} @data-spy="Fees" />
    <Input::MdDatetime @date={{order.plannedAvailability}} @placeholder="Date when the resource will be avialable" @label="Planned Availability" @profilePath={{concat profilePath ".orderProcess.plannedAvailability"}} />
    <Input::MdTextarea @value={{order.orderingInstructions}} @maxheight={{100}} @placeholder="Describe general instructions for obtaining the resource" @label="Ordering Instructions" @profilePath={{concat profilePath ".orderProcess.orderingInstructions"}} />
    <Input::MdTextarea @value={{order.turnaround}} @autoresize={{false}} @placeholder="Describe the typical turnaround time for the filling of an order" @label="Turnaround" @profilePath={{concat profilePath ".orderProcess.turnaround"}} />
  {{!-- </div> --}}
  </Layout::MdCard>
{{/with}}
{{yield}}
