<div class="row">
  <div class="col-sm-10">
    <h3 class="text-info">Sync Data</h3>
    {{#each model as |section index|}}
      {{#if section.length}}
        {{#if index}}
          <hr>
        {{/if}}

        {{#layout/md-card
          title=section.meta.pouchTitle
          titleIcon=section.meta.icon
          collapsible=true
          collapsed=false
          data-spy=section.meta.title
          shadow=true
        }}

        {{control/md-pouch-record-table
          data=section
          columns=section.meta.columns
        }}

        {{/layout/md-card}}
      {{else}}
        <div class="alert alert-info">
          <h3>{{fa-icon section.meta.icon}} No <em>{{section.meta.title}}</em> found.</h3>
        </div>
      {{/if}}

      {{control/md-pouch-add
        section=section
      }}

    {{/each}}
  </div>

  <div class="md-control-sidebar col-sm-2 no-nav">
    {{control/md-couch-login}}
  </div>
</div>
