<h4 class='section-header'>
  Editing Lineage
  <Control::MdStatus @model={{this.parentModel}} />
</h4>

<Object::MdObjectrouteTable
  @items={{this.model.json.metadata.resourceLineage}}
  @header='Lineage'
  @shadow={{true}}
  @buttonText='Add Lineage Object'
  @ellipsis={{false}}
  @previewTemplate='object/md-lineage/preview'
  @profilePath='record.lineage'
  @editItem={{route-action 'editLineage'}}
  @hideIndex={{true}}
  @condensed={{true}}
  @verticalButtons={{true}}
  @addSubbar='md-subbar-extra'
/>