<h3 class="text-info">{{fa-icon "book"}} Dictionaries</h3>
{{#layout/md-card
  collapsible=true
  collapsed=false
  shadow=true
}}
{{!-- <h3>{{section.meta.title}}</h3> --}}
{{control/md-record-table
  data=model
  dataColumns=(compute (route-action "getColumns"))
  allActions=true
  selectProperty="_selectedFromList"
}}
{{/layout/md-card}}

{{outlet}}
{{#if errorTarget}}
  {{to-elsewhere
    named="md-slider-error"
    send=(hash
      title=(concat "Viewing errors for: " errorTarget.title)
      body=(component "control/md-errors"
        errors=errorTarget.hasSchemaErrors
      )
    )
  }}
{{/if}}
