<h3 class="text-info">{{fa-icon "book"}} Dictionaries</h3>

{{#if model.length}}
  {{#layout/md-card
    collapsible=true
    collapsed=false
    shadow=true
  }}
    {{control/md-record-table
      data=model
      dataColumns=(compute (route-action "getColumns"))
      allActions=true
      selectProperty="_selectedFromList"
    }}
  {{/layout/md-card}}
{{else}}
<div class="alert alert-info">
  <h3>No Dictionaries found.
    {{#link-to "dictionary.new" class="btn btn-success btn-lg" }}
      {{fa-icon "plus"}} Create a Dictionary
    {{/link-to}}
  </h3>
</div>
{{/if}}

{{outlet}}
{{#if errorTarget}}
  {{to-elsewhere
    named="md-slider-error"
    send=(hash
      title=(concat "Viewing errors for: " errorTarget.title)
      body=(component "control/md-errors"
        errors=errorTarget.hasSchemaErrors
      )
    )
  }}
{{/if}}
