<h4 class="section-header">
  Editing Additional Document #{{citationId}}
  <Control::MdStatus @model={{parentModel}} />
</h4>

<Object::MdDocumentation @model={{model}} @profilePath="record.documents" />

<ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-link"
    text="Back to Document List"
    icon="arrow-left"
    route="record.show.edit.documents"
  }} />

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  scrollInit=scrollTo setScrollTo=(route-action "setScrollTo")}} />
