{{#if this.isLoadingCreds}}
  <div class="text-info">
    Logging in...
    <FaIcon @icon="spinner" @spin={{true}} @size="3x" />
  </div>
{{else}}
  {{#unless this.couch.loggedIn}}
    <div class="couch-login-form">
      <div class="form">
        <h4 class="text-info">Login to CouchDB</h4>
        <Input::MdInput @type="text" @value={{this.remoteUrl}} @label="CouchDB URL" />
        <Input::MdInput @type="text" @value={{this.remoteName}} @label="CouchDB Name" />
        <Input::MdInput @type="text" @value={{this.username}} @label="Username" />
        <Input::MdInput @type="password" @value={{this.password}} @label="Password" />
        <button type="button"
          class="btn btn-lg btn-success"
          {{action "login"}}>Login</button>
      </div>
    </div>
    {{else}}
      <div class="couch-login-status">
        <div class="card">
          <div class="couch-login-block">
            <div class="couch-logged-in">
              <h4 class="text-info">User Info</h4>
              <p><strong>Name:</strong> {{this.couch.username}}</p>
              <p><strong>Roles:</strong> {{this.couch.rolesDisplay}}</p>
              <h4 class="text-info">CouchDB Info</h4>
              <p><strong>URL:</strong> {{this.couch.remoteUrl}}</p>
              <p><strong>Name:</strong> {{this.couch.remoteName}}</p>
            </div>
            <div class="couch-logout">
              <button type="button"
                class="btn btn-xs btn-danger"
                {{action "logout"}}
              >
                Log out
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="couch-actions">
        <button type="button"
          class="btn btn-lg btn-primary"
          {{action "push"}}
        >
          <FaIcon @icon="upload" />
          Push
        </button>
        <button type="button"
          class="btn btn-lg btn-primary"
          {{action "pull"}}
        >
          <FaIcon @icon="download" />
          Pull
        </button>
      </div>
      <hr>
      {{#if this.couch.replicationState}}
        <div class="text-info">
          {{this.couch.replicationState}}...
          <FaIcon @icon="spinner" @spin={{true}} @size="3x" />
        </div>
      {{/if}}
      {{#if this.couch.replicationInfo}}
        <div class="text-info">
          <p><strong>Document write failures: </strong>{{this.couch.replicationInfo.doc_write_failures}}</p>
          <p><strong>Documents written: </strong>{{this.couch.replicationInfo.docs_written}}</p>
        </div>
      {{/if}}
  {{/unless}}
{{/if}}