<h4 class="section-header">
  Editing Attribute {{#if this.model.codeName}}
    <em>{{this.model.codeName}}</em>
  {{else}}
    #{{this.attributeId}}
  {{/if}}
  <span class="small">for <em>{{this.parentModel.title}}</em></span>
  <Control::MdStatus @model={{this.parentModel}} />
</h4>

<Object::MdAttribute @class="" @model={{this.model}} @dictionary={{this.parentModel.json.dataDictionary}} @profilePath="dictionary.entity.attribute" />
{{!-- editCitation=(route-action "editCitation") --}}

<ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-link"
    text="Back to Entity"
    icon="arrow-left"
    click=(route-action "backToEntity")
  }} />

<ToElsewhere @named="md-scroll-spy-dict-edit" @send={{component "control/md-scroll-spy" scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}} />
