{{#unless this.showAlert}}
  <div class="md-object-table panel panel-default {{if this.editing "editing"}}">
    <div class="panel-heading">
      <h3 class="panel-title md-panel-chevron">
        {{#if this.collapsible}}
          <a role="button" data-toggle="collapse" href="{{unless this.editing this.panelId}}" aria-expanded={{if this.collapsed "false" "true"}}
            class={{if this.collapsed "collapsed"}} aria-controls={{this.panelId}}>
              <span class="fa"></span> {{this.header}}
              <div class="label label-pill {{this.pillColor}}"> {{this.items.length}} </div>
          </a>
        {{else}}
          {{this.header}}
          <label class="label label-pill {{this.pillColor}}"> {{this.items.length}} </label>
        {{/if}}

          <button type="button" id="{{this.panelId}}-btn" class="btn btn-xs btn-info pull-right {{if this.editing "hidden"}}"
              {{action "addItem" this.items}}>
              <FaIcon @icon="plus" /> Add
          </button>
          <button type="button" class="btn btn-xs btn-info pull-right {{unless this.editing "hidden"}}" {{action "cancelEdit"}}>
              <FaIcon @icon="check" /> OK
          </button>
      </h3>
    </div>

    <div id={{this.panelId}} class="panel-collapse {{if this.collapsed "collapse" "in"}}">
      {{#if this.editing}}
        <Control::MdScrollIntoView>
          <div class="panel-body object-editor">
                {{yield this.saveItem}}
                <hr>
                <button type="button" class="btn btn-xs btn-info" {{action "cancelEdit"}}>
                    <FaIcon @icon="check" /> OK
                </button>
          </div>
        </Control::MdScrollIntoView>
      {{else}}
        <div class="panel-body {{if this.condensed "condensed"}}{{if this.responsive "table-responsive"}}">
            {{! template-lint-disable table-groups }}
            <table class="table table-striped table-hover fadeIn {{if this.ellipsis "ellipsis"}}">
              {{#unless this.previewTemplate}}
                <thead>
                  <tr>
                    {{#unless this.hideIndex}}
                    <th>#</th>
                    {{/unless}}
                    {{#each this.attrTitleArray as |prop|}}
                    <th>{{prop}}</th>
                    {{/each}}
                    <th></th>
                  </tr>
                </thead>
              {{/unless}}
              <tbody>
                {{#each this.items as |item index|}}
                    <tr id={{if this.scrollToId (concat this.scrollToId "-" index) ""}}>
                      {{#unless this.hideIndex}}
                        <td class="md-table-index">
                          {{index}}
                        </td>
                      {{/unless}}
                        {{#if this.previewTemplateTable}}
                            {{component this.previewTemplateTable item=item index=index profilePath=this.profilePath isTable=true}}
                        {{else if this.previewTemplate}}
                            <td class="property">{{component this.previewTemplate item=item index=index profilePath=this.profilePath}}</td>
                        {{else}}
                            {{#each this.attrArray as |prop|}}
                                {{#if (get item prop)}}
                                <td class="property"><div class="wrap">{{get item prop}}</div></td>
                                {{else}}
                                <td><em>Not Defined</em></td>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        <td class="md-row-actions {{if this.verticalButtons "vertical"}}{{this.alignButtons}}">
                          <div class="btn-toolbar" role="toolbar" aria-label="Row Toolbar">
                            <div class="btn-group{{if this.verticalButtons "-vertical"}}" role="group" aria-label="Action Buttons">
                              <button type="button" class="btn btn-{{this.btnSize}} btn-success" {{action "editItem" this.items index (if this.scrollToId (concat this.scrollToId "-" index) null) }}>
                                <FaIcon @icon="pencil" /> {{if this.editBtnText this.editBtnText "Edit"}}
                              </button>
                              <Control::MdButtonConfirm @class={{concat "btn btn-" this.btnSize " btn-danger"}} @onConfirm={{action "deleteItem" this.items index}}>
                                <FaIcon @icon="x" /> Delete
                              </Control::MdButtonConfirm>

                            </div>

                            <div class="btn-group{{if this.verticalButtons "-vertical"}}" role="group" aria-label="Row Note">
                              {{#each this.noteComponents as |note|}}
                                {{#if note.component}}
                                  {{component note.component model=item index=index options=note.options}}
                                {{/if}}
                              {{/each}}
                            </div>
                            <div class="btn-group{{if this.verticalButtons "-vertical"}}" role="group" aria-label="Row Error">
                              {{#if item.validations.isInvalid}}
                              <span class="md-error">
                                <FaIcon @icon="circle-exclamation" @fixedWidth={{true}} />
                                <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip danger">
                                This item has errors.
                                </EmberTooltip>
                              </span>
                              {{else}}
                              <span class="md-error">
                                <span class="fa fa-fw"></span>
                              </span>
                              {{/if}}
                            </div>
                          </div>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan={{add-em this.attrArray.length (if this.hideIndex 1 2)}}>
                          <button type="button" id="{{this.panelId}}-btn" class="btn btn-xs btn-info"
                              {{action "addItem" this.items}}>
                              <FaIcon @icon="plus" /> {{this.buttonText}}
                          </button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        {{#if this.showFooter}}
          <div class="panel-footer text-right">
            <button type="button" id="{{this.panelId}}-btn" class="btn btn-sm btn-info {{if this.editing "hidden"}}"
                {{action "addItem" this.items}}>
                <FaIcon @icon="plus" /> Add {{this.header}}
            </button>
          </div>
        {{/if}}

      {{/if}}
    </div>
  </div>
{{else}}
  <Control::MdAlertTable @title={{this.header}} @required={{this.required}} @addItem={{action "addItem"}} @target={{this.items}} @tipMessage={{this.alertTipMessage}} />
{{/unless}}

{{#if this.addSubbar}}
  <ToElsewhere @named={{this.addSubbar}} @send={{component "control/subbar-link"
    clickText=this.buttonText
    clickIcon="plus"
    clickType="success"
    click=(action "addItem")
    }} />
{{/if}}