{{#if this.setScrollTo}}
  <ul class="nav nav-pills nav-stacked">
    {{#each this.links as |link|}}
      <li class={{if link.embedded "md-embedded"}}>
        <a href="#{{link.id}}" onclick={{action "clickLink"}}>{{link.text}}</a>
      </li>
    {{/each}}
    {{yield}}
  </ul>
{{/if}}
