<div class="row md-no-spotlight">
  <div class="col-sm-9 col-md-offset-1">
    <h3>
      {{#if this.model.defaultLogo}}
        <img src={{this.model.defaultLogo}} class="img-responsive inline-block md-logo-preview" alt="Responsive image">
      {{else}}
        {{fa-icon this.model.icon class="text-muted"}}
      {{/if}}

      Viewing {{this.model.type}} Contact: {{this.model.title}}
          {{!-- <span class="text-danger">
            {{#if model.hasDirtyHash}}
              {{fa-icon "exclamation-circle"}}
              {{ember-tooltip text='This record has been modified!' side="right"
                tooltipClass="ember-tooltip md-tooltip danger"
              }}
            {{/if}}
          </span> --}}
          <Control::MdStatus @model={{this.model}} />
    </h3>
    <Layout::MdCard @shadow={{false}} @muted={{true}} @title="Basic Information" @bodyIsRow={{true}}>
        <dl class="dl-horizontal col-lg-6">
          <Control::MdDefinition @title="Contact Id" @text={{this.model.contactId}} />
          <Control::MdDefinition @title="Contact Name" @text={{this.model.name}} />

          {{#unless this.model.json.isOrganization}}
            <Control::MdDefinition @title="Position" @text={{this.model.json.positionName}} />
          {{/unless}}

          <Control::MdDefinition @title="Contact Type" @text={{this.model.json.contactType}} />
          <Control::MdDefinition @title="Contact Instructions" @text={{this.model.json.contactInstructions}} />

        </dl>
        <dl class="dl-horizontal col-lg-6">
          <Control::MdDefinition @title="Organizations">
            {{#each this.model.json.memberOfOrganization as |orgId|}}
              <Control::MdContactLink @contactId={{orgId}} /><br>
              {{else}}
                <em class="text-muted">No organizations assigned.</em>
            {{/each}}
          </Control::MdDefinition>
        </dl>
    </Layout::MdCard>

    <div class="row">
    <div class="col-md-6 col-xxl-4">
    <Layout::MdCard @shadow={{false}} @muted={{true}} @title="Phone" @class="card-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.model.json.phone as |ph|}}
              <tr>
                <td>{{get-dash ph "phoneName"}}</td>
                <td>
                  {{#if ph.phoneNumber}}
                    <a href="tel:{{ph.phoneNumber}}">{{ph.phoneNumber}}
                      <EmberTooltip @text="Click to call." />
                    </a>
                  {{else}}
                    --
                  {{/if}}
                </td>
                <td>
                  {{if ph.service.length (join ", " ph.service) "--"}}
                </td>
              </tr>
            {{else}}
              <tr><td><em class="text-muted">No phones assigned.</em></td></tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      </Layout::MdCard>
    </div>
    <div class="col-md-6 col-xxl-4">

      <Layout::MdCard @shadow={{false}} @muted={{true}} @title="E-mail" @class="">
      <ul class="list-unstyled">
        {{#each this.model.json.electronicMailAddress as |email|}}
          <li><a href="mailto:{{email}}" target="_blank" rel="noopener noreferrer">{{email}}
            <EmberTooltip @text="Click to send e-mail." />
          </a></li>
        {{else}}
          <li><em class="text-muted">No e-mails assigned.</em></li>
        {{/each}}
      </ul>
      </Layout::MdCard>
    </div>
    <div class="clearfix hidden-xxl"></div>
    <div class="col-md-6 col-xxl-4">

      <Layout::MdCard @shadow={{false}} @muted={{true}} @title="Availability" @class="">
      <ul class="list-unstyled">
        {{#each this.model.json.hoursOfService as |hours|}}
          <li>{{hours}}</li>
        {{else}}
          <li><em class="text-muted">No information provided.</em></li>
        {{/each}}
      </ul>
      </Layout::MdCard>
    </div>
    </div>

    <div class="row">
    <div class="col-md-6">
    <Layout::MdCard @shadow={{false}} @muted={{true}} @title="Address" @bodyIsRow={{this.model.json.address.length}}>
        {{#each this.model.json.address as |address|}}
          <div class="col-lg-6">
            <div class="card">
              <div class="card-block">
                <Object::MdAddress::MdAddressBlock @item={{address}} />
              </div>
            </div>
          </div>
        {{else}}
            <em>No addresses provided.</em>
        {{/each}}
      </Layout::MdCard>
    </div>
    <div class="col-md-6">
      <Layout::MdCard @shadow={{false}} @muted={{true}} @title="Online Resource">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>URI</th>
              </tr>
            </thead>
            <tbody>
              {{#each this.model.json.onlineResource as |ol|}}
                <tr>
                  <td>{{get-dash ol "name"}}</td>
                  <td>
                    {{#if ol.uri}}
                      <a href={{ol.uri}} target="_blank" rel="noopener noreferrer">{{ol.uri}}
                        {{!-- {{ember-tooltip text="Click to visit."}} --}}
                      </a>
                    {{else}}
                      --
                    {{/if}}
                  </td>
                </tr>
              {{else}}
                <tr><td><em class="text-muted">No online resources assigned.</em></td></tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </Layout::MdCard>
    </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <Layout::MdCard @shadow={{false}} @muted={{true}} @title="External Identifiers" @bodyIsRow={{this.model.json.externalIdentifier.length}}>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Identifier</th>
                  <th>Namespace</th>
                </tr>
              </thead>
              <tbody>
          {{#each this.model.json.externalIdentifier as |ei|}}
            <tr>
              <td>{{ei.identifier}}</td>
              <td>{{ei.namespace}}</td>
            </tr>
          {{else}}
            <tr><td><em class="text-muted">No External Identifiers.</em></td></tr>
          {{/each}}
        </tbody>
      </table>
    </div>
        </Layout::MdCard>
      </div>
    </div>

  </div>
  <div class="md-control-sidebar col-sm-2 no-nav">
    <Control::MdCrudButtons @model={{this.model}} @allowCopy={{true}} @allowDelete={{true}} @doDelete={{route-action "destroyContact"}} @doCopy={{route-action "copyContact"}}>
      <LinkTo @route="contact.show.edit" @model={{this.model.id}} class="btn btn-lg btn-success">
        {{fa-icon "pencil"}} Edit</LinkTo>
    </Control::MdCrudButtons>
    <hr>
    <LinkTo @route="contacts" class="btn btn-lg btn-primary btn-block">
    {{fa-icon "list"}} Show List</LinkTo>
    <Control::MdScrollSpy @scrollInit={{this.scrollTo}} @setScrollTo={{route-action "setScrollTo"}} />
  </div>
</div>