<div class="btn-group-vertical center-block" role="group" aria-label="Action Button Controls">
  {{#if click}}
  <button type="button" name="button" class="btn btn-lg {{concat "btn-" clickButtonType}} btn-block md-btn-responsive" click={{click}} disabled={{disabled}}>{{fa-icon clickButtonIcon}} {{clickTxt}}</button>
  {{/if}}

  {{#if route}}
    <LinkTo @route={{route}} class={{concat "btn btn-lg btn-" btnType " btn-block md-btn-responsive"}}> {{fa-icon icon}} {{text}}</LinkTo>
  {{/if}}

  {{yield}}
</div>
