<div class="form-group">
    <Object::MdResourceTypeArray @plain={{false}} @value={{model.resourceType}} @required={{true}} @data-spy="Resource Types" @profilePath={{concat profilePath ".resourceType"}} />
</div>
{{#with model.citation.firstObject as |citation|}}
  <Object::MdCitation @model={{citation}} @profilePath={{concat profilePath ".citation"}} @simpleIdentifier={{true}} />
{{/with}}
{{yield}}
