<div class='form-group'>
  <Object::MdResourceTypeArray
    @plain={{false}}
    @value={{this.model.resourceType}}
    @required={{true}}
    @data-spy='Resource Types'
    @profilePath={{concat this.profilePath '.resourceType'}}
  />
</div>
{{#with (get this.model.citation '0') as |citation|}}
  <Object::MdCitation
    @model={{citation}}
    @profilePath={{concat this.profilePath '.citation'}}
    @simpleIdentifier={{true}}
  />
{{/with}}
{{yield}}