<div class="form-group">
    <Object::MdResourceTypeArray @plain={{false}} @value={{this.model.resourceType}} @required={{true}} @data-spy="Resource Types" @profilePath={{concat this.profilePath ".resourceType"}} />
</div>
{{#with this.model.citation.firstObject as |citation|}}
  <Object::MdCitation @model={{citation}} @profilePath={{concat this.profilePath ".citation"}} @simpleIdentifier={{true}} />
{{/with}}
{{yield}}
