<Layout::MdCard @title="Geographic Extent" @collapsible={{true}} @collapsed={{false}} @data-spy={{false}} @shadow={{false}} @spotlightEnabled={{false}} @plain={{true}} @bodyIsRow={{true}} @class="card-lighter" @profilePath={{this.profilePath}}>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xxxl-6">
        <label>Bounding Box</label>
        <Object::MdBbox @model={{this.bbox}} @profilePath={{concat this.profilePath ".bbox"}}>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" {{action "calculateBox"}} disabled={{if (is-empty this.geographicElement) true}}>
            <FaIcon @icon="calculator" /> Calculate
          </button>
          <Control::MdButtonConfirm @class="btn btn-danger" @onConfirm={{action "clearBox"}} @disabled={{unless this.hasBbox true}}>
            <FaIcon @icon="trash" /> Clear
          </Control::MdButtonConfirm>
        </div>
        </Object::MdBbox>
      </div>
      <div class="col-xxxl-6 md-extent-description">
        <Input::MdTextarea @value={{this.geographicExtent.description}} @rows={{5}} @maxHeight={{300}} @placeholder="Description of geographic extent" @label="Description" @profilePath={{concat this.profilePath ".description"}} />
        <Input::MdBoolean @label="Contains Data" @text="The geographic extent contains some or all of the data" @value={{this.geographicExtent.containsData}} @profilePath={{concat this.profilePath ".containsData"}} />
      </div>
    </div>
  </div>
  <div class="col-sm-6 md-extent-map">
    {{#if this.showMap}}
      <p class="btn-toolbar">
        <button type="button" class="btn btn-md btn-success" {{action "editFeatures" this.index}}>
        <FaIcon @icon="pencil" /> Edit Features</button>
        <Control::MdButtonConfirm @class="btn btn-danger" @onConfirm={{action "deleteFeatures"}}>
          <FaIcon @icon="trash" /> Clear Features
        </Control::MdButtonConfirm>
      </p>
      <LeafletMap @lat={{0}} @lng={{0}} @zoom={{2}} @maxZoom={{18}} @onLoad={{action this.setupMap}}>
        {{!-- Specify child layer components here --}}
        <LayerGroup @name="Terrain" @baselayer={{true}} @default={{true}}>

          {{!-- tile-layer url="http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.png" attribution=mapAttribution --}}

          {{!-- tile-layer url="//stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png" attribution=mapAttribution --}}

          <TileLayer @url="//tiles.stadiamaps.com/tiles/stamen_terrain/{z}/{x}/{y}.png" @attribution={{this.mapAttribution}} />

        </LayerGroup>

        {{#if this.geographicElement.length}}
        <FeatureGroup @name="Features" @default={{true}}>
          {{#each this.geographicElement as |l|}}
            <GeojsonLayer @geoJSON={{l}} />
          {{/each}}
        </FeatureGroup>
        {{/if}}


        {{#if this.bboxPoly}}
          <FeatureGroup @name="Bounding Box" @default={{true}}>
              <PolygonLayer @locations={{this.bboxPoly}} @color="#29abe0" @fillOpacity={{0}} />
          </FeatureGroup>
        {{/if}}

        {{layer-control}}
      </LeafletMap>
    {{else}}
      <div class="alert alert-info">
        No Features to display.
        <button type="button" class="btn btn-md btn-success md-btn-responsive" {{action "editFeatures" this.index}}>
          <FaIcon @icon="pencil" /> Add Features</button>
      </div>
    {{/if}}
  </div>
  </Layout::MdCard>