{{input/md-input
 model=record
 valuePath="uri"
 label="URL"
 placeholder="Enter URL of the profile."
 showValidations=true
}}

{{input/md-input
 value=record.alias
 label="Alias"
 placeholder="Enter an alternative title."
 showValidations=true
}}

<div class="form-group">
  <label class="">Version</label>
  <div class="">
    <span>{{if record.localVersion record.localVersion "--"}}</span>
    {{#if record.hasUpdate}}
    <span class="label label-pill label-info">Update Available ({{record.remoteVersion}})</span>
    {{/if}}
  </div>
</div>

<hr>

<div class="text-muted">
  <div class="form-group">
    <label class="">Title</label>
    <div class="">{{record.config.title}}</div>
  </div>
  <div class="form-group">
    <label class="">Description</label>
    <div class="">{{record.config.description}}</div>
  </div>
  <div class="form-group">
    <label class="">Identifier</label>
    <div class="">{{record.config.identifier}}</div>
  </div>
  <div class="form-group">
    <label class="">Namespace</label>
    <div class="">{{record.config.namespace}}</div>
  </div>
</div>
{{yield}}
