<Input::MdInput @model={{this.record}} @valuePath="uri" @label="URL" @placeholder="Enter URL of the profile." @showValidations={{true}} />

<Input::MdInput @value={{this.record.alias}} @label="Alias" @placeholder="Enter an alternative title." @showValidations={{true}} />

<div class="form-group">
  <label class="">Version</label>
  <div class="">
    <span>{{if this.record.localVersion this.record.localVersion "--"}}</span>
    {{#if this.record.hasUpdate}}
    <span class="label label-pill label-info">Update Available ({{this.record.remoteVersion}})</span>
    {{/if}}
  </div>
</div>

<hr>

<Object::MdProfile::Preview @record={{this.record}} />
{{yield}}
