<Input::MdInput @model={{record}} @valuePath="uri" @label="URL" @placeholder="Enter URL of the profile." @showValidations={{true}} />

<Input::MdInput @value={{record.alias}} @label="Alias" @placeholder="Enter an alternative title." @showValidations={{true}} />

<div class="form-group">
  <label class="">Version</label>
  <div class="">
    <span>{{if record.localVersion record.localVersion "--"}}</span>
    {{#if record.hasUpdate}}
    <span class="label label-pill label-info">Update Available ({{record.remoteVersion}})</span>
    {{/if}}
  </div>
</div>

<hr>

<Object::MdProfile::Preview @record={{record}} />
{{yield}}
