<h4 class="section-header">Editing Reference
  <span class="small">for <em>{{this.model.title}}</em></span>
  <Control::MdStatus @model={{this.model}} />
</h4>
{{#let this.model as |citation|}}
  <Object::MdCitation @class="" @model={{citation}} @profilePath="dictionary.entity.entityReference" @editIdentifier={{route-action "editIdentifier"}} />
  {{outlet}}
{{/let}}
<ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-link"
    text="Back to Entity"
    icon="arrow-left"
    click=(route-action "backToEntity")
  }} />
<ToElsewhere @named="md-scroll-spy-dict-edit" @send={{component "control/md-scroll-spy" scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}} />
