<button
  type='button'
  class='btn btn-lg btn-info btn-block md-btn-responsive'
  {{action 'doImport' target=actionContext}}
>
  {{fa-icon 'sign-in'}}
  Do Import</button>
<button
  type='button'
  class='btn btn-lg btn-danger btn-block md-btn-responsive'
  {{action 'cancelImport' target=actionContext}}
>
  {{fa-icon 'times'}}
  Cancel Import</button>
{{yield}}