<h4 class='section-header'>
  Editing Entity
  {{#if this.model.codeName}}
    <em>
      {{this.model.codeName}}
    </em>
  {{else}}
    #{{this.entityId}}
  {{/if}}
  <span class='small'>
    for
    <em>
      {{this.parentModel.title}}
    </em>
  </span>
  <Control::MdStatus @model={{this.parentModel}} />
</h4>

<Object::MdEntity
  @class=''
  @model={{this.model}}
  @dictionary={{this.parentModel.json.dataDictionary}}
  @profilePath='dictionary.entity'
  @editCitation={{route-action 'editCitation'}}
  @editAttribute={{route-action 'editAttribute'}}
/>

<ToElsewhere
  @named='md-subbar-extra'
  @send={{
    component
    'control/subbar-link'
    text='Back to Entity List'
    icon='arrow-left'
    route='dictionary.show.edit.entity.index'
  }}
/>

<ToElsewhere
  @named='md-scroll-spy-dict-edit'
  @send={{
    component
    'control/md-scroll-spy'
    scrollInit=this.scrollTo
    setScrollTo=(route-action 'setScrollTo')
  }}
/>