<div class="btn-group-vertical center-block" role="group" aria-label="CRUD Button Controls">
  {{#if this.doSave}}
      <button type="submit" {{action "save"}} class="btn btn-lg btn-success"
      disabled={{if this.model.hasDirtyHash false true}}>
        <FaIcon @icon="floppy-disk" /> Save
      </button>
      <button type="button" {{action "cancel"}} class="btn btn-lg btn-warning"
      disabled={{if this.model.canRevert false true}}>
        <FaIcon @icon="rotate-left" /> Cancel
      </button>
  {{/if}}
  {{#if this.showCopy}}
    <button type="button" {{action "copy"}} class="btn btn-lg btn-info">
      <FaIcon @icon="clone" /> Copy
    </button>
  {{/if}}
  {{#if this.showDelete}}
    <Control::MdButtonConfirm @class="btn btn-lg btn-danger" @onConfirm={{action "delete"}} @tooltip="Permanently delete this record?" @tipClass="danger">
      <FaIcon @icon="x" /> Delete
    </Control::MdButtonConfirm>
  {{/if}}
  {{yield}}
  <EmberTooltip @tooltipClass="ember-tooltip md-tooltip primary" @text="Manage the record" @side="top" />
</div>
