<h4 class="section-header">
  Editing Domain {{#if model.codeName}}
    <em>{{model.codeName}}</em>
  {{else}}
    #{{domainId}}
  {{/if}}
  <span class="small">for <em>{{parentModel.title}}</em></span>
  <Control::MdStatus @model={{parentModel}} />
</h4>

<Object::MdDomain @class="" @model={{model}} @profilePath="dictionary.domain" @editCitation={{route-action "editCitation"}} @editDomainItem={{route-action "editDomainItem"}} />

<ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-link"
    text="Back to Domains"
    icon="arrow-left"
    route="dictionary.show.edit.domain.index"
  }} />

<ToElsewhere @named="md-scroll-spy-dict-edit" @send={{component "control/md-scroll-spy" scrollInit=scrollTo setScrollTo=(route-action "setScrollTo")}} />
