<h4 class='section-header'>
  Editing Extents
  <Control::MdStatus @model={{model}} />
</h4>

<section>
  {{#each model.json.metadata.resourceInfo.extent as |extent index|}}
    <Object::MdExtent @title="Extent" @extent={{extent}} @index={{index}} @profilePath="record.extent" @deleteExtent={{route-action "deleteExtent"}} @editFeatures={{route-action "editFeatures"}} @addExtent={{route-action "addExtent"}} />
  {{else}}
    <h3 class='alert alert-info'>No Extents found.
      <button
        type='button'
        class='btn btn-lg btn-success'
        {{action (route-action 'addExtent')}}
      >
        {{fa-icon 'plus'}}
        Add Extent</button>
    </h3>
  {{/each}}
</section>

<ToElsewhere @named="md-subbar-extra" @send={{component
    'control/md-button'
    text='Add Extent'
    icon='plus'
    class='btn-lg btn-success'
    click=(route-action 'addExtent')
  }} />

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component
    'control/md-scroll-spy'
    refresh=refreshSpy
    scrollInit=scrollTo
    setScrollTo=(route-action 'setScrollTo')
  }} />