<button type="button" class="close huge-text" aria-label="Close" {{on "click" this.toggleVisibility}}>
  Close
  {{fa-icon "caret-right"}}
</button>
<section class="md-slider-body">
  {{#from-elsewhere name=(or this.fromName "md-slider-content") as |slider|}}
    <h3 class="text-info">{{slider.title}}</h3>
    <hr>
    {{component slider.body}}
  {{/from-elsewhere}}
</section>
{{yield}}
