<button type="button" class="close huge-text" aria-label="Close" {{action "toggleVisibility"}}>
  Close
  <FaIcon @icon="caret-right" />
</button>
<section class="md-slider-body">
  <FromElsewhere @name={{this.name}} as |slider|>
    <h3 class="text-info">{{slider.title}}</h3>
    <hr>
    {{component slider.body}}
  </FromElsewhere>
</section>
{{yield}}
