<div class="page-header">
  <h3>Settings
    <small class="small">mdEditor Version: {{control/md-repo-link}}</small>
  </h3>
</div>

{{#layout/md-card title="General Settings"}}
<form class="form-horizontal">
  <div class="form-group">
      <label class="col-sm-2 col-lg-1 control-label">Auto Save</label>
      <div class="col-sm-1">
        {{x-toggle
          value=model.autoSave
          onToggle=(mut model.autoSave)
          showLabels=true
          onLabel="On::true"
          offLabel="Off::false"
          size="medium"
          theme="default"
        }}
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-2 col-lg-1 control-label">Clear All Records</label>
      <div class="col-sm-1">
          {{#control/md-button-modal class="btn btn-lg btn-danger" type="button"
            message="<h1>Are you sure?</h1> Clicking OK will delete ALL  records in
            your browser cache. Have you made a backup?"
            onConfirm=(route-action "clearLocalStorage")
          }}
            <span class="fa fa-times"></span> Clear Storage Cache
          {{/control/md-button-modal}}
      </div>
  </div>
</form>
{{/layout/md-card}}

{{#layout/md-card
  title="Defaults"
  shadow=true
}}
<div class="form-group">
    <div class="col-md-4">
      {{input/md-codelist
        value=model.language
        create=true
        tooltip=true
        icon=false
        disabled=disabled
        mdCodeName="language"
        label="Language"
        showValidations=true
        placeholder="Select or enter a language code."
      }}
    </div>
    <div class="col-md-4">
      {{input/md-codelist
        value=model.characterSet
        create=false
        tooltip=true
        icon=false
        disabled=disabled
        mdCodeName="characterSet"
        label="Character Set"
        showValidations=true
        placeholder="Select character set."
      }}
    </div>
    <div class="col-md-4">
      {{input/md-codelist
        value=model.country
        create=false
        tooltip=true
        icon=false
        disabled=disabled
        mdCodeName="countries"
        label="Country"
        placeholder="Select country code."
      }}
    </div>
    <hr>
    <div class="col-md-4">
      {{input/md-input
        label="Import URL"
        type="text"
        value=model.importUriBase
        placeholder="Text string used as the default URL for importing."
      }}
    </div>
</div>

<div class="clearfix"></div>
<hr>
  {{#object/md-array-table
    columns="Repository, Collection Title"
    value=model.repositoryDefaults
    plain=true
    title="Metadata Repository"
    templateClass=settings.repositoryTemplate
    onChange=(route-action "save")
    data-spy="Metadata Repository" as |meta|
  }}
    <td>
      {{input/md-codelist
        value=meta.item.repository
        create=true
        tooltip=true
        icon=false
        mdCodeName="metadataRepository"
        closeOnSelect=true
        placeholder="Select or enter a repository."
        change=(route-action "save")
      }}
    </td>
    <td>
      {{input/md-input
        type="text"
        value=meta.item.title
        placeholder="Text string used to identify a set of resources in the repository."
        change=(route-action "save")
      }}
    </td>
  {{/object/md-array-table}}
{{/layout/md-card}}
 {{outlet}}
