<h4 class="section-header">Editing Taxonomic System #{{systemId}}
  {{control/md-status model=(compute (route-action "parentModel"))}}
</h4>

{{#with model as |system|}}
    <div class="">
      {{object/md-taxonomy/collection/system
        model=system
        profilePath="record.taxonomy.collection.system"
      }}
    </div>
{{/with}}

{{to-elsewhere
  named="md-subbar-extra"
  send=(component
    "control/md-button"
    text="Back to Collection"
    icon="arrow-left"
    class="btn-primary btn-lg"
    click=(route-action "goBack")
  )
}}
{{to-elsewhere named="md-scroll-spy-record-edit"
  send=(component "control/md-scroll-spy"  scrollInit=scrollTo setScrollTo=(route-action "setScrollTo"))}}
