<h4 class='section-header'>
  Editing Taxonomic System #{{this.systemId}}
  <Control::MdStatus @model={{compute (route-action 'parentModel')}} />
</h4>

{{#with this.model as |system|}}
  <div class=''>
    <Object::MdTaxonomy::Collection::System
      @model={{system}}
      @profilePath='record.taxonomy.collection.taxonomicSystem'
    />
  </div>
{{/with}}

<ToElsewhere
  @named='md-subbar-extra'
  @send={{
    component
    'control/md-button'
    text='Back to Collection'
    icon='arrow-left'
    class='btn-primary btn-lg'
    click=(route-action 'goBack')
  }}
/>
<ToElsewhere
  @named='md-scroll-spy-record-edit'
  @send={{
    component
    'control/md-scroll-spy'
    scrollInit=this.scrollTo
    setScrollTo=(route-action 'setScrollTo')
  }}
/>