<h4 class="col-xxl-11 col-xxxl-10 col-xxl-offset-1 section-header">Editing Alternate Metadata Reference
  <Control::MdStatus @model={{compute (route-action "parentModel")}} />
</h4>
{{#with this.model as |citation|}}
    <div class="row">
      <Object::MdCitation @class="col-xxl-11 col-xxxl-10 col-xxl-offset-1" @model={{citation}} @profilePath="record.metadata.alternateMetadataReference" @editIdentifier={{route-action "editIdentifier"}} />
      {{outlet}}
    </div>
{{/with}}
<ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-link" text="Back to Metadata" icon="arrow-left" route="record.show.edit.metadata"}} />
<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}} />
