<h3 class="text-info"><FaIcon @icon="users" /> Contacts</h3>
{{#if this.model.length}}
  <Layout::MdCard @collapsible={{true}} @collapsed={{false}} @shadow={{true}}>
    <Control::MdRecordTable @data={{this.model}} @dataColumns={{compute this.getColumns this.section.meta.type}} @allActions={{true}} @selectProperty="_selectedFromList" @showSlider={{this.showSlider}} />
  </Layout::MdCard>
{{else}}
<div class="alert alert-info">
  <h3>No Contacts found.
    <LinkTo @route="contact.new" class="btn btn-success btn-lg">
      <FaIcon @icon="plus" /> Create a Contact
    </LinkTo>
  </h3>
</div>
{{/if}}

{{outlet}}
{{#if this.errorTarget}}
  <ToElsewhere @named="md-slider-error" @send={{hash
      title=(concat "Viewing errors for: " this.errorTarget.title)
      body=(component "control/md-errors"
        errors=this.errorTarget.schemaErrors
      )
    }} />
{{/if}}
