<h3 class="text-info">{{fa-icon "users"}} Contacts</h3>
{{#if model.length}}
  <Layout::MdCard @collapsible={{true}} @collapsed={{false}} @shadow={{true}}>
    <Control::MdRecordTable @data={{model}} @dataColumns={{compute (route-action "getColumns") section.meta.type}} @allActions={{true}} @selectProperty="_selectedFromList" @showSlider={{route-action "showSlider"}} />
  </Layout::MdCard>
{{else}}
<div class="alert alert-info">
  <h3>No Contacts found.
    <LinkTo @route="contact.new" class="btn btn-success btn-lg">
      {{fa-icon "plus"}} Create a Contact
    </LinkTo>
  </h3>
</div>
{{/if}}

{{outlet}}
{{#if errorTarget}}
  <ToElsewhere @named="md-slider-error" @send={{hash
      title=(concat "Viewing errors for: " errorTarget.title)
      body=(component "control/md-errors"
        errors=errorTarget.schemaErrors
      )
    }} />
{{/if}}
