{{input/md-codelist
  create=true
  label='Scope'
  tooltip=true
  icon=false
  disable=false
  allowClear=true
  showValidations=true
  mdCodeName='scope'
  path='scopeCode'
  model=this
  placeholder='Select Scope'
  profilePath=(concat profilePath '.scopeCode')
  class=(if (v-get this 'isInvalid') 'required')
}}
{{input/md-input value=name label='Name' placeholder='Enter name'}}

<div class='row'>
  {{input/md-datetime
    date=model.dateTime
    class='col-xxl-4 col-md-10 col-sm-4'
    profilePath=(concat profilePath '.dateTime')
    label='Date'
  }}
</div>

{{#layout/md-card
  title='Specification' required=true collapsible=true collapsed=true
}}
  {{object/md-citation
    model=model.specification
    required=true
    profilePath=(concat profilePath '.specification')
    simpleIdentifier=true
  }}
{{/layout/md-card}}

{{input/md-textarea
  value=model.explanation
  label='Explanation'
  placeholder='Enter explanation'
  profilePath=(concat profilePath '.explanation')
}}

{{input/md-boolean
  value=model.pass
  label='Conformance Result Passes'
  profilePath=(concat profilePath '.pass')
  showInfoText='The result passes conformance'
  infotip=true
  placeholder='The result passes conformance'
}}