{{!-- {{tree-view model=model}}
{{tree-search model=model}} --}}
  <section>
    {{#each model.keywords as |thesaurus index|}}
      <div class="md-keywords-container">
        <h4 class="inline-block text-primary" code="">
            <strong>Thesaurus #{{index}}</strong>
        </h4>
        {{input/md-codelist class="md-keywords-select" mdCodeName="scope" placeholder="Pick a thesaurus"}}
        <button type="button" class="btn btn-sm btn-warning" {{action (route-action "editThesaurus" index)}}>
          {{fa-icon "pencil"}} Edit </button>
        <button type="button" class="btn btn-sm btn-danger" {{action (route-action "deleteThesaurus" index)}}>
          {{fa-icon "times"}} Delete </button>
        <div class="md-keywords-list">
          {{#each thesaurus.keyword as |keywords|}}
            {{else}}
              <div class="alert alert-info">
                No Keywords to display.
              </div>
          {{/each}}
        </div>
      </div>
      {{else}}
        No keywords found.
    {{/each}}
  </section>

  {{outlet}}
