<div class="row">

  <div class="col-sm-{{if this.model.files "9" "12"}} col-xxl-{{if this.model.files "10" "12"}}">

    <h3 class="text-info">Import Data</h3>
    {{#if this.model.preview}}
      <h3>{{capitalize (singularize this.model.preview.model.type)}}: {{this.model.preview.model.id}}</h3>
      {{control/md-json-viewer class="md-import-preview" json=this.model.preview.json modal=false}}
    {{else}}
      {{#unless this.model.files}}
        {{#let (file-queue onFileAdded=this.readData) as |queue|}}
          <FileDropzone @queue={{queue}} class="md-file-picker md-import-picker" as |dropzone|>
            <input type="file" accept=".json,.xml" style="display: none;" {{on "change" (fn this.handleFileInput queue)}} id="import-file-input">
            <button type="button" class="btn btn-lg btn-info btn-block {{if dropzone.active 'over'}}" {{on "click" this.triggerFileInput}}>
              <p><FaIcon @icon="bullseye" /> Click or Drop a file here to import data.</p>
              <hr>
              {{#unless this.isTranslating}}
              <div class="inline-block text-left small">
                These file formats are supported: <br>
                <ul>
                  <li>mdEditor (.json)</li>
                  <li>mdJSON (.json)</li>
                  <li>FGDC CSDGM (.xml)</li>
                </ul>
              </div>
              {{else}}
                <FaIcon @icon="spinner" @spin={{true}} /> Translating to mdJSON. Please wait... <br>
                {{!-- <small>Using <a href={{apiURL}}>{{apiURL}}</a> for translation.</small> --}}
              {{/unless}}
            </button>
          </FileDropzone>
        {{/let}}
        <hr>
        <h3>Import mdJSON from Online URL</h3>
        <div class="row">
          <div class="col-xxl-6">
            <div class="input-group input-group-lg">
              {{input
                type="url"
                value=this.importUri
                placeholder="Enter online link to mdJSON"
                class="form-control"
              }}
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" {{action this.readFromUri}}>
                    {{#if this.isLoading}}
                      <FaIcon @icon="spinner" @spin={{true}} />
                    {{else}}
                      <FaIcon @icon="cloud-arrow-down" />
                    {{/if}}
                    Import</button>
              </span>
            </div>
          </div>
        </div>
      {{/unless}}
      {{#each-in this.model.files as |key item|}}
        {{#layout/md-card
          title=(capitalize key)
          titleIcon=(compute this.getIcon key)
          collapsible=true
          collapsed=false
          data-spy=(capitalize key)
          shadow=true
        }}
        {{!-- <h3>{{section.meta.title}}</h3> --}}
        {{control/md-record-table
          data=item
          dataColumns=(compute this.getColumns key)
          actionsColumn=false
          selectProperty="meta.export"
          showColumnsDropdown=(not-eq key "settings")
          showComponentFooter=(not-eq key "settings")
          showGlobalFilter=(not-eq key "settings")
          showPageSize=(not-eq key "settings")
          useFilteringByColumns=(not-eq key "settings")
        }}
        {{/layout/md-card}}
      {{/each-in}}
    {{/if}}
  </div>

  {{#if this.model.files}}
    <div class="md-control-sidebar col-sm-3 col-xxl-2 no-nav">
      {{#if this.model.preview}}
        <button type="button" class="btn btn-lg btn-primary btn-block md-btn-responsive" {{action this.closePreview}}><FaIcon @icon="arrow-left" /> Close Preview</button>
        {{else if this.model.files}}
        <button type="button" class="btn btn-lg btn-success btn-block md-btn-responsive" {{action this.importData}}><FaIcon @icon="right-to-bracket" /> Click to Import Data</button>
        <button type="button" class="btn btn-lg btn-danger btn-block md-btn-responsive" {{action this.cancelImport}}><FaIcon @icon="x" /> Cancel Import</button>
        <div class="btn-fake btn-block">
          {{x-toggle
            value=this.model.merge
            onToggle=(action (mut this.model.merge))
            showLabels=true
            onLabel="Merge"
            offLabel="Replace"
            size="medium"
            theme="default"
          }}
        </div>
        <hr>
        {{control/md-scroll-spy offset=130 scrollInit=this.scrollTo setScrollTo=this.setScrollTo}}
      {{/if}}
      </div>
  {{/if}}

</div>
{{outlet}}

{{#control/md-modal
  isShowing=this.showApiModal
  showConfirm=true
  confirmLabel="Go to Settings"
  showCancel=true
  confirm=this.goToSettings
  cancel=(action (mut this.showApiModal) false)
}}
  <div class='alert alert-info' role='alert'><FaIcon @icon="triangle-exclamation" />
    mdTranslator API URL required.
  </div>
  <p>
    Please go to <LinkTo @route='settings'>Settings > Main</LinkTo> and configure the
    mdTranslator API URL before importing.
  </p>
{{/control/md-modal}}
