<h2>Import Data</h2>
{{#if model.preview}}
    <button class="btn btn-primary" {{action "closePreview"}}>Close Preview</button>
  {{control/md-json-viewer class="md-import-preview" json=model.preview modal=false}}
{{else}}
  {{#if model.files}}
    <button class="btn btn-lg btn-success btn-block" {{action "importData"}}>Click to Import Data</button>
  {{else}}
    {{#file-picker class="" fileLoaded="readData" preview=false accept=".zip,.json" }}
      <button class="btn btn-lg btn-default btn-block">Click or Drop File Here to Import Data</button>
    {{/file-picker}}
  {{/if}}
  {{#each-in model.files as |key item|}}
    <h3>{{capitalize key}}</h3>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>JSON</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each item as |row rowindex|}}
            <tr>
              <td>{{input type="checkbox" name="isChecked"}}</td>
              <td>{{row.id}}</td>
              <td>{{row.attributes.json}}</td>
              <td>
                <div class="pull-right">
                  <button class="btn btn-xs btn-primary" {{action "showPreview" row.attributes.json}}>
                    <span class="fa fa-binoculars"></span> Preview
                  </button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/each-in}}
{{/if}}
{{outlet}}
