<div class='row'>

  <div
    class='col-sm-{{if model.files "9" "12"}}
      col-xxl-{{if model.files "10" "12"}}'
  >

    <h3 class='text-info'>Import Data</h3>
    {{#if model.preview}}
      <h3>{{capitalize (singularize model.preview.model.type)}}:
        {{model.preview.model.id}}</h3>
      {{control/md-json-viewer
        class='md-import-preview'
        json=model.preview.json
        modal=false
      }}
    {{else}}
      {{#unless model.files}}
        <FilePicker
          @class='md-file-picker md-import-picker'
          @fileLoaded='readData'
          @preview={{false}}
          @accept='.json,.xml'
          @readAs='readAsText'
        >
          <button type='button' class='btn btn-lg btn-info btn-block'>
            <p>{{fa-icon 'bullseye'}}
              Click or Drop a file here to import data.</p>
            <hr />
            {{#if isTranslating}}
              {{fa-icon 'spinner' spin=true}}
              Translating to mdJSON. Please wait...
              <br />
              {{!-- <small>Using <a href={{apiURL}}>{{apiURL}}</a> for translation.</small> --}}
            {{else}}
              <div class='inline-block text-left small'>
                These file formats are supported:
                <br />
                <ul>
                  <li>mdEditor (.json)</li>
                  <li>mdJSON (.json)</li>
                  <li>FGDC CSDGM (.xml)</li>
                </ul>
              </div>
            {{/if}}
          </button>
        </FilePicker>
        <hr />
        <h3>Import mdJSON from Online URL</h3>
        <div class='row'>
          <div class='col-xxl-6'>
            <div class='input-group input-group-lg'>
              {{input
                type='url'
                value=importUri
                placeholder='Enter online link to mdJSON'
                class='form-control'
              }}
              <span class='input-group-btn'>
                <button
                  class='btn btn-primary'
                  type='button'
                  {{action (route-action 'readFromUri')}}
                >
                  {{#if isLoading}}
                    {{fa-icon 'spinner' spin=true}}
                  {{else}}
                    {{fa-icon 'cloud-download'}}
                  {{/if}}
                  Import</button>
              </span>
            </div>
          </div>
        </div>
      {{/unless}}
      {{#each-in model.files as |key item|}}
        {{!-- <div class="md-table-block md-table-checkbox box-shadow--2dp">
          <div class="md-table-title">{{capitalize key}}</div>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Last Updated</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each item as |row rowindex|}}
                  <tr>
                    <td>{{input type="checkbox" name="isChecked" checked=row.meta.export}}</td>
                    <td>{{row.id}}</td>
                    <td>{{row.meta.title}}</td>
                    <td>{{if row.attributes.date-updated row.attributes.date-updated "unknown"}}</td>
                    <td>
                      <div class="pull-right">
                        <button type="button" class="btn btn-xs btn-primary" {{action "showPreview" row}}>
                          <span class="fa fa-binoculars"></span> Preview JSON
                        </button>
                      </div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div> --}}
        <Layout::MdCard
          @title={{capitalize key}}
          @titleIcon={{compute (route-action 'getIcon' key)}}
          @collapsible={{true}}
          @collapsed={{false}}
          @data-spy={{capitalize key}}
          @shadow={{true}}
        >
          {{!-- <h3>{{section.meta.title}}</h3> --}}
          {{control/md-record-table
            data=item
            dataColumns=(compute (route-action 'getColumns') key)
            actionsColumn=false
            selectProperty='meta.export'
            showColumnsDropdown=(not-eq key 'settings')
            showComponentFooter=(not-eq key 'settings')
            showGlobalFilter=(not-eq key 'settings')
            showPageSize=(not-eq key 'settings')
            useFilteringByColumns=(not-eq key 'settings')
          }}
        </Layout::MdCard>
      {{/each-in}}
    {{/if}}
  </div>

  {{#if model.files}}
    <div class='md-control-sidebar col-sm-3 col-xxl-2 no-nav'>
      {{#if model.preview}}
        <button
          type='button'
          class='btn btn-lg btn-primary btn-block md-btn-responsive'
          {{action 'closePreview'}}
        >{{fa-icon 'arrow-left'}} Close Preview</button>
      {{else if model.files}}
        <button
          type='button'
          class='btn btn-lg btn-success btn-block md-btn-responsive'
          {{action 'importData'}}
        >{{fa-icon 'sign-in'}} Click to Import Data</button>
        <button
          type='button'
          class='btn btn-lg btn-danger btn-block md-btn-responsive'
          {{action 'cancelImport'}}
        >{{fa-icon 'times'}} Cancel Import</button>
        <div class='btn-fake btn-block'>
          {{x-toggle
            value=model.merge
            onToggle=(action (mut model.merge))
            showLabels=true
            onLabel='Merge'
            offLabel='Replace'
            size='medium'
            theme='default'
          }}
        </div>
        <hr />
        {{control/md-scroll-spy
          offset=130
          scrollInit=scrollTo
          setScrollTo=(route-action 'setScrollTo')
        }}
      {{/if}}
    </div>
  {{/if}}

</div>
{{outlet}}