<h4 class="section-header">
  Editing Attribute #{{this.attributeId}} in
  <span class="text-success">Attribute Group #{{this.attrGroupId}}</span> in
  <span class="text-primary">Raster Description #{{this.rasterId}}</span>

  <Control::MdButtonConfirm @class="btn btn-xs btn-danger" @onConfirm={{route-action "deleteAttribute"}} @tooltip="Delete Attribute?" @tipClass="danger" @tipSide="bottom">
    <FaIcon @icon="x" /> Delete
  </Control::MdButtonConfirm>

  <Control::MdStatus @model={{this.parentModel}} />
</h4>

<Object::MdRaster::Attrgroup::Attribute @model={{this.model}} @profilePath="record.spatial.coverageDescription.attributeGroup.attribute" />

<ToElsewhere @named="md-subbar-buttons" @send={{component "control/md-button"
  text="Back to Attribute Group"
  icon="arrow-left"
  class="btn-primary btn-lg"
  click=(route-action "backToAttrGroup")
  }} />
<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  refresh=this.refresh scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}} />