<Input::MdInput @label="Medium Title" @value={{this.model.mediumSpecification.title}} @placeholder="Name of the medium" @profilePath={{concat this.profilePath ".mediumTitle"}} />

<Layout::MdCard @shadow={{false}} @muted={{false}} @profilePath={{concat this.profilePath ".storage"}} @plain={{true}}>
<div class="row">
  <label class="text-info col-md-2">Storage</label>
  <Input::MdInput @type="number" @value={{this.model.density}} @step="0.01" @label="Density" @placeholder="Density at which the data are recorded." @profilePath={{concat this.profilePath ".storage.density"}} @class="col-md-3" />

  <Input::MdInput @value={{this.model.units}} @label="Density Units" @profilePath={{concat this.profilePath ".storage.units"}} @placeholder="Units of measure for the recording density." @class="col-md-3" />

  <Input::MdInput @type="number" @value={{this.model.numberOfVolumes}} @step="1" @label="Number Of Volumes" @placeholder="The number of volumes in the media resource." @profilePath={{concat this.profilePath ".storage.numberOfVolumes"}} @class="col-md-3" />
</div>
<div class="row">
  <Input::MdCodelistMulti @label="Storage Format" @value={{this.model.mediumFormat}} @create={{true}} @tooltip={{true}} @icon={{false}} @mdCodeName="mediumFormat" @closeOnSelect={{false}} @placeholder="Method used to write to the medium." @class="col-md-10 col-md-offset-2" @profilePath={{concat this.profilePath ".storage.format"}} />
</div>
</Layout::MdCard>

<Layout::MdCard @shadow={{false}} @muted={{false}} @plain={{true}} @profilePath={{concat this.profilePath ".identifier"}}>
  <Object::MdIdentifier @profilePath={{concat this.profilePath ".identifier"}} @short={{true}} @model={{this.model.identifier}} />
</Layout::MdCard>

<Input::MdTextarea @value={{this.model.note}} @autoresize={{false}} @placeholder="Describe other limitations or requirements for using the medium." @label="Note" @profilePath={{concat this.profilePath ".note"}} />

{{yield}}
