{{input/md-codelist
  label="Frequency"
  create=true
  required=true
  tooltip=true
  icon=false
  allowClear=true
  showValidations=true
  mdCodeName="maintenanceFrequency"
  value=this.model.frequency
  placeholder="Choose a value."
  profilePath=(concat this.profilePath ".frequency")
}}

{{#layout/md-card shadow=false profilePath=(concat this.profilePath ".dates")
  data-spy="Dates"
  class="md-embedded"
}}
  {{object/md-date-array
    value=this.model.date
    plain=true
    data-spy=false
    profilePath=(concat this.profilePath ".dates")
  }}
{{/layout/md-card}}

{{#layout/md-card shadow=false profilePath=(concat this.profilePath ".contact")}}
  {{object/md-party-array
    title="Contact"
    data-spy="Contacts"
    collapsible=true collapsed=false
    required=false
    value=this.model.contact
    class="md-embedded"
    plain=true
    profilePath=(concat this.profilePath ".contact")
  }}
{{/layout/md-card}}

{{#layout/md-card shadow=false profilePath=(concat this.profilePath ".note")}}
  {{#object/md-simple-array-table
    title="Notes"
    required=false
    plain=true
    class="md-embedded"
    value=this.model.note as |val|
  }}
    <td>
        {{input/md-textarea value=val.item.value
        placeholder="Enter notes regarding the maintenance of the resource."}}
    </td>
  {{/object/md-simple-array-table}}
{{/layout/md-card}}

{{input/md-codelist-multi
  value=this.scopes
  label="Scope"
  create=true
  tooltip=true
  icon=true
  mdCodeName="scope"
  closeOnSelect=false
  placeholder="Select type of resource."
  profilePath=(concat this.profilePath ".scope")
}}

{{yield}}
