{{#if model.hasDirtyHash}}
<span>
  {{fa-icon "exclamation-circle" class="text-danger"}}
  {{tooltip-on-element text='This record has been modified!' side="top"
    class="md-tooltip danger"
  }}
</span>
{{/if}}

{{#if model.hasSchemaErrors}}
<span {{action "showSlider"}}>
  {{fa-icon "exclamation-circle" class="md-warning"}}
  {{tooltip-on-element text='This record has errors!' side="right"
    class="md-tooltip warning"
  }}
</span>
{{/if}}

{{to-elsewhere
  named="md-slider-error"
  send=(hash
    title=(concat "Viewing errors for: " model.title)
    body=(component "control/md-errors"
      errors=model.hasSchemaErrors
    )
  )
}}
