<Object::MdArrayTable @columns="Role,Contacts" @title={{this.title}} @pluralTitle={{this.pluralTitle}} @required={{this.required}} @plain={{this.plain}} @value={{this.value}} @validation={{this.validation}} @errorMessage={{this.errorMessage}} @tipPath={{this.tipPath}} @tipModel={{this.tipModel}} @data-spy={{false}} @profilePath={{this.profilePath}} @templateClass={{this.templateClass}} as |party|>
   {{#with party.item as |item|}}
     <td>
       <Input::MdCodelist @path="role" @model={{item}} @create={{true}} @tooltip={{true}} @icon={{false}} @disabled={{this.disabled}} @mdCodeName="role" @showValidations={{true}} @placeholder="Select or enter a role" @profilePath={{concat this.profilePath ".role"}} />
     </td>
     <td>
       <Input::MdSelectContacts @placeholder="Select one or more contacts" @model={{item}} @path="_contacts" @icon={{true}} @tooltip={{true}} @showValidations={{true}} @profilePath={{concat this.profilePath ".contacts"}} />
     </td>
    {{/with}}
</Object::MdArrayTable>
