    {{#if label}}
      <label>{{label}}</label>
    {{/if}}
<div class="md-input-input">
      {{#component theComponent
        selected=selectedItem
        multiple=multiple
        options=codelist
        disabled=disabled
        placeholder=placeholder
        searchField="codeName"
        searchEnabled=searchEnabled
        allowClear=allowClear
        closeOnSelect=closeOnSelect
        onchange=(action "setValue")
        oncreate=(action "create")
        ariaLabel=ariaLabel
        as |code|
      }}
        {{#unless filter}}
          {{#if icon}}
            {{#if code.icon}}
              <span class="fa fa-{{code.icon}}"> </span>
            {{/if}}
          {{/if}}
          <span class="select-value">{{code.codeName}}</span>
          {{#if tooltip}}
            {{#if code.tooltip}}
            <div class="pull-right">
              <span class="badge tooltip">?
                {{tooltip-on-element
                  text=code.tooltip
                  side="right"
                  enableLazyRendering=true
                }}
              </span>
            </div>
            {{/if}}
          {{/if}}
        {{/unless}}
      {{/component}}
      <span class='md-input-error'>
        {{#if showErrorMessage}}
          <span class='md-error'>
            {{fa-icon "exclamation-circle"}}
            {{#tooltip-on-element side="right" class="md-tooltip danger"}}
                {{v-get model path 'message'}}
            {{/tooltip-on-element}}
          </span>
        {{/if}}

        {{#if showWarningMessage}}
          <span class='md-warning'>
            {{fa-icon "exclamation-triangle"}}
            {{#tooltip-on-element side="right" class="md-tooltip warning"}}
            {{v-get model path 'warningMessage'}}
            {{/tooltip-on-element}}
          </span>
        {{/if}}
      </span>
    </div>
