    {{#if label}}
      <label>{{label}}</label>
    {{/if}}
<div class="md-input-input">
      {{log "Template rendering - codelist length:" codelist.length "codelist:" codelist}}
      {{#if create}}
        {{#power-select-with-create
          selected=selectedItem
          multiple=multiple
          options=codelist
          disabled=disabled
          placeholder=placeholder
          searchField="codeName"
          searchEnabled=searchEnabled
          matchTriggerWidth=matchTriggerWidth
          calculatePosition=calculatePosition
          allowClear=allowClear
          closeOnSelect=closeOnSelect
          onChange=(action "setValue")
          onCreate=(action "create")
          ariaLabel=ariaLabel
          as |code|
        }}
          {{#unless filter}}
          <span class="md-select-option {{if code.tooltip "with-tip"}}">
            {{#if icon}}
              {{#if code.icon}}
                <span class="fa fa-{{code.icon}}"> </span>
              {{/if}}
            {{/if}}
            <span class="select-value">{{code.codeName}}</span>
            {{#if tooltip}}
              {{#if code.tooltip}}
              <span class="select-tip">
                <span class="badge tooltip">?
                  {{ember-tooltip
                    text=code.tooltip
                    side="right"
                  }}
                </span>
              </span>
              {{/if}}
            {{/if}}
          </span>
          {{/unless}}
        {{/power-select-with-create}}
      {{else}}
        {{#power-select
          selected=selectedItem
          multiple=multiple
          options=codelist
          disabled=disabled
          placeholder=placeholder
          searchField="codeName"
          searchEnabled=searchEnabled
          matchTriggerWidth=matchTriggerWidth
          calculatePosition=calculatePosition
          allowClear=allowClear
          closeOnSelect=closeOnSelect
          onChange=(action "setValue")
          ariaLabel=ariaLabel
          as |code|
        }}
          {{#unless filter}}
          <span class="md-select-option {{if code.tooltip "with-tip"}}">
            {{#if icon}}
              {{#if code.icon}}
                <span class="fa fa-{{code.icon}}"> </span>
              {{/if}}
            {{/if}}
            <span class="select-value">{{code.codeName}}</span>
            {{#if tooltip}}
              {{#if code.tooltip}}
              <span class="select-tip">
                <span class="badge tooltip">?
                  {{ember-tooltip
                    text=code.tooltip
                    side="right"
                  }}
                </span>
              </span>
              {{/if}}
            {{/if}}
          </span>
          {{/unless}}
        {{/power-select}}
      {{/if}}
      <span class="md-input-error">
        {{#if showErrorMessage}}
          <span class="md-error">
            {{fa-icon "exclamation-circle"}}
            {{#ember-tooltip side="right" tooltipClass="ember-tooltip md-tooltip danger"}}
                {{v-get model path "message"}}
            {{/ember-tooltip}}
          </span>
        {{/if}}

        {{#if showWarningMessage}}
          <span class="md-warning">
            {{fa-icon "exclamation-triangle"}}
            {{#ember-tooltip side="right" tooltipClass="ember-tooltip md-tooltip warning"}}
            {{v-get model path "warningMessage"}}
            {{/ember-tooltip}}
          </span>
        {{/if}}
      </span>
    </div>
