    {{#if this.label}}
      <label>{{this.label}}</label>
    {{/if}}
<div class="md-input-input">
      {{#component this.theComponent
        selected=this.selectedItem
        multiple=this.multiple
        options=this.codelist
        disabled=this.disabled
        placeholder=this.placeholder
        searchField="codeName"
        searchEnabled=this.searchEnabled
        matchTriggerWidth=this.matchTriggerWidth
        calculatePosition=this.calculatePosition
        allowClear=this.allowClear
        closeOnSelect=this.closeOnSelect
        onChange=(action "setValue")
        onCreate=(action "create")
        ariaLabel=this.ariaLabel
        as |code|
      }}
        {{#unless this.filter}}
        <span class="md-select-option {{if code.tooltip "with-tip"}}">
          {{#if this.icon}}
            {{#if code.icon}}
              <span class="fa fa-{{code.icon}}"> </span>
            {{/if}}
          {{/if}}
          <span class="select-value">{{code.codeName}}</span>
          {{#if this.tooltip}}
            {{#if code.tooltip}}
            <span class="select-tip">
              <span class="badge tooltip">?
                <EmberTooltip @text={{code.tooltip}} @side="right" />
              </span>
            </span>
            {{/if}}
          {{/if}}
        </span>
        {{/unless}}
      {{/component}}
      <span class="md-input-error">
        {{#if this.showErrorMessage}}
          <span class="md-error">
            {{fa-icon "exclamation-circle"}}
            <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip danger">
                {{v-get this.model this.path "message"}}
            </EmberTooltip>
          </span>
        {{/if}}

        {{#if this.showWarningMessage}}
          <span class="md-warning">
            {{fa-icon "exclamation-triangle"}}
            <EmberTooltip @side="right" @tooltipClass="ember-tooltip md-tooltip warning">
            {{v-get this.model this.path "warningMessage"}}
            </EmberTooltip>
          </span>
        {{/if}}
      </span>
    </div>
