<h4 class="section-header">
  Editing Transfer Options for
  <span class="text-success">Distributor #{{this.distributorId}}</span> in
  <span class="text-primary">Distribution #{{this.distributionId}}</span>
  <Control::MdButtonConfirm @class="btn btn-xs btn-danger" @onConfirm={{route-action "deleteTransfer"}} @tooltip="Delete Transfer Option?" @tipClass="danger" @tipSide="bottom">
    <FaIcon @icon="x" /> Delete
  </Control::MdButtonConfirm>
  <Control::MdStatus @model={{this.parentModel}} />
</h4>

<Object::MdTransfer @model={{this.model}} @profilePath="record.distribution.distributor.transferOption" />

<ToElsewhere @named="md-subbar-buttons" @send={{component "control/md-button"
  text="Back to Distributor"
  icon="arrow-left"
  class="btn-primary btn-lg"
  click=(route-action "backToDistributor")
  }} />

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  refresh=this.refresh scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}} />
