<Input::MdCodelist @label="Association Type" @create={{true}} @tooltip={{true}} @icon={{false}} @disabled={{false}} @allowClear={{true}} @showValidations={{true}} @mdCodeName="associationType" @path="associationType" @model={{this}} @placeholder="Choose Type of Association" @profilePath={{concat this.profilePath ".associationType"}} @data-spy="Association Type" />

<Input::MdCodelist @label="Initiative Type" @create={{true}} @tooltip={{true}} @icon={{false}} @disabled={{false}} @allowClear={{true}} @showValidations={{true}} @mdCodeName="initiativeType" @path="initiativeType" @model={{this.model}} @placeholder="Choose Type of Initiative" @profilePath={{concat this.profilePath ".initiativeType"}} />

{{#unless this.model.mdRecordId}}
  <div class="form-group">
      <Object::MdResourceTypeArray @plain={{false}} @value={{this.model.resourceType}} @required={{true}} @data-spy="Resource Types" @profilePath={{concat this.profilePath ".resourceType"}} />
  </div>


  {{#with this.model.resourceCitation as |citation|}}
    <Object::MdCitation @model={{citation}} @profilePath={{concat this.profilePath ".resourceCitation"}} @simpleIdentifier={{true}} />
  {{/with}}

  <Layout::MdCard @title="Metadata Citation" @profilePath={{concat this.profilePath ".metadataCitation"}} @shadow={{true}} @collapsible={{true}} @collapsed={{true}}>
  {{#with this.model.metadataCitation as |metdata|}}
    <Object::MdCitation @model={{metdata}} @profilePath={{concat this.profilePath ".metadataCitation"}} @embedded={{true}} @simpleIdentifier={{true}} />
  {{/with}}
  </Layout::MdCard>
{{else}}

  <Layout::MdCard @title="Linked Record" @shadow={{false}} @block={{false}} @muted={{false}} @collapsible={{false}} @collapsed={{false}} @btnText="Edit" @btnClass={{concat "success" (unless this.linkedRecord "disabled")}} @btnAction={{action this.editLinked this.linkedRecord}} @btnIcon="pencil">
  <div class="card-block">
    {{#if this.linkedRecord}}
      <Object::MdCitation::Preview::Body @citation={{this.linkedRecord.json.metadata.resourceInfo.citation}} @class="text-muted">
        <dl class="dl-horizontal col-lg-12">
          <Control::MdDefinition @title="Resource Type(s)">
              {{#each this.linkedRecord.json.metadata.resourceInfo.resourceType as |type|}}
                  {{type.type}}:
                  {{#if type.name}}
                      {{type.name}}
                  {{else}}
                      <em>Not named</em>
                  {{/if}}
                  <br>
                  {{else}}
                      <em class="text-muted">No types assigned!</em>
              {{/each}}
          </Control::MdDefinition>
        </dl>
        {{#with this.linkedRecord.json.metadata.metadataInfo.metadataIdentifier as |meta|}}
          <dl class="dl-horizontal col-lg-12">
              <Control::MdDefinition @title="Metadata Identifier">
                {{meta.identifier}} {{if meta.namespace (concat "(" meta.namespace ")")}}
              </Control::MdDefinition>
          </dl>
        {{/with}}
      </Object::MdCitation::Preview::Body>
    {{else}}
      <div class="card card-inverse card-danger">
        <div class="card-block">
          <h4 class="card-title"><FaIcon @icon="triangle-exclamation" /> Linked record is missing!</h4>
          <p class="card-text">Cannot find the linked record with id <em>{{this.model.mdRecordId}}</em>.</p>
        </div>
      </div>
    {{/if}}
  </div>

  {{#if this.recordId}}
    <div class="card-footer">
      <div class="row">
        <dl class="dl-horizontal col-lg-12">
          <Control::MdDefinition @title="Linked Association Type" @titleClass="wrapped">
            <Input::MdCodelist @create={{true}} @tooltip={{true}} @icon={{false}} @disabled={{false}} @allowClear={{true}} @showValidations={{true}} @mdCodeName="associationType" @value={{this.linkedAssociationType}} @placeholder="Choose Type of Association" @profilePath={{concat this.profilePath ".linkedAssociationType"}} @data-spy={{false}} />
          </Control::MdDefinition>
        </dl>
      </div>
    </div>
  {{/if}}

  </Layout::MdCard>

{{/unless}}

{{yield}}
