{{input/md-codelist
  label="Association Type"
  create=true
  tooltip=true
  icon=false
  disabled=false
  allowClear=true
  showValidations=true
  mdCodeName="associationType"
  path="associationType"
  model=this
  placeholder="Choose Type of Association"
  profilePath=(concat profilePath ".associationType")
}}

{{input/md-codelist
  label="Initiative Type"
  create=true
  tooltip=true
  icon=false
  disabled=false
  allowClear=true
  showValidations=true
  mdCodeName="initiativeType"
  path="initiativeType"
  model=model
  placeholder="Choose Type of Initiative"
  profilePath=(concat profilePath ".initiativeType")
}}

<div class="form-group">
    {{object/md-resource-type-array
      plain=false
      value=model.resourceType
      required=true
      data-spy="Resource Types"
      profilePath=(concat profilePath ".resourceType")
    }}
</div>

{{#layout/md-card
  title="Associated Resource Citation"
  profilePath=(concat profilePath '.resourceCitation')
  shadow=true
  collapsible=true
  required=true
}}
{{#with model.resourceCitation as |citation|}}
  {{object/md-citation
    model=citation
    profilePath=(concat profilePath '.resourceCitation')
    embedded=true
  }}
{{/with}}
{{/layout/md-card}}

{{#layout/md-card
  title="Associated Metadata Citation"
  profilePath=(concat profilePath '.metadataCitation')
  shadow=true
  collapsible=true
  collapsed=true
}}
{{#with model.metadataCitation as |metdata|}}
  {{object/md-citation
    model=metdata
    profilePath=(concat profilePath '.metadataCitation')
    embedded=true
  }}
{{/with}}
{{/layout/md-card}}

{{yield}}
