<h4 class="col-xxl-11 col-xxxl-10 col-xxl-offset-1 section-header">
  Editing Alternate Identifier: {{this.model.identifier}}
  <Control::MdStatus @model={{compute (route-action "parentModel")}} />
</h4>

<div class="row">
  <Object::MdIdentifier @class="col-xxl-11 col-xxxl-10 col-xxl-offset-1" @model={{this.model}} @profilePath="record.metadata.alternateMetadataReference.identifier" @data-spy="Identifier" />
  {{outlet}}
</div>

<ToElsewhere @named="md-subbar-extra" @send={{component "control/subbar-link" text="Back to Alternate" icon="arrow-left" click=(route-action "goBack")}} />
<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}} />
