{{#if label}}
  <div class="form-group">
    <label>{{label}}</label>
    <select class="form-control md-input-codelist-single" {{action 'setValue' on='change'}} disabled={{disabled}}>
      <option></option>
      {{#each codelist as |code index|}}
        <option value= {{code.codeName}} selected= {{code.selected}}>{{code.codeName}}</option>
      {{/each}}
      {{yield}}
    </select>
  </div>
{{else}}
  <select class="form-control md-input-codelist-single" {{action 'setValue' on='change'}} disabled={{disabled}}>
    <option></option>
    {{#each codelist as |code index|}}
      <option value= {{code.codeName}} selected= {{code.selected}}>{{code.codeName}}</option>
    {{/each}}
    {{yield}}
  </select>
{{/if}}
