<h4 class="section-header">
  Editing Associated Resource #{{resourceId}}
  {{control/md-status model=parentModel}}
</h4>

{{object/md-associated model=model
  profilePath="record.associated"
}}

{{to-elsewhere
  named="md-subbar-extra"
  send=(component "control/subbar-link" text="Back to Resource List" icon="arrow-left" route="record.show.edit.associated")
}}
{{to-elsewhere named="md-scroll-spy-record-edit"
  send=(component "control/md-scroll-spy" scrollInit=scrollTo setScrollTo=(route-action "setScrollTo"))}}
