<td>
  <Input::MdDatetime
    @valuePath='date'
    @model={{this}}
    @showValidations={{true}}
    @required={{true}}
    @forceDateOutput={{true}}
    @profilePath={{concat this.profilePath '.date'}}
  />
</td>
<td>
  <Input::MdCodelist
    @create={{true}}
    @required={{true}}
    @tooltip={{true}}
    @icon={{false}}
    @disabled={{this.disabled}}
    @allowClear={{true}}
    @showValidations={{true}}
    @mdCodeName='dateType'
    @profilePath={{concat this.profilePath '.dateType'}}
    @path='dateType'
    @model={{this}}
    @placeholder='Choose date type'
  />
</td>
<td>
  <Input::MdInput
    @value={{this.model.description}}
    @profilePath={{concat this.profilePath '.description'}}
    @placeholder='Describe the date.'
  />
</td>
{{yield}}