<div class="md-taxon-body" id={{concat "body-" this.elementId}}>
<div class="md-taxon-text">
  {{#if this.collapsible}}
    {{! template-lint-disable no-inline-styles }}
    <div class="inline-block icon" role="button" onClick={{action "toggleCollapse"}} style={{this.padding}}>
      <FaIcon @icon={{if this.collapsed "chevron-right" "chevron-down"}} />
      <strong class="text-success">{{this.taxonomicLevel}}</strong>
    </div>
  {{else}}
    {{! template-lint-disable no-inline-styles }}
    <div class="inline-block" style={{this.padding}}>
      <i class="fa-fw inline-block"></i>
      <strong class="text-info">{{this.taxonomicLevel}}</strong>
    </div>
  {{/if}}
  <div class="inline-block text-truncate">
    <div class="spacer"></div>
     <em>{{if this.taxonomicName this.taxonomicName "Not Defined"}}</em>
      {{#if this.taxonomicSystemId}}
        {{#if this.model.isITIS}}
          (<a href="https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value={{this.taxonomicSystemId}}"
            target="_blank" rel="noopener noreferrer"><small class="text-muted">{{this.taxonomicSystemId}}</small></a>)
        {{else}}
          (<small>{{this.taxonomicSystemId}}</small>)
        {{/if}}
      {{/if}}
      {{#if this.model.commonName}}
        <div class="spacer"></div>
        <span class="text-warning">{{join ", " this.model.commonName}}</span>
      {{/if}}
  </div>

  {{#unless this.preview}}
    {{#unless this.isEditing}}
    <div class="md-taxon-btn">
      <button class="btn btn-xs btn-success" {{action "toggleEditing" this.elementId}}>
      {{!-- <button class="btn btn-xs btn-success" {{action (toggle "isEditing" this)}}> --}}
        <FaIcon @icon="pencil" /> Edit
      </button>

      <Control::MdButtonConfirm @class="btn btn-xs btn-danger" @onConfirm={{action "deleteTaxa" this.model}}>
        <FaIcon @icon="x" /> Delete
      </Control::MdButtonConfirm>

      <Control::MdButton @class="btn-xs btn-info" @icon="plus" @text="Add Child" @responsive={{false}} @click={{action "addChild"}} />
    </div>
    {{/unless}}
  {{/unless}}
</div>
<div id={{concat "editor-" this.elementId}}>

  {{#simple-if this.isEditing}}
    <div class="md-taxon-form">
      <form class="card form" {{action "toggleEditing" on="submit"}}>
        <div class="card-block row form-inline">
          <Input::MdInput @class="col-lg-4" @label="Taxonomic Level" @model={{this}} @valuePath="taxonomicLevel" @showValidations={{true}} @placeholder="Enter the rank of the taxon" @profilePath={{concat this.profilePath ".taxonomicLevel"}} />
          <Input::MdInput @class="col-lg-4" @label="Taxonomic Name" @model={{this}} @valuePath="taxonomicName" @showValidations={{true}} @placeholder="Enter the name of the taxon" @profilePath={{concat this.profilePath ".taxonomicName"}} />
          <Input::MdInput @class="col-lg-4" @label="Taxonomic ID" @value={{this.taxonomicSystemId}} @placeholder="Enter the id assigned to the taxon" @profilePath={{concat this.profilePath ".taxonomicSystemId"}} />
        </div>
        <div class="card-block">
          <Object::MdSimpleArrayTable @title="Common Name" @required={{false}} @plain={{true}} @profilePath={{concat this.profilePath ".commonName"}} @value={{this.model.commonName}} as |val|>
            <td>
              <Input::MdInput @value={{val.item.value}} @placeholder="Enter value" />
            </td>
          </Object::MdSimpleArrayTable>
        </div>

        <footer class="card-footer text-right">
          <button type="submit" class="btn btn-xs btn-info" {{action "toggleEditing" this.elementId}}>
          {{!-- <button class="btn btn-xs btn-info" {{action (toggle "isEditing" this)}}> --}}
            <FaIcon @icon="check" /> OK
          </button>
        </footer>
      </form>
    </div>

  {{/simple-if}}
</div>
</div>

  {{#with this.collapsible}}
    {{#liquid-unless this.collapse class="list-group-item"}}
      <Object::MdTaxonomy::Classification @model={{this.model.subClassification}} @parentItem={{this}} @dragging={{this.dragging}} @preview={{this.preview}} @profilePath={{this.profilePath}} />
    {{/liquid-unless}}
  {{/with}}
