{{#with this.model.json.metadata.resourceInfo as |resource|}}
<div class="row">
    <form class="col-xxl-11 col-xxxl-10 col-xxl-offset-1">
      <h4 class="section-header">
        Editing <em>{{this.model.title}}</em>
        <Control::MdStatus @model={{this.model}} />
      </h4>
      <Layout::MdCard @title="Basic Information" @collapsible={{true}} @collapsed={{false}} @profilePath="record.main.basicInformation" @data-spy="Basic Information" @required={{true}}>

      <Layout::MdWrap @data-spy="Record ID" @class="md-embedded" @profilePath="record.main.basicInformation.recordId">
        <div class="form-group">
          <label class="required">Record ID</label>
          <div class="input-group input-group-md">
            <Input::MdInput @valuePath="recordId" @model={{this.model}} @placeholder="Assigned Record ID" @disabled={{true}} />
            <span class="input-group-btn">
                <button class="btn btn-warning" type="button" {{action this.editId}}>
                  {{fa-icon "pencil"}}
                  Edit</button>
                  <EmberTooltip @text="Edit the metadata id" @tooltipClass="ember-tooltip md-tooltip warning" />
            </span>
          </div>
        </div>
        </Layout::MdWrap>

        <Input::MdInput @value={{this.model.title}} @placeholder="Enter the title for the resource." @label="Title" @required={{true}} @profilePath="record.main.basicInformation.title" @data-spy="Title" @class="md-embedded" />

        {{#if (is-array resource.status)}}
        <Input::MdCodelistMulti @value={{resource.status}} @label="Status" @required={{true}} @create={{true}} @tooltip={{true}} @icon={{false}} @mdCodeName="progress" @placeholder="Select the current status" @profilePath="record.main.basicInformation.status" @data-spy="Status" @class="md-embedded" />
        {{/if}}

        {{!-- {{input/md-codelist-multi
          value=resource.topicCategory label="ISO Topic Category"
          create=false tooltip=true icon=false mdCodeName="topicCategory"
          placeholder="Select one or more topic categories"
          profilePath="record.main.topicCategory"
        }} --}}

        <Layout::MdCard @title="Default Locale" @shadow={{false}} @data-spy={{false}} @required={{true}} @profilePath="record.main.basicInformation.defaultLocale">
          <Object::MdLocale @model={{resource.defaultResourceLocale}} @profilePath="record.main.basicInformation.defaultLocale" />
        </Layout::MdCard>

      </Layout::MdCard>

        {{#if (is-array resource.resourceType)}}
        <div class="form-group">
            <Object::MdResourceTypeArray @plain={{false}} @value={{resource.resourceType}} @required={{true}} @errorMessage="At least one Resource Type is required." @data-spy="Resource Types" @profilePath="record.main.resourceType" />
        </div>
        {{/if}}

        {{#if (is-array resource.pointOfContact)}}
        <Object::MdPartyArray @title="Point Of Contact" @pluralTitle="Points of Contact" @data-spy="Point Of Contact" @collapsible={{true}} @collapsed={{false}} @required={{true}} @value={{resource.pointOfContact}} @profilePath="record.main.pointOfContact" @tipPath="json.metadata.resourceInfo.pointOfContact" @tipModel={{this.model}} />
        {{/if}}

        <Object::MdCitation::Preview @profilePath="record.main.citation" @citation={{resource.citation}} @muted={{true}} @required={{true}} @editCitation={{this.editCitation}} />

        <Layout::MdCard @title="Description" @collapsible={{true}} @collapsed={{false}} @profilePath="record.main.description" @required={{true}}>
          <Input::MdMarkdownArea @value={{resource.abstract}} @profilePath="record.main.description.abstract" @label="Abstract" @placeholder="Enter an Abstract describing the resource." @required={{true}} />

          <Input::MdMarkdownArea @value={{resource.shortAbstract}} @profilePath="record.main.description.shortAbstract" @label="Short Abstract" @placeholder="A short description of the resource. Max of 300 characters." @maxlength={{300}} />

          <Input::MdTextarea @value={{resource.purpose}} @profilePath="record.main.purpose" @label="Purpose" @placeholder="Enter text describing the reason for creating the resource." />

          <Input::MdTextarea @value={{resource.supplementalInfo}} @profilePath="record.main.supplementalInfo" @label="Supplemental Information" @placeholder="Enter text describing other descriptive information about the resource." />

          <Input::MdTextarea @value={{resource.environmentDescription}} @profilePath="record.main.environmentDescription" @label="Environment Description" @placeholder="Description of the processing environment, for example the software, hardware, or the computer operating system." />
        </Layout::MdCard>

        {{#if resource.timePeriod}}
        <Object::MdTimePeriod @model={{resource.timePeriod}} @profilePath="record.main.timePeriod" @data-spy="Time Period" @label="Time Period" />
        {{/if}}

        <Object::MdObjectTable @items={{resource.resourceMaintenance}} @header="Maintenance" @data-spy="Maintenance" @profilePath="record.main.maintenance" @buttonText="Add Maintenance" @ellipsis={{true}} @attributes="frequency" @collapsible={{true}} as |editing|>
          <Object::MdMaintenance @model={{editing}} @profilePath="record.main.maintenance" />
        </Object::MdObjectTable>

        {{#if (is-array resource.graphicOverview)}}
        <Object::MdGraphicArray @model={{resource.graphicOverview}} @data-spy="Graphic Overview" @button-text="Add Graphic" @label="Graphic Overview" @profilePath="record.main.graphicOverview" />
        {{/if}}

        {{#if (is-array resource.credit)}}
        <Object::MdSimpleArrayTable @data-spy="Credit" @title="Credit" @profilePath="record.main.credit" @value={{resource.credit}} as |credit|>
            <td>
                <Input::MdInput @value={{credit.item.value}} @placeholder="Additional credits for the resource." />
            </td>
        </Object::MdSimpleArrayTable>
        {{/if}}
    </form>
</div>
{{/with}}

<ToElsewhere @named="md-scroll-spy-record-edit" @send={{component "control/md-scroll-spy"  scrollInit=this.scrollTo setScrollTo=this.setScrollTo refresh=this.model.profile}} />