<Object::MdObjectTable @items={{this.model}} @header={{this.label}} @buttonText="Add Address" @previewTemplate="object/md-address/md-address-block" @templateClass={{this.templateClass}} @attributes={{this.attributes}} as |address|>

{{!-- Editing: {{address.name}} --}}

<div class="form-group">
    <label class="required">Address Type</label>
    <Input::MdCodelistMulti @model={{address}} @path="addressType" @create={{true}} @tooltip={{true}} @icon={{false}} @mdCodeName="addressType" @required={{true}} @showValidations={{true}} @placeholder="Select or enter one or more types" />
</div>

<Object::MdSimpleArrayTable @title="Street Line" @required={{false}} @plain={{true}} @value={{address.deliveryPoint}} as |line|>
  <td>
      <Input::MdInput @value={{line.item.value}} @placeholder="Enter street address" />
  </td>
</Object::MdSimpleArrayTable>

<div class="row">
    <Input::MdInput @value={{address.city}} @class="col-md-6" @placeholder={{t "placeholders.address.city"}} @label="City" />

    <Input::MdInput @value={{address.administrativeArea}} @class="col-md-6" @placeholder={{t "placeholders.address.state"}} @label="State/Province" />

    <Input::MdInput @value={{address.postalCode}} @class="col-md-6" @placeholder={{t "placeholders.address.postalCode"}} @label="Postal Code" />

    {{!-- {{input/md-input value=address.country
    placeholder="Country Name" label="Country"}} --}}

    <div class="form-group col-md-6">
        <label>Country</label>
        <Input::MdCodelist @value={{address.country}} @namePath="description" @tooltipPath="codeName" @width="175px" @create={{false}} @tooltip={{true}} @icon={{false}} @mdCodeName="countries" @placeholder="Enter a country code" />
    </div>
</div>

<Input::MdTextarea @value={{address.description}} @placeholder={{t "placeholders.address.description"}} @label="Description" />

</Object::MdObjectTable>
{{yield}}
