{{#with this.model.thesaurus as |thesaurus|}}
  <form class="md-keyword-citation form-horizontal">
    <fieldset disabled={{this.disabled}}>
      <div class="form-group">
        <label class="col-sm-2 control-label required">Title</label>
        {{input/md-input
          class="col-sm-10"
          placeholder="Enter title"
          valuePath="title"
          model=this
          showValidations=true
          required=true
          profilePath=(concat this.profilePath ".title")
        }}
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Date</label>
        {{input/md-datetime
          date=this.date
          class="col-xxl-4 col-md-10 col-sm-4"
          profilePath=(concat this.profilePath ".date")
        }}
        <div class="form-group clearfix visible-md-block visible-lg-block" />
        <label class="col-sm-2 control-label">Date Type</label>
        {{input/md-codelist
          class="col-xxl-4 col-md-10 col-sm-4"
          create=false
          tooltip=true
          icon=false
          disabled=this.disabled
          allowClear=true
          mdCodeName="dateType"
          value=this.dateType
          placeholder="Choose date type"
          profilePath=(concat this.profilePath ".dateType")
        }}
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>
        {{input/md-codelist
          class="col-xxl-5 col-lg-7 col-sm-10"
          create=true
          tooltip=true
          icon=false
          disabled=this.disabled
          allowClear=true
          mdCodeName="keywordType"
          value=this.model.keywordType
          profilePath=(concat this.profilePath ".keywordType")
        }}
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Edition</label>
        {{input/md-input
          class="col-sm-10"
          placeholder="Enter edition or version"
          value=thesaurus.edition
          required=false
          profilePath=(concat this.profilePath ".edition")
        }}
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">URL</label>
        {{input/md-input
          class="col-sm-10"
          type="url"
          value=thesaurus.onlineResource.0.uri
          showValidations=true
          placeholder="Enter online link"
          profilePath=(concat this.profilePath ".onlineResourceUrl")
        }}
      </div>
    </fieldset>
  </form>
{{/with}}
{{yield}}
