<h3 class='text-info'>{{fa-icon 'file-text'}} Metadata Records</h3>
{{#if model.length}}
  <Layout::MdCard @collapsible={{true}} @collapsed={{false}} @shadow={{true}}>
    {{control/md-record-table
      data=model
      dataColumns=(compute (route-action 'getColumns') section.meta.type)
      allActions=true
      selectProperty='_selectedFromList'
      showSlider=(route-action 'showSlider')
    }}
  </Layout::MdCard>
{{else}}
  <div class='alert alert-info'>
    <h3>No Metadata Records found.
      {{#link-to 'record.new' class='btn btn-success btn-lg'}}
        {{fa-icon 'plus'}}
        Create a Metadata Record
      {{/link-to}}
    </h3>
  </div>
{{/if}}

{{outlet}}

{{#if errorTarget}}
  {{to-elsewhere
    named='md-slider-error'
    send=(hash
      title=(concat 'Viewing errors for: ' errorTarget.title)
      body=(component 'control/md-errors' errors=errorTarget.schemaErrors)
    )
  }}
{{/if}}