<h3>Metadata Record Dashboard</h3>
<div class="container-fluid">
    <br>
    <table class="table table-striped table-hover">
        <thead>
        <th></th>
        <th>#</th>
        <th>Record Name</th>
        <th>Resource Type</th>
        <th></th>
        </thead>
        <tbody>
        {{#each model key="@index" as |item index|}}
            <tr>
                <td>{{input type="checkbox" name="isChecked"}}</td>
                <td>{{index}}</td>
                <td>{{item.json.metadata.resourceInfo.citation.title}}</td>
                <td>{{item.json.metadata.resourceInfo.resourceType}}</td>
                <td>
                    <button class="btn btn-xs btn-danger pull-right" {{action "deleteItem" item}}>
                        <span class="fa fa-times"></span> Delete
                    </button>
                    <span class="pull-right">&nbsp;</span>
                    <button class="btn btn-xs btn-warning pull-right" {{action "editItem" item}}>
                        <span class="fa fa-pencil"></span> Edit
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{outlet}}
