<div class="row">
  <div class="col-sm-10">
    <h3 class="text-info">Export Data</h3>
    {{#each this.model.records as |section index|}}
    {{#if section.length}}
      {{#if index}}
        <hr>
      {{/if}}

      {{#layout/md-card
        title=section.meta.title
        titleIcon=section.meta.icon
        collapsible=true
        collapsed=false
        data-spy=section.meta.title
        shadow=true
      }}
      {{!-- <h3>{{section.meta.title}}</h3> --}}
      {{control/md-record-table
        data=section
        dataColumns=(compute (route-action "getColumns") section.meta.type)
      }}

      {{/layout/md-card}}
    {{else}}
     <div class="alert alert-info">
       <h3>{{fa-icon section.meta.icon}} No <em>{{section.meta.title}}</em> found.</h3>
     </div>
    {{/if}}
    {{/each}}
  </div>
  <div class="md-control-sidebar col-sm-2 no-nav">
        <div class="btn-group-vertical center-block" role="group" aria-label="Export Button Controls">
          <button type="button" class="btn btn-lg btn-primary md-btn-responsive" {{action "exportData"}}>
            {{fa-icon "sign-out"}} Export All</button>
          <button type="button" class="btn btn-lg btn-info md-btn-responsive" {{action "exportSelectedData"}} disabled={{if this.hasSelected false true}}>
            {{fa-icon "check-square-o"}} Export Selected</button>
          <button type="button" class="btn btn-lg btn-success md-btn-responsive" {{action "exportSelectedData" true}} disabled={{if this.hasSelectedRecords false true}}>
            {{fa-icon "check-square-o"}} Export mdJSON</button>
        </div>
        <hr>
        <label class="center-block text-center">Include Settings?</label>
        {{x-toggle
          value=this.model.settings._selected
          onToggle=(action (mut this.model.settings._selected))
          showLabels=true
          onLabel="Yes"
          offLabel="No"
          size="medium"
          theme="form"
        }}
        <hr>
        {{control/md-scroll-spy offset=130 scrollInit=this.scrollTo setScrollTo=(route-action "setScrollTo")}}
  </div>
</div>
{{outlet}}
