<Layout::MdCard @title={{this.title}} @collapsible={{true}} @collapsed={{false}} @profilePath={{this.profilePath}} @required={{this.required}} @muted={{this.muted}} @spotlightEnabled={{this.spotlightEnabled}} @btnText="Edit" @btnClass="success" @btnAction={{action this.editCitation (dasherize this.title)}} @btnIcon="pencil">

<Object::MdCitation::Preview::Body @citation={{this.citation}} @profilePath={{this.profilePath}} />

{{yield}}
<div class="card-footer">
  <button type="button" name="button" class="btn btn-success pull-right"
    {{action (action this.editCitation (dasherize this.title))}}>
    <FaIcon @icon="pencil" /> Edit Citation
  </button>
</div>
</Layout::MdCard>
