<div class="row md-section-secondary">
  <div class="md-record-content col-sm-10">
    {{liquid-outlet}}
    {{!-- <div class="row">
      <div class="col-xxl-11 col-xxxl-10 col-xxl-offset-1"> --}}
        {{!-- {{liquid-outlet class="liquid-spy"}} --}}
      {{!-- </div>
    </div> --}}
  </div>
  <div class="md-control-sidebar col-sm-2 hidden-print">
    <Control::MdCrudButtons @model={{this.model}} @doSave={{route-action "saveDictionary"}} @doCancel={{route-action "cancelDictionary"}} @doDelete={{route-action "destroyDictionary"}} @doCopy={{route-action "copyDictionary"}} />
    {{component this.subbar context=(route-action "getContext")}}
    <hr>
    <FromElsewhere @name="md-subbar-extra" />

    <FromElsewhere @name="md-scroll-spy-dict-edit" as |spy|>
        {{component spy offset=145}}
    </FromElsewhere>
    {{!-- {{control/md-scroll-spy offset=145 scrollInit=scrollTo}} --}}
  </div>
</div>

<ToElsewhere @named="dictionary-nav" @send={{component "input/md-select-profile" value=this.model.profile record=this.model}} />

{{#if this.model}}
  <ToElsewhere @named="nav-secondary" @send={{component "layout/md-nav-secondary" model=this.model}} />
{{/if}}
