<div class="row md-section-secondary">
  <div class="md-record-content col-sm-10">
    {{outlet}}
    {{!-- <div class="row">
      <div class="col-xxl-11 col-xxxl-10 col-xxl-offset-1"> --}}
        {{!-- {{liquid-outlet class="liquid-spy"}} --}}
      {{!-- </div>
    </div> --}}
  </div>
  <div class="col-sm-2">
    <div class="md-control-sidebar hidden-print">
      {{control/md-crud-buttons
          model=model
          doSave=(route-action "saveDictionary")
          doCancel=(route-action "cancelDictionary")
          doDelete=(route-action "destroyDictionary")
          doCopy=(route-action "copyDictionary")
      }}
      {{component subbar context=(route-action "getContext")}}
      <hr>
      {{from-elsewhere name="md-subbar-extra"}}
      {{from-elsewhere name="md-subbar-extra1"}}

      {{#from-elsewhere name="md-scroll-spy-dict-edit" as |spy|}}
          {{component spy offset=145}}
      {{/from-elsewhere}}
      {{!-- {{control/md-scroll-spy offset=145 scrollInit=scrollTo}} --}}
    </div>
  </div>
</div>
