<div class="row md-section-secondary">
  <div class="md-record-content col-sm-10">
    {{liquid-outlet class="liquid-spy"}}
  </div>
  <div class="col-sm-2">
    <div class="md-control-sidebar hidden-print">
      {{control/md-crud-buttons
          model=model
          doSave="saveDictionary"
          doCancel="cancelDictionary"
          doDelete="destroyDictionary"
          doCopy="copyDictionary"
      }}
      {{component subbar context=(route-action "getContext")}}
      <hr>
      {{from-elsewhere name="md-subbar-extra"}}

      {{#from-elsewhere name="md-scroll-spy-dict-edit" as |spy|}}
          {{component spy offset=134}}
      {{/from-elsewhere}}
      {{!-- {{control/md-scroll-spy offset=134 scrollInit=scrollTo}} --}}
    </div>
  </div>
</div>
