<ul id="md-navbar-secondary" class="nav nav-pills" role="navigation">
  {{#each this.sortedLinks as |link index|}}
    {{#if (and this.hasOverflow link.isOverflow)}}
      <ToElsewhere @named="secondary-nav-menu" @send={{component "layout/md-nav-secondary/link"
          isStaticLinks=this.isStaticLinks
          link=link
          index=index
          model=this.model
          nav=this
          navWidth=this.navWidth
        }} />
    {{else}}
      <Layout::MdNavSecondary::Link @isStaticLinks={{this.isStaticLinks}} @link={{link}} @index={{index}} @model={{this.model}} @nav={{this}} @navWidth={{this.navWidth}} />
    {{/if}}
  {{/each}}

  {{#if this.hasOverflow}}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <MultipleFromElsewhere @name="secondary-nav-menu" />
      </ul>
    </li>
  {{/if}}
</ul>
