<div class="col-md-4">

    {{#layout/md-card
      title="Options"
      class="md-translator-options"
      spotlightEnabled=false
      block=false
    }}
        <form {{action "translate" on="submit"}}>
            <div class="card-block">
                {{input/md-select label="Choose Format"
                  value=this.writer
                  valuePath="value"
                  namePath="name"
                  objectArray=this.writerOptions
                  tooltip=true
                  tooltipPath="tip"
                  searchEnabled=false
                  change=(action "clearResult")
                }}
                <div class="form-group">
                    <label>Force Valid Ouput?</label>
                    <div class="form-control">
                        <div class="inline-block">
                            {{input/md-toggle
                              value=this.forceValid
                              onToggle=(action (mut this.forceValid))
                              showLabels=true
                              onLabel="Yes"
                              offLabel="No"
                              size="medium"
                              theme="form"
                            }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Show Empty Tags?</label>
                    <div class="form-control">
                        <div class="inline-block">
                            {{input/md-toggle
                              value=this.showAllTags
                              onToggle=(action (mut this.showAllTags))
                              showLabels=true
                              onLabel="Yes"
                              offLabel="No"
                              size="medium"
                              theme="form"
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {{#unless this.isApiConfigured}}
                    <div class="alert alert-warning" role="alert">
                        <strong>Warning:</strong> mdTranslator API URL is not configured. Please configure it in
                        <a href="#" {{action "goToSettings"}}>Settings</a> to enable translation.
                    </div>
                {{/unless}}
                {{control/md-status model=this.model isBtn=true bntSize="lg"}}
                <button type="submit" class="btn btn-lg btn-primary pull-right"
                disabled={{or (not this.writer) (not this.isApiConfigured)}}>
                    <FaIcon @icon="retweet" /> Translate
                </button>
            </div>
        </form>
    {{/layout/md-card}}

</div>
<div class="col-md-7">
    {{#if this.isLoading}}
      {{control/md-spinner size="5x" text="Translating..."}}
    {{/if}}

    {{#if this.messages}}
      {{#layout/md-card
        title=(concat "Translation " this.errorTitle)
        class=(concat "card-inverse card-outline-" this.errorClass " md-translator-error " this.errorClass)
        scroll=false
        maximizable=true
        titleIcon="exclamation"
        spotlightEnabled=false
        collapsible=true
      }}
        <h4 class="text-{{this.errorClass}}">{{this.errorSubTitle}}</h4>
        <ul class="list-group">
          {{#each this.messages as |message|}}
            {{#with (compute (action "getErrorClass") message.[0]) as |errorClass|}}
              <li class="list-group-item">
                <div class="">
                  <h4 class="list-group-item-heading">
                    <span class="label label-{{errorClass}}">{{message.[0]}}</span>
                    {{message.[2]}}
                  </h4>
                </div>
                <div class="">
                  <span class="label label-pill {{if message.[3] "label-primary" "label-default"}}">{{message.[1]}}</span>
                  {{compute (action "formatMessage" message.[3])}}
                </div>
              </li>
            {{/with}}
          {{/each}}
        </ul>
      {{/layout/md-card}}
    {{/if}}

    {{#if this.xhrError}}
      {{#layout/md-card
        title="mdTranslator Error"
        spotlightEnabled=false
        class="card-inverse card-outline-danger md-translator-error danger"
        scroll=false
        maximizable=true
        titleIcon="exclamation"
      }}
        <p>{{this.xhrError}}</p>
        <p>An error occurred during the translation. The incident has been
        logged. If the problem persists, please contact techincal support.</p>
      {{/layout/md-card}}
    {{/if}}

    {{#if this.result}}
      {{#layout/md-card
        title="Result"
        class=(if this.messages (concat "card-inverse card-outline-" this.errorClass " md-translator-error " this.errorClass " md-translator-preview") "md-translator-preview")
        scroll=false
        maximizable=true
        titleIcon="check"
        spotlightEnabled=false
      }}
          {{#if this.isHtml}}
          <iframe srcdoc={{this.result}} sandbox="allow-scripts" width="100%" height="100%">
          </iframe>
          {{else}}
          {{input/md-textarea rows=20 class="md-translator-area" placeholder="" value=this.result}}
          {{/if}}

          <div class="card-footer text-right">
            {{#if this.isJson}}
              {{control/md-json-button class="btn-lg btn-primary" json=this.result disabled=(if this.result false true)}}

              <button type="button" class="btn btn-lg btn-primary"
              {{action "prettifyJson"}}
              disabled={{if this.result false true}}>
              <FaIcon @icon="align-left" /> Format
            </button>
            {{/if}}

              <button type="button" class="btn btn-lg btn-success"
              {{action "saveResult"}}
              disabled={{if this.result false true}}>
              <FaIcon @icon="floppy-disk" /> Save Result
              </button>
          </div>
      {{/layout/md-card}}
    {{/if}}
</div>
{{yield}}
