{{!-- TODO: move all action snthax once figured out glimmer component --}}
{{!-- template-lint-disable no-action --}}
<div class="col-md-4">
  <Layout::MdCard
    @title="Options"
    @class="md-translator-options"
    @spotlightEnabled={{false}}
    @block={{false}}
  >
    <form {{on "submit" this.translate}}>
      <div class="card-block">
        <Input::MdSelect
          @value={{this.writer}}
          @valuePath="value"
          @namePath="name"
          @objectArray={{this.writerOptions}}
          @tooltip={{true}}
          @tooltipPath="tip"
          @searchEnabled={{false}}
          @change={{action this.clearResult}}
        />
        <div class="form-group">
          <label>Force Valid Ouput?</label>
          <div class="form-control">
            <div class="inline-block">
              <Input::MdToggle
                @value={{this.forceValid}}
                @onToggle={{action (mut this.forceValid)}}
                @showLabels={{true}}
                @onLabel="Yes"
                @offLabel="No"
                @size="medium"
                @theme="form"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Show Empty Tags?</label>
          <div class="form-control">
            <div class="inline-block">
              <Input::MdToggle
                @value={{this.showAllTags}}
                @onToggle={{action (mut this.showAllTags)}}
                @showLabels={{true}}
                @onLabel="Yes"
                @offLabel="No"
                @size="medium"
                @theme="form"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <Control::MdStatus @model={{this.model}} @isBtn={{true}} @bntSize="lg"/>
          <button type="submit"
            class="btn btn-lg btn-primary pull-right"
            disabled={{if this.writer false true}}
          >
            {{fa-icon "retweet"}} Translate
          </button>
      </div>
    </form>
  </Layout::MdCard>
</div>
<div class="col-md-7">
    {{#if this.isLoading}}
      <Control::MdSpinner @size={{5}} @text="Translating..."/>
    {{/if}}

    {{#if this.messages}}
      <Layout::MdCard
        @title="'Translation ' {{this.errorTitle}}"
        @class="'card-inverse card-outline-' {{this.errorClass}} ' md-translator-error ' {{this.errorClass}}"
        @scroll={{false}}
        @maximizable={{true}}
        @titleIcon="exclamation"
        @spotlightEnabled={{false}}
        @collapsible={{true}}
      >
        <h4 class="text-{{this.errorClass}}">{{this.errorSubTitle}}</h4>
        <ul class="list-group">
          {{#each this.messages as |message|}}
            {{#with (compute (action "myErrorClass") message.[0]) as |errorClass|}}
              <li class="list-group-item">
                <div class="">
                  <h4 class="list-group-item-heading">
                    <span class="label label-{{errorClass}}">{{message.[0]}}</span>
                    {{message.[2]}}
                  </h4>
                </div>
                <div class="">
                  <span class="label label-pill {{if message.[3] "label-primary" "label-default"}}">{{message.[1]}}</span>
                  {{compute (action "formatMessage" message.[3])}}
                </div>
              </li>
            {{/with}}
          {{/each}}
        </ul>
      </Layout::MdCard>
    {{/if}}

    {{#if this.xhrError}}
      <Layout::MdCard
        @title="mdTranslator Error"
        @spotlightEnabled={{false}}
        @class="card-inverse card-outline-danger md-translator-error danger"
        @scroll={{false}}
        @maximizable={{true}}
        @titleIcon="exclamation"
      >
        <p>{{this.xhrError}}</p>
          <p>An error occurred during the translation. The incident has been
          logged. If the problem persists, please contact techincal support.</p>
      </Layout::MdCard>
    {{/if}}

    {{#if this.result}}
      <Layout::MdCard
        @title="Result"
        @class={{if this.messages (concat "card-inverse card-outline-" this.errorClass " md-translator-error " this.errorClass " md-translator-preview") "md-translator-preview"}}
        @scroll={{false}}
        @maximizable={{true}}
        @titleIcon="check"
        @spotlightEnabled={{false}}
      >
        {{#if this.isHtml}}
          <iframe title="doc" srcdoc={{this.result}} sandbox="allow-scripts" width="100%" height="100%" />
          {{else}}
            <Input::MdTextarea @rows={{20}} @class="md-translator-area" @placeholder="" @value={{this.result}}/>
          {{/if}}

          <div class="card-footer text-right">
            {{#if this.isJson}}
              <Control::MdJsonButton @class="btn-lg btn-primary" @json={{this.result}} @disabled={{if this.result false true}}/>
              <button type="button" class="btn btn-lg btn-primary"
              {{action this.prettifyJson}}
              disabled={{if this.result false true}}>
              {{fa-icon "align-left"}} Format </button>
            {{/if}}
              <button type="button" class="btn btn-lg btn-success"
              {{action this.saveResult}}
              disabled={{if this.result false true}}>
              {{fa-icon "floppy-o"}} Save Result </button>
          </div>
      </Layout::MdCard>
    {{/if}}
</div>
{{yield}}
