<h4 class="col-sm-11 col-md-offset-1 section-header">Editing Citation
  <span class="text-danger">
    {{#if model.hasDirtyHash}}
      {{fa-icon "exclamation-circle"}}
      {{tooltip-on-element text='This record has been modified!' side="right"
        class="md-tooltip danger"
      }}
    {{/if}}
  </span>
</h4>
{{#with model.json.metadata.resourceInfo.citation as |citation|}}
    <div class="row">
      {{object/md-citation
        class="col-sm-11 col-md-offset-1"
        model=citation
        profilePath="record.main.citation"
      }}
      {{outlet}}
    </div>
{{/with}}
{{to-elsewhere
  named="md-subbar-extra"
  send=(component "control/subbar-link" text="Back to Main" icon="arrow-left" route="record.show.edit.main")
}}
