<div id="md-wrapper" class="">

  <!-- Sidebar -->
  <div id="md-sidebar-wrapper">
    {{layout/md-nav-sidebar}} {{md-help}}
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="md-page-content-wrapper">
    <div id="md-navbars">
      {{#layout/md-nav-main id="md-navbar-main" }}
        {{outlet "nav"}}
      {{/layout/md-nav-main}}
      {{outlet "nav-secondary"}}
    </div>
    <div id="md-page-content" class="container-fluid">
      {{outlet}}
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
