{{head-layout}}

<div class='md-message-container'>
  <div class='md-message-wrapper'>
    {{#each flashMessages.queue as |flash|}}
      <FlashMessage @flash={{flash}} as |component flash|>
        {{flash.message}}
        {{#if flash.showProgress}}
          <div class='progress'>
            {{! template-lint-disable no-inline-styles }}
            <div
              class='progress-bar'
              role='progressbar'
              aria-valuenow={{flash.progressValue}}
              aria-valuemin='0'
              aria-valuemax='100'
              style={{html-safe (concat 'width:' flash.progressValue '%;')}}
            >
              {{flash.progressValue}}%
            </div>
          </div>
        {{/if}}
      </FlashMessage>
    {{/each}}
  </div>
</div>

<MdTitle as |title|>
  {{page-title title replace=false}}
</MdTitle>

<div id='md-wrapper' class=''>

  {{! Slider }}
  <Layout::MdSlider
    @visible={{slider.showSlider}}
    @fromName={{slider.fromName}}
    @onClose={{slider.onClose}}
    @context={{slider.context}}
  />
  {{! /#slider }}

  {{! Sidebar }}
  <Layout::MdNavSidebar @items={{this.model}} />
  {{! /#sidebar-wrapper }}

  {{! Page Content }}
  <div id='md-page-content-wrapper'>
    <div id='md-navbars'>
      <Layout::MdNavMain>
        <FromElsewhere @name='nav-main' />
      </Layout::MdNavMain>
      <Layout::MdBreadcrumb />
      <FromElsewhere @name='nav-secondary' />
    </div>
    <div id='md-page-content' class='container-fluid'>
      {{outlet}}
    </div>
  </div>
  {{! /#page-content-wrapper }}
  <Layout::MdFooter @class='hidden-print' />
</div>
<EmberLoadRemover />
<Control::MdModal
  @isShowing={{this.settings.data.showSplash}}
  @showConfirm={{true}}
  @confirmLabel='OK'
  @confirm={{action (mut this.settings.data.showSplash) false}}
>
  <div class='alert alert-info' role='alert'>{{fa-icon 'exclamation-triangle'}}
    Update Alert</div>
  <p>
    The md<span class='md-icon-mdeditor'></span>ditor has been updated since
    your last session. Some features may have been added or changed. Please note
    the version below (also shown in the
    <LinkTo @route='settings'>Settings</LinkTo>) when reporting bugs or issues.
    If you are having problems, you might want to
    <LinkTo @route='settings'> clear your localstorage.</LinkTo>
    <strong class="text-danger">CAUTION: Clearing your localstorage will delete
      all records.</strong>
  </p>
  <p>
    Current Version:
    <span class='text-info'><Control::MdRepoLink /></span>
  </p>
</Control::MdModal>
{{#if spotlight.show}}
  <Control::MdSpotlight />
{{/if}}

<Control::MdScrollSpy @scrollInit='top' @routeName={{currentRoute}} />