<Input::MdInput @value={{this.model.name}} @label="Name" @placeholder="Online Resource Name" @profilePath={{concat this.profilePath ".name"}} />

<Input::MdInput @type="url" @valuePath="uri" @model={{this.model}} @profilePath={{concat this.profilePath ".url"}} @label="URI" @placeholder="Online Resource URI" />

{{#if this.imagePicker}}
  <div class="row">
    <div class="col-sm-6">
      {{#let (file-queue onFileAdded=this.handleFile) as |queue|}}
        <FileDropzone @queue={{queue}} class="md-file-picker text-center" as |dropzone|>
          <input type="file" accept=".jpeg,.jpg,.png,.gif,.svg" style="display: none;" {{on "change" (fn this.handleFileInput queue)}} id="image-file-input">
          <button type="button" class="btn btn-lg btn-info {{if dropzone.active 'over'}}" {{on "click" this.triggerFileInput}}>
            {{fa-icon "bullseye"}} Click to Select or Drop Image
          </button>
        </FileDropzone>
      {{/let}}
    </div>
    <div class="col-md-6">
      <div class="md-preview-image text-center">
        {{#if this.model.uri}}
            <img src={{this.model.uri}} class="img-responsive img-thumbnail" alt="Image Preview">
        {{else}}
            Enter URI or select file to preview.
        {{/if}}
    </div>
    </div>
  </div>
{{/if}}

<Input::MdInput @value={{this.model.protocol}} @profilePath={{concat this.profilePath ".protocol"}} @label="Protocol" @placeholder="Protocol for accessing the Online Resource" />

<Input::MdTextarea @maxlength={{500}} @value={{this.model.description}} @label="Description" @profilePath={{concat this.profilePath ".description"}} @placeholder="Description of the Online Resource: Less than 500 characters" />

<Input::MdCodelist @value={{this.model.function}} @mdCodeName="onlineFunction" @label="Function" @placeholder="Select function of the Online Resource" @profilePath={{concat this.profilePath ".onlineFunction"}} @tooltip={{true}} @allowClear={{true}} @width="70%" />

<Input::MdCodelist @value={{this.model.applicationProfile}} @mdCodeName="applicationProfile" @label="Application Profile" @placeholder="Name of an application profile for the Online Resource" @profilePath={{concat this.profilePath ".applicationProfile"}} @tooltip={{true}} @allowClear={{true}} @width="70%" @create={{true}} />

<Input::MdTextarea @value={{this.model.protocolRequest}} @label="Protocol Request" @profilePath={{concat this.profilePath ".protocolRequest"}} @placeholder="Request used to access the resource depending on the protocol, e.g. body of POST(http)_ request." />
{{yield}}
